.container-fluid
  .row
    .col-sm-8.col-sm-offset-2
      h1 SERVICES:
      hr.header
  .row.services-container
    .col-sm-8.col-sm-offset-2.services-content
      = image_tag('services-offered.png')
  .row.services-container
    .col-sm-8.col-sm-offset-2.services-content
      = image_tag('services-image.png')