.contact class="contact-#{contact.id}"
  .row
    .col-sm-12
      hr
    .col-sm-11
      = simple_form_for(contact, url: contact.id ? profile_alternative_contact_path(@profile, contact) : profile_alternative_contacts_path(@profile, contact), html: { class: 'form-horizontal col-md-12 edit-alternative-contact'}, remote: true) do |f|
        .col-sm-10.col-sm-offset-1
          / Alternative contact - Ex: skype
          = f.input :account_type, required: true, class: 'account_type', style: 'width: 100%;', label: 'Alternative Method for Contact'
        .col-sm-10.col-sm-offset-1
          / Alternative name - Ex: skype1
          = f.input :account_value, required: true, class: 'account_value', style: 'width: 100%;', label: 'Username for Alternative Contact'
        .col-sm-10.col-sm-offset-1.clearfix
          = f.submit t('views.labels.save'), class: 'btn btn-sm btn-theme pull-right', data: { disable_with: t('views.labels.saving') }
    - unless contact.new_record?
      .col-sm-1
        = button_to profile_alternative_contact_path(@profile, contact), method: :delete, remote: true, class: 'btn btn-sm btn-danger pull-right mT30', data: { confirm: 'Are you sure you want to delete this?' } do
          p = t('views.labels.delete')