$div = $('.alternative-contacts .contact')
if ($div.length > 0) {
  $div.last().append('<%= escape_javascript(render partial: "alternative_contacts/form", locals: { contact: @contact} ) %>')
} else {
  $('.alternative-contacts').append('<%= escape_javascript(render partial: "alternative_contacts/form", locals: { contact: @contact} ) %>')
}

initializeMentorAccountSettingForm()
initializeStudentAccountSettingForm()

<% if @contact.errors.empty? %>
  _n.renderSuccessPopup("<%= t('views.alternative_contacts.create.success') %>")
  $('.new-alternative-contact-form').toggleClass('hidden', true)
<% else %>
  _n.renderErrorPopup(MESSAGES.ERRORS.ACCOUNT_SETTINGS)
  $('.has-error input, .has-error select, .has-error textarea').focus()
<% end %>