initializeMentorAccountSettingForm()
initializeStudentAccountSettingForm()

<% if @contact.errors.empty? %>
  _n.renderSuccessPopup("<%= t('views.alternative_contacts.destroy.success') %>")
  $('.alternative-contacts').find(".contact-<%= @contact.id %>").remove()
<% else %>
  _n.renderErrorPopup(MESSAGES.ERRORS.ACCOUNT_SETTINGS)
  $('.has-error input, .has-error select, .has-error textarea').focus()
<% end %>