p Hello #{@task.mentor.user.full_name},

p Your Student #{link_to(@task.student.user.full_name, profile_url(@task.student.user))} sent you an additional instruction regarding the task.

p Additional Instruction: #{@task.additional_instructions}

p Please click #{link_to('here', profile_task_url(@task.mentor.user, @task))} to see the task detail.

p.mT10 Sincerely yours,

strong afriendabroad