p Hello #{@task.mentor.user.full_name},

p Your Student #{link_to(@task.student.user.full_name, profile_url(@task.student.user))} reverted your task to In Progress. Please check again the file and wait some additional comments or clarification from the student.

p Please click #{link_to('here', profile_task_url(@task.mentor.user, @task))} to see the task detail.

p.mT10 Sincerely yours,

strong afriendabroad