p Hello #{@task.student.user.full_name},

p Your Mentor #{link_to(@task.mentor.user.full_name, profile_url(@task.mentor.user))} is done with your task.

p Please click #{link_to('here', profile_task_url(@task.student.user, @task))} to see the task detail.

p.mT10 Sincerely yours,

strong afriendabroad