p Hello #{@task.student.user.full_name},

p Your Mentor #{link_to(@task.mentor.user.full_name, profile_url(@task.mentor.user))} set your task to "In Progress".

p If your service request includes an essay review, your mentor will upload an edited essay within 48 hours of this email.

p Please click #{link_to('here', profile_task_url(@task.student.user, @task))} to see the task detail.

p Students pay for 500 words per essay order and you may book multiple orders for longer essays. If your essay's length exceeds the limit for the order made, your mentor will stop editing at the limit. Please make multiple essay orders based on the length of your essay (one order for every 500 words).

p Thank you.

p.mT10 Sincerely yours,

strong afriendabroad