p Hello #{@task.mentor.user.full_name},

p Your Student #{link_to(@task.student.user.full_name, profile_url(@task.student.user))} is done uploading the request file to be mentored.

p Please click #{link_to('here', profile_task_url(@task.mentor.user, @task))} to see the task and the file.

p.mT10 Sincerely yours,

strong afriendabroad