.col-sm-12
  .row
    .col-sm-12
      h2.blue Matching Students
    .col-sm-12.mT30
      .grid-container
        - if @students.empty?
          p.text-center No Student Available.
        - else
          - @students.each do |student|
            = render partial: 'students/student_grid', locals: { student: student,  column_size: 'col-sm-3', top: false }
          .row
            .col-md-12
              = paginate @students