.col-sm-12
  .row
    .col-sm-12
      h2.blue Matching Mentors
    .col-sm-12.mT30
      .grid-container
        - if @mentors.empty?
          p.text-center No Mentors Available.
        - else
          p Please bookmark each mentor you are interested in so you can book their services later.
          - @mentors.each do |mentor|
            = render partial: 'mentors/mentor_grid', locals: { mentor: mentor,  column_size: 'col-sm-3', top: false, bookmark_button: true }
          .row
            .col-md-12
              = paginate @mentors