.container
  .p10.mT10
    - if (@profile.present? && @profile.student?) || current_user.student?
      = render 'students'
    - elsif (@profile.present? && @profile.mentor?) || current_user.mentor?
      = render 'mentors'