.message id="message-#{message.id}"
  .message-info
    span.name = link_to message.user.first_name, profile_path(message.user), class: 'blue'
    span.timestamp = timeago_tag message.created_at, :nojs => true, :limit => 10.days.ago
  .message-avatar
    = image_tag(message.user.primary_photo.thumb_grid.url, class: 'img-circle')
  .text-message
    p = message.text