.row
  .col-sm-12
    .alert.alert-info
      p Your session is not yet starting please wait for the time.
.messenger-countdown-timer id="messenger-countdown-timer-#{@messenger.slug}" data-current-path=request.path data-remaining-time=@messenger.appointment.schedule.start_datetime_remaining