- if @messenger.appointment.approved?
  = simple_form_for(@message, html: { class: 'col-md-12 messenger-message-form' }, url: profile_messenger_message_path(@profile, @messenger), remote: true, method: :post) do |f|
    = f.hidden_field :messenger_id
    = f.hidden_field :user_id
    = f.input :text, as: :text, input_html: { placeholder: 'Write a message...', autofocus: true }, label: false
    - unless ['video_call', 'voice_call'].include? params[:action]
      / INITIATE VIDEO CALL
      - if params[:action] != 'video_call' && !current_user.administrator?
        = link_to 'Video Call', profile_messenger_video_call_path(@profile, @messenger), class: 'btn btn-warning btn-sm btn-flat', data: { no_turbolink: true }
    - if params[:action] == 'video_call' && !current_user.administrator?
      = link_to 'End Call ', profile_messenger_path(@profile, @messenger), class: 'btn btn-danger btn-sm btn-flat', data: { no_turbolink: true }
      = link_to 'Call Again', profile_messenger_video_call_path(@profile, @messenger), class: 'btn btn-warning btn-sm btn-flat mL10', data: { no_turbolink: true }
    = link_to t('views.tasks.view_task_label'), profile_task_path(@profile, @messenger.task), class: 'btn btn-default btn-sm btn-flat mL10'
    = f.submit t('views.labels.send'), class: 'btn btn-flat btn-blue pull-right btn-sm', data: { disable_with: t('views.labels.sending') }