= button_to t('views.labels.load_more'), profile_messenger_path(@profile, @messenger, page: @page + 1, format: :js), method: :get, remote: true, class: 'btn btn-blue btn-sm', data: { disable_with: t('views.labels.loading')}