.row.profile-messages id="messenger-#{@messenger.id}-profile-#{@profile.id}"
  .col-sm-12
    .messages-scroll
      #load_more_messages.text-center
        = render 'load_more_button'
      .message-main-container
        .messages-container id=@messenger.slug
          = render @messages
      .scroll_end
  .col-sm-12
    .message-box
      = render 'form'