.modal.fade.modal-default#request-video-call-notification-modal role='dialog' tabindex='-1' data-backdrop='static'
  .modal-dialog.default-position role='document'
    .modal-content
      .modal-header
        p
          strong Your call was declined.
      .modal-body
        p = " Do you want to call #{user.first_name} again?"
      .modal-footer
        .pull-left
          = link_to 'Cancel', profile_messenger_path(user, messenger), class: 'btn btn-default btn-sm btn-flat', data: { disable_with: t('views.labels.redirecting'), no_turbolink: true }
        .pull-right
          = link_to 'Video Call', profile_messenger_video_call_path(user, messenger), class: 'btn btn-success btn-sm btn-flat', data: { disable_with: 'Calling...', no_turbolink: true }