- if @messenger.appointment.approved?
  .video-holder id="video-call-#{@messenger.slug}" data-referer-path=profile_messenger_path(@profile, @messenger)
    .alert.alert-info
      p If you are in a call already and the connection is not established or having a bad connection, you can refresh the browser or click Call Again button below to refresh the peer connection.
    p.text-warning.peer-connection-state Calling...
    #responser_video.big_video
    .video-requester-holder
      video#requester_video.small_video oncontextmenu="return false;"
      meter.requester_volume min='-45' max='-20' high='-25' low='-40'
    hr