.modal.fade.modal-default#video-call-notification-modal role='dialog' tabindex='-1' data-backdrop='static'
  .modal-dialog.default-position role='document'
    .modal-content
      .modal-header
        p
          strong Video Call
      .modal-body
        p ="#{user.first_name} is calling you with a video call."
      .modal-footer
        .pull-left
          = button_to 'Decline', profile_messenger_decline_video_call_path(user, messenger, from_user: from_user.id, format: :js), method: :put, remote: true, class: 'btn btn-danger btn-sm btn-flat', data: { disable_with: t('views.labels.processing')}
        .pull-right
          = link_to 'Answer', profile_messenger_video_call_path(user, messenger), class: 'btn btn-success btn-sm btn-flat', data: { disable_with: 'Answering...' }