.container
  .profile.mT20
    .row
      = render 'profile/profile_sidebar'
      .col-sm-9
        #messenger-detail
          .box-panel.box-gray
            .box-inner
              h2.blue Mentor - Student Discussion room
              hr.white

              - if @messenger.appointment.schedule.start_appointment?(0)
                = render 'video_call'
                = render 'messenger_detail'
              - else
                = render 'countdown_timer'