
- if controller_name != 'sessions'
  = link_to "Log in", new_session_path(resource_name), class: 'btn btn-block btn-bevel btn-theme mT20'

- if devise_mapping.registerable? && controller_name != 'registrations'
  .row.mT20.mB20
    .col-sm-12
      p.text-center -----  OR  ------
    .col-sm-6
      = link_to "Register as a Student", student_register_path, class: 'btn btn-block btn-bevel btn-blue', data: { disable_with: 'Redirecting...' }
    .col-sm-6
      = link_to "Register as a Mentor", mentor_register_path, class: 'btn btn-block btn-bevel btn-theme', data: { disable_with: 'Redirecting...' }

- if devise_mapping.confirmable? && controller_name != 'confirmations'
  = link_to "Didn't receive confirmation instructions?", new_confirmation_path(resource_name)

- if devise_mapping.lockable? && resource_class.unlock_strategy_enabled?(:email) && controller_name != 'unlocks'
  = link_to "Didn't receive unlock instructions?", new_unlock_path(resource_name)

- if devise_mapping.omniauthable?
  - resource_class.omniauth_providers.each do |provider|
    = link_to "Sign in with #{provider.to_s.titleize}", omniauth_authorize_path(resource_name, provider)