- if @profile.student?
  / NOTICE
  = link_to '#', class: 'btn btn-warning btn-sm', title: t('views.labels.notice'), role: 'button', data: { toggle: 'popover', content: t('views.tasks.notice.accepted.student'), placement: 'left', trigger: 'focus' } do
    p
      span.ion-information-circled.mR5
      span = t('views.labels.notice')
- if @profile.mentor?
  / NOTICE
  = link_to '#', class: 'btn btn-warning btn-sm', title: t('views.labels.notice'), role: 'button', data: { toggle: 'popover', content: t('views.tasks.notice.accepted.mentor'), placement: 'left', trigger: 'focus' } do
    p
      span.ion-information-circled.mR5
      span = t('views.labels.notice')
  / SET AN APPOINTMENT
  - if @profile.mentor? && @task.status == Task.accepted && @task.service.appointment_service? && @task.appointment.blank?
    = link_to t('views.tasks.appointment.new.button_label'), appointment_profile_task_path(@profile, @task), class: 'mL5 btn btn-default btn-sm mL10'
  / IN PROGRESS
  = button_to in_progress_profile_task_path(@profile, @task), method: :put, remote: true, class: 'mL5 btn btn-success btn-sm mL10', data: { disable_with: t('views.labels.processing') }, form: { class: 'display-inline' } do
    p = t('views.tasks.in_progress.button_label')

- if @task.service.appointment_service? && @task.appointment.present?
    / APPOINTMENT REQUEST SCHEDULE
    = button_to edit_profile_schedule_path(@profile, @task.appointment.schedule, format: :js, task_detail: 1), method: :get, remote: true, class: 'btn btn-danger btn-sm mL10', data: { disable_with: t('views.labels.processing') }, form: { class: 'display-inline' } do
      p
        span.mR5.ion-alert
        span = t('views.tasks.appointment.show.button_label')
    #modal-container