- if @profile.student?
  / NOTICE
  = link_to '#', class: 'btn btn-warning btn-sm', title: t('views.labels.notice'), role: 'button', data: { toggle: 'popover', content: t('views.tasks.notice.completed.student'), placement: 'left', trigger: 'focus' } do
    p
      span.ion-information-circled.mR5
      span = t('views.labels.notice')

- if @profile.mentor?
  / NOTICE
  = link_to '#', class: 'btn btn-warning btn-sm', title: t('views.labels.notice'), role: 'button', data: { toggle: 'popover', content: t('views.tasks.notice.completed.mentor'), placement: 'left', trigger: 'focus' } do
    p
      span.ion-information-circled.mR5
      span = t('views.labels.notice')
