= simple_form_for(@task, html: { class: 'col-md-12 task-comment-form' }, url: comment_profile_task_path(@profile, @task), remote: true, method: :put) do |f|
  = f.input :additional_comments, as: :text, input_html: { placeholder: 'Write a comment...' }, label: 'Write a comment to your student in the box below and click the button to send'
  = f.submit t('views.labels.send'), class: 'btn btn-flat btn-blue pull-right', data: { disable_with: t('views.labels.sending') }