= simple_form_for(@task, html: { class: 'col-md-12 task-description-form' }, url: profile_task_path(@profile, @task), remote: true, method: :put) do |f|
  = f.error_notification
  = f.input :description, as: :text, input_html: { placeholder: 'Provide a description for your task...' }, label: 'Edit Task Description'
  = f.submit t('views.labels.update'), class: 'btn btn-flat btn-blue pull-right', data: { disable_with: t('views.labels.updating') }