- if @profile.student?
  / NOTICE
  = link_to '#', class: 'btn btn-warning btn-sm', title: t('views.labels.notice'), role: 'button', data: { toggle: 'popover', content: t('views.tasks.notice.done.student'), placement: 'left', trigger: 'focus' } do
    p
      span.ion-information-circled.mR5
      span = t('views.labels.notice')
  / IN PROGRESS
  = button_to in_progress_profile_task_path(@profile, @task, revert: 1), method: :put, remote: true, class: 'btn btn-success btn-sm mL10', data: { disable_with: t('views.labels.processing') }, form: { class: 'display-inline' } do
    p = t('views.tasks.back_to_in_progress.button_label')
  / COMPLETED
  = button_to completed_profile_task_path(@profile, @task), method: :put, remote: true, class: 'btn btn-blue btn-sm mL10', data: { disable_with: t('views.labels.processing') }, form: { class: 'display-inline' } do
    p = t('views.tasks.completed.button_label')

- if @profile.mentor?
  / NOTICE
  = link_to '#', class: 'btn btn-warning btn-sm', title: t('views.labels.notice'), role: 'button', data: { toggle: 'popover', content: t('views.tasks.notice.done.mentor'), placement: 'left', trigger: 'focus' } do
    p
      span.ion-information-circled.mR5
      span = t('views.labels.notice')
