- if @profile.student?
  / NOTICE
  = link_to '#', class: 'btn btn-warning btn-sm', title: t('views.labels.notice'), role: 'button', data: { toggle: 'popover', content: t('views.tasks.notice.in_progress.student'), placement: 'left', trigger: 'focus' } do
    p
      span.ion-information-circled.mR5
      span = t('views.labels.notice')
- if @profile.mentor?
  / NOTICE
  = link_to '#', class: 'btn btn-warning btn-sm', title: 'NOTICE', role: 'button', data: { toggle: 'popover', content: t('views.tasks.notice.in_progress.mentor'), placement: 'left', trigger: 'focus' } do
    p
      span.ion-information-circled.mR5
      span = t('views.labels.notice')
  / DONE
  = button_to done_profile_task_path(@profile, @task), method: :put, remote: true, class: 'btn btn-blue btn-sm mL10', data: { disable_with: t('views.labels.processing') }, form: { class: 'display-inline' } do
    p = t('views.tasks.done.button_label')