/ MENTOR COMMENT
.box-panel.box-gray.mT10
  .box-inner
    .row
      .col-sm-12
        = render 'comment_form'
/ TASK INSTRUCTIONS
.box-panel.box-gray.mT10
  .box-inner
    .row
      .col-sm-12
        h4.text-center.blue Additional comments from Student
        - if @task.additional_instructions
          p = @task.additional_instructions
        - else
          p.text-center No comment.