/ TASK INSTRUCTIONS
.box-panel.box-gray.mT10
  .box-inner
    .row
      .col-sm-12
        = render 'instruction_form'
/ MENTOR COMMENT
.box-panel.box-gray.mT10
  .box-inner
    .row
      .col-sm-12
        h4.text-center.blue Additional comments from mentor
        - if @task.additional_comments
          p = @task.additional_comments
        - else
          p.text-center No comment.
