.row
  .col-sm-12
    .row.mT10
      .col-sm-3
        strong Service:
      .col-sm-9
        p = link_to task.service.title, profile_task_path(@profile, task), class: 'blue underline btn btn-default', title: 'View Task'
    .row.mT10
      .col-sm-3
        strong Service Type:
      .col-sm-9
        p = task.service.service_type.gsub('_', ' ')
    .row.mT10
      .col-sm-3
        strong Status:
      .col-sm-9
        p = task.status.gsub('_', ' ')
    .row.mT10
      .col-sm-3
        strong Reference Number:
      .col-sm-9
        p.text-danger = task.reference_number
    - if task.service.service_type == Service.appointment_service
      .row.mT10
        .col-sm-3
          strong Appointment:
        .col-sm-9
          - if task.appointment.present?
            p
              strong.mR5 Status:
              span.blue = task.appointment.status.gsub('_', ' ')
            p
              strong.mR5 Start:
              span.blue = task.appointment.presenter.schedule.start_datetime(current_user)
            p
              strong.mR5 End:
              span.blue = task.appointment.presenter.schedule.end_datetime(current_user)
          - else
            p.text-danger No Appointment Scheduled.

    .row.mT10
      .col-sm-3
        strong Description:
      .col-sm-9
        p.task-description = task.description