.row
  .col-sm-12
    label Student's File for Mentor
    - if (@profile.student? && (task.accepted? && task.order.confirmed?)) || current_user.administrator?
      = button_to upload_request_file_profile_task_path(@profile, task, modal: 1), method: :get, remote: true, class: 'btn btn-default btn-block btn-sm mB10', data: { disable_with: t('views.labels.please_wait') } do
        p = task.requested_file.file ? t('views.tasks.upload_request_file.labels.new') : t('views.tasks.upload_request_file.labels.edit')
      p
        small.blue We accept Word, text and PDF file formats.
    - if task.requested_file.file
      = link_to task.requested_file_identifier.split('____').first, task.requested_file.url, class: 'btn btn-block btn-sm btn-blue', target: '_blank'
    - else
      p.text-danger No file uploaded.

  .col-sm-12
    hr.blue
  .col-sm-12
    label Revised file from Mentor
    - if (@profile.mentor? && task.in_progress?) || current_user.administrator?
      = button_to upload_revised_file_profile_task_path(@profile, task, modal: 1), method: :get, remote: true, class: 'btn btn-default btn-block btn-sm mB10', data: { disable_with: t('views.labels.please_wait') } do
        p = task.revised_file.file ?  t('views.tasks.upload_revised_file.labels.new') : t('views.tasks.upload_revised_file.labels.edit')

    - if task.revised_file.file
      = link_to task.revised_file_identifier.split('____').first, task.revised_file.url, class: 'btn btn-block btn-sm btn-blue',  target: '_blank'
      - if @profile.student?
        p
          small.blue The Mentor is done editing
    - else
      p.text-danger No edited version.