.row.task-detail id="task-detail-#{task.id}"
  / TASK DETAIL
  .col-sm-8
      = render 'tasks/task_detail_only', task: task

  / TASK UPLOADS
  .col-sm-4.text-center
    = render 'tasks/task_uploads', task: task
  .col-sm-12
    hr.blue