/ MENTOR | STUDENT DETAIL
.box-panel.box-gray
  .box-inner
    - if @profile.student?
      h2.mB10.blue Your Mentor
      = render 'profile/mentor_profile_header', profile: @task.mentor.user
    - else
      h2.mB10.blue Your Student
      = render 'profile/student_profile_header', profile: @task.order.student.user

/ TASK DETAIL
.box-panel.box-gray.mT10
  .box-inner
    .row#task_detail
      .col-sm-12
        .col
          h4.blue Task
      .col-sm-12
        = link_to t('views.orders.view_order_label'), profile_order_path(@profile, @task.order), class: 'btn btn-default btn-sm mB10'
        .pull-right
          = render @task.status.underscore if Task::STATUSES_WITH_ACTION.include?(@task.status)
        hr.blue
      .col-sm-12
        = render @task
      #modal-holder
- if @profile.student?
  / EDIT TASK DESCRIPTION
  .box-panel.box-gray.mT10
    .box-inner
      .row
        .col-sm-12
          = render 'description_form'
  / STUDENT INSTRUCITONS TO MENTOR
  = render 'student_instructions'
  / RATING
  = render partial: 'ratings/modal', locals: { rating: Rating.new, task: @task, profile: @profile }
- if @profile.mentor?
  / MENTOR COMMENT TO STUDENT
  = render 'mentor_comment'
