.modal.fade.modal-default#task-upload-revised-file-modal role='dialog' tabindex='-1'
  .modal-dialog.default-position role='document'
    .modal-content
      .modal-header
        p
          strong Upload Revised File
      .modal-body
        = simple_form_for @task, url: upload_revised_file_profile_task_path(@profile, @task, format: :js), method: :put, html: { id: 'task-upload-revised-file-form', class: 'dropzone' } do |f|
      .modal-footer
        = button_tag t('views.labels.close'), class: 'btn btn-default btn-sm', data: { dismiss: 'modal', disable_with: t('views.labels.processing') }