.container
  .profile.mT20
    .row
      = render 'profile/profile_sidebar'
      .col-sm-9
        .box-panel.box-gray
          .box-inner
            - if @profile.student?
              h2.mB10.blue Your Mentor
              = render 'profile/mentor_profile_header', profile: @task.mentor.user
            - else
              h2.mB10.blue Your Student
              = render 'profile/student_profile_header', profile: @task.order.student.user

        #task-appointment-detail
          .box-panel.box-gray.mT10
            .box-inner
              .row
                .col-sm-12
                  h4.blue Task Detail
                  p = link_to 'Go back to Task', profile_task_path(@profile, @task), class: 'btn btn-default btn-sm'
                .col-sm-12
                  = render @task
          - if @task.appointment.blank?
            .box-panel.box-gray.mT10
              .box-inner
                .row
                  .col-sm-12
                    h4.blue Schedule an appointment with the student
                    .alert.alert-info
                      p Please select a slot from the student's calendar that fits your schedule. If none of the slots match your availability, you can request an alternate slot by selecting another slot from the calendar and clicking "submit"
                  .col-sm-12
                    label You current timezone:
                  .col-sm-12
                    = select_tag :timezone, options_for_timezone(@profile.timezone), class: 'select2 form-control'
                  .col-sm-12.mT10
                    label Student's Schedule:
                  .col-sm-12
                    .calendar-container
                      #task-appointment-calendar.calendar data-student-schedules=profile_schedules_path(@task.order.student.user, format: :json) data-mentor-appointments=profile_appointments_path(@task.mentor.user, format: :json) data-task=@task.id data-mentor=@task.mentor.id data-student=@task.order.student.id
                    #modal-container