<% if @task.errors.empty? %>
  _n.renderSuccessPopup("<%= t('views.tasks.comment.success') %>")
<% else %>
  $('form.task-comment-form').html('<%= escape_javascript(render "comment_form") %>')
<% end %>