<% if @task.errors.empty? %>
  $('#task-detail').html('<%= escape_javascript(render "task_detail") %>');
  _n.renderSuccessPopup("<%= t('views.tasks.completed.success') %>");
  $('#rate_your_mentor').modal('toggle');
  initializePopOver();
<% else %>
  _n.renderErrorPopup('<%= @task.errors.full_messages.first %>');
<% end %>