<% if @task.errors.empty? %>
  _n.renderSuccessPopup("<%= t('views.tasks.instruction.success') %>")
<% else %>
  $('form.task-instruction-form').html('<%= escape_javascript(render "instruction_form") %>')
<% end %>