<% if @task.errors.empty? %>
  $('#task-detail').html('<%= escape_javascript(render "task_detail") %>');
  _n.renderSuccessPopup("<%= t('views.tasks.update.success') %>");
  initializePopOver();
<% else %>
  _n.renderErrorPopup('<%= @task.errors.full_messages.first %>');
<% end %>
loader(false)