<% if params[:modal] %>
  $('#modal-holder').html('<%= escape_javascript(render "tasks/upload_request_file_modal") %>')
  $('#task-upload-request-file-modal').modal('show')
  taskUploadRequestFileDropzone()
<% else %>
  <% if @task.errors.empty? %>
    $('#task-detail-<%= @task.id %>').replaceWith('<%= escape_javascript(render @task) %>')
    $('#task-upload-request-file-modal').modal('hide')
    _n.renderSuccessPopup("<%= t('views.tasks.upload_request_file.success') %>")
  <% else %>
    _n.renderErrorPopup('<%= @task.errors.full_messages.first %>');
  <% end %>
<% end %>