<% if @recommendation.errors.empty? %>
  _n.renderSuccessPopup("<%= t('views.recommendations.create.success') %>")
  $('form#recommendation_form')[0].reset()
<% else %>
  _n.renderErrorPopup("<%= @recommendation.errors.full_messages.first %>")
<% end %>