- title ||= title

div class=column_size
  = link_to profile_path(student.user), class: 'black item-link' do

    .text-center.mB20
      - if title
        text-center.mB20
        h3.blue= student.user.services.first.title
    .grid-item.item.gray-item.grid-md
      - if top
        .top
          = image_tag('top.png')
      .inner-item
        .image
          = image_tag(student.user.primary_photo.medium_grid.url)
        p.mT10.mB0
          strong
            = student.user.first_name
        - unless student.schools.empty?
          p
            small
              = "#{student.schools.first.university} - #{student.schools.first.major}"