$('.student-account-settings-container').html('<%= escape_javascript(render "profile/student_account_settings") %>')
initializeStudentAccountSettingForm()
<% if @profile.errors.empty? %>
  _n.renderSuccessPopup("<%= t('views.students.account_settings.success') %>")
<% else %>
  _n.renderErrorPopup(MESSAGES.ERRORS.ACCOUNT_SETTINGS)
  $('.has-error input, .has-error select, .has-error textarea').focus()
<% end %>