.container-fluid
  .row
    .col-sm-10.col-sm-offset-1
      .row
        .col-sm-12.mT30
          .grid-container
            - if @students.empty?
              p.text-center No Mentors Available.
            - else
              - @students.each do |student|
                = render partial: 'students/student_grid', locals: { student: student,  column_size: 'col-sm-3', top: false }
      .row
        .col-sm-12
          = paginate @students