$('.student-profile-edit-container').html('<%= escape_javascript(render "profile/student_profile_edit") %>')
<% if @profile.errors.empty? %>
  _n.renderSuccessPopup("<%= t('views.students.update.success') %>")
<% else %>
  _n.renderErrorPopup(MESSAGES.ERRORS.PROFILE_UPDATE)
  $('.has-error input, .has-error select, .has-error textarea').focus()
<% end %>