.preview-banner style='background-image: url(#{image_url("banner.jpg")})'
  .container.white-overlay.black
    h2 BRILLIANCE BEYOND BORDERS
    h3 Find a mentor already studying your chosen
    h3 major at your dream university abroad!
    .black-box.col-lg-5.mT20
      p
        span For
        span.blue  only $5
        span  get personalized advice from
      p
        span one of our mentors for
        span.blue  30 minutes
      hr.white
      p
        span Give advice to future international
      p
        span student and
        span.blue  earn money!

      p.mT30
        small
          span Not ready to commit?
          span.blue  Learn more and receive updates!
      p
        span.blue.ion-help-circled
        span.blue.mT-10
          small  Got questions? Click here.

      .buttons.clearfix.mT20
        = link_to student_register_path, title: 'Student Sign Up', class: 'btn btn-blue btn-lg pull-left btn-bevel', data: { disable_with: t('views.labels.redirecting') } do
          span Student Sign Up
        = link_to mentor_register_path, title: 'Mentor Sign Up', class: 'btn btn-theme btn-lg pull-right btn-bevel', data: { disable_with: t('views.labels.redirecting') } do
          span Mentor Sign Up