.preview-branding
  .light-blue-background.pT40.pB30
    .container
      .row
        .col-sm-10.col-sm-offset-1
          .row
            .col-sm-6.text-center
              = image_tag('laptop.png')
            .col-sm-6.mT30
              .mL40
                h1 Because a friend can
                h1 take you a long way.

                .wordings
                  p.mT20.light-gray Through our online platform of mentors we offer
                  p.light-gray STUDENTS:

                  ul.mT10
                    li
                      p Contact with experienced mentors.
                    li
                      p Personalized advice on school selection.
                    li
                      p Application and CV editing / review.
                    li
                      p Scholarship and financial aid information.
                    li
                      p Campus tours.

                    p.light-gray.mT20 AND MORE!