.preview-mobile
  .ocean-blue-background.pT60
    .container
      .row
        .col-sm-3.col-sm-offset-1
          = image_tag('mobile.png')
        .col-sm-7
          .col-sm-offset-1.col-sm-10.mB30
            h1.mB30 Coming Soon...
            h5 Our mobile app is currently under development.
            h5 Sign up today to receive instant updates!