.modal.fade.modal-default#login-modal role='dialog' tabindex='-1'
  .modal-dialog.default-position.modal-lg role='document'
    .modal-content
      .modal-body
        .clearfix
          = button_tag type: 'button', class: 'close', data: { dismiss: 'modal' } do
            span &times;
        .row.blue
          .col-sm-6
            h1 Login
            = simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f|
              .flash-message
              .form-inputs
                = f.input :username, autofocus: true
                = f.input :password
                .row
                  .col-sm-6
                    = f.input :remember_me, as: :boolean if devise_mapping.rememberable?
                  .col-sm-6
                    small
                      = link_to 'Forgot password?', new_password_path(resource_name), class: 'theme pull-right underline mR20 mT10'
              .form-actions
                .clearfix
                  = f.submit 'Log in', class: 'btn btn-blue btn-bevel pull-right pL30 pR30', data: { disable_with: t('views.labels.please_wait') }
          .col-sm-6.left-divider.pB30.mB20
            h2 Not Signed up?
            .row
              .col-sm-10.col-sm-offset-1.mT10
                p.text-center Get advice as a Student.
                = link_to 'Student Sign Up', student_register_path, class: 'btn btn-blue btn-block btn-bevel', data: { disable_with: t('views.labels.redirecting') }
              .col-sm-10.col-sm-offset-1.mT20
                p.text-center Get paid as a Mentor.
                = link_to 'Mentor Sign up', mentor_register_path, class: 'btn btn-theme btn-block btn-bevel', data: { disable_with: t('views.labels.redirecting') }
              .col-sm-10.col-sm-offset-1.mT60
                = link_to nil, class: 'theme' do
                  p.text-center.underline More Info