.preview-map
  hr.sky-blue
  .theme-background.pT20
    .container
      .row
        .col-sm-offset-1.col-sm-11.mT10
          h2 Help map the path for students
          h2 abroad and get paid!
        .col-sm-offset-1.col-sm-10
          .col-sm-4.collapsable
            = image_tag('map.png')
          .col-sm-8.mT20
            p.light-gray Through our online platform MENTORS will be able to:
            ul.mT15
              li
                p Contact registered international students.
              li
                p Display their credentials with profile customization.
              li
                p View ratings and increase visibility through
                p ranking.
              li
                p Set prices for new tasks.

              p.light-gray.mT10 AND MORE!