.preview-quick-link
  .black-background
    .container
      h2 There's adventure abroad.
      h2 Take the next step and find a friend to guide you there!
      = link_to mentors_path, title: 'Find a friend abroad', class: 'btn btn-theme mT20', data: { disable_with: t('views.labels.redirecting') } do
        span FIND A FRIEND ABROAD