.preview-the-mentors
  .container
    .row
      .col-sm-offset-1.col-sm-11
        h2.dark-green Give back. Earn fast.
  .container
    .row
      .col-sm-10.col-sm-offset-1
        .sky-blue-container
          .row
            / list
            .col-sm-5.mT15
              .traveler
                h1.number.dark-green 1
                .label-text
                  p Want to give back to aspiring students
                  p while making some money?
              .traveler
                h1.number.dark-green 2
                .label-text
                  p Sign up on our platform and offer your
                  p advice to interested students!
              .traveler
                h1.number.dark-green 3
                .label-text
                  p Earn money fast and get reviewed for
                  p your services. Find yourself abroad soon!
            / image
            .col-sm-7.collapsable
              = image_tag('mentors.png')
              h2.dark-green THE MENTORS