- unless @top_mentors.empty?
  .preview-mentors
    hr.black
    .container
      .row
        .col-sm-offset-1.col-sm-10
          h3.dark-green Just six mentors out of hundreds!
    .sky-blue-background
      .container
        .row
          .col-sm-10.col-sm-offset-1
            .row
              - @top_mentors.each do |mentor|
                .col-sm-4.top-mentor-thumb
                  .thumbnail
                    = image_tag(mentor.user.primary_photo.small_grid.url, class: 'profile-avatar')
                    .caption
                      p.name.ellipsis = mentor.user.first_name
                      p.school.ellipsis = mentor.schools.first.university
                      p.major.ellipsis = mentor.schools.first.major
                      p.mT10.degree.ellipsis = mentor.degree.first