.preview-traveler
  .container
    .row
      .col-sm-offset-1.col-sm-11
        h2.dark-green On the road to success.
  .container
    .row
      .col-sm-10.col-sm-offset-1
        .sky-blue-container
          .row
            / list
            .col-sm-5.mT15
              .traveler
                h1.number.dark-green 1
                .label-text
                  p Not sure if studying abroad is for you?
                  p We'll connect you with the right resources.
              .traveler
                h1.number.dark-green 2
                .label-text
                  p Get the best answers and assistance
                  p from our mentor database!
              .traveler
                h1.number.dark-green 3
                .label-text
                  p Our portal will connect you with reliable
                  p mentors. Find yourself abroad soon!
            / image
            .col-sm-7.collapsable
              = image_tag('student_traveler.png')
              h2.dark-green THE STUDENT TRAVELER