- cache('landing-banner') do
  / BANNER
  = render 'landing/banner'
/ TOP MENTORS
= render 'landing/top_mentors'
/ BRANDING
= render 'landing/branding'
/ TRAVELER
= render 'landing/traveler'
/ MAP
= render 'landing/map'
/ MENTORS
= render 'landing/the_mentors'
/ COMING SOON MOBILE
= render 'landing/coming_soon_mobile'
/ QUICK LINK
= render 'landing/quick_link'