<li class="box-panel box-default message-box box-bordered bounceInDown">
  <div class="box-body clearfix">
    <a href="#" class="p5 pull-right remove-box black" data-widget="remove" data-toggle="tooltip" data-original-title="Remove">
      <i class="ion-close"></i>
    </a>
    <a href="<%= url %>">
      <p class='underline black ellipsis'><%= title %></p>
      <div class="pull-left col-md-10 pL5 pR0">
        <h5 class='blue'><%= message %></h5>
      </div>
    </a>
  </div>
</li>