= simple_form_for(resource, html: { class: 'form-horizontal col-md-12'}, url: student_register_path) do |f|
  .row
    .col-md-12
        = f.error_notification
  .row
    .col-md-12
      .form-group.basic-info
        h3 BASIC INFORMATION
        hr.title
  .row
    .col-md-5
      / Username
      = f.input :username, required: true, autofocus: true
      / Password
      = f.input :password, required: true
      / Confirm Password
      = f.input :password_confirmation, required: true
    .col-md-5.col-md-offset-2
      / Email
      = f.input :email, required: true, autofocus: true
      / First name
      = f.input :first_name, required: true, autofocus: true
      / Last name
      = f.input :last_name, required: true, autofocus: true
  .row.mT30
    .col-md-5
      = f.simple_fields_for :student do |student|
        = student.simple_fields_for :alternative_contacts do |contact|
          / Alternative contact - Ex: Skype
          = contact.input :account_type, input_html: { name: 'user[student_attributes][alternative_contacts_attributes][][account_type]', class: 'account_type', style: 'width: 100%;' }, label: 'Alternative Method for Contact'
          / Alternative name - Ex: skype1
          = contact.input :account_value, input_html: { name: 'user[student_attributes][alternative_contacts_attributes][][account_value]', class: 'account_value', style: 'width: 100%;' }, label: 'Username for Alternative Contact'
    .col-md-5.col-md-offset-2.mT30
      .mL-10
        p.blue.mB0 Phone number and alternative contact
        p.blue.mB0 will only be used to remind you if you of your appointment
        p.blue.mB0 i.e Skype, wechat, LINE, Kakao, mobile number, etc.)
  .row
    .col-md-12
      .form-group.about-yourself-info
        h3 TELL US ABOUT YOURSELF
        hr.title
  .row
    .col-md-5
      / Current Country
      = f.input :current_country, collection: [@user.current_country] || [], selected: @user.current_country, label: 'Where do you live now:', required: true, input_html: { style: 'width: 100%;' }
    .col-md-5.col-md-offset-2
      / Target Countries
      = f.input :target_countries, collection: @user.target_countries || [], selected: @user.target_countries, input_html: { multiple: true,  style: 'width: 100%;' }, label: 'Where you want to study abroad:', required: true
  .row
    .col-md-5
      / Target Degree
      = f.input :target_degree, collection: @degrees, required: true, input_html: { multiple: true, style: 'width: 100%;' }, label: 'Degree(s) you hope to complete abroad:'
    .col-md-5.col-md-offset-2
      = f.input :other_degree, placeholder: 'Please specify', wrapper_html: { id: 'other-degree', class: 'hidden' }
  .row
    .universities
      = f.simple_fields_for :student do |student|
        = student.simple_fields_for :schools do |school|
          .university
            .col-md-5
              / Target Schools
              = school.input :university, collection: [school.object.university], selected: school.object.university, input_html: { name: 'user[student_attributes][schools_attributes][][university]', class: 'user_university', style: 'width: 100%;' }, label: 'University you want to attend abroad:', as: :select
            .col-md-5.col-md-offset-2
              / Target Subjects
              = school.input :major, collection: [school.object.major], selected: school.object.major, required: true, input_html: { name: 'user[student_attributes][schools_attributes][][major]', class: 'user_major', style: 'width: 100%;' }, label: 'Majors or Specializations', as: :select
  .row
    .col-md-5.col-md-offset-7.pR0
      .mL-10.mB10
        p.mB0
          span Example: Computer Science, Sociology, Math, Etc
        p.mB0
          small #{"(Choose the closest option even if it is not the exact subject)"}

      = link_to '#', class: 'btn btn-blue mB20', id: 'add-new-school' do
        span.ion-plus.mR10
        span ADD ANOTHER SCHOOL OR DEGREE
  .row
    .col-md-12
      / Services
      = f.input :service_ids, collection: @services, input_html: { multiple: true, style: 'width: 100%;' }, label: 'What services are you interested in? (Select all that apply)', required: true
  .row
    .col-md-12
      / Question to mentor
      = f.input :questions_to_mentor, as: :text, label: 'How did you find out about us? If you were referred by someone, please type their name.'
  .row
    .col-md-12
      / Remarks
      = f.input :remarks, as: :text, label: 'Describe yourself or leave comments for us:'
  .row
    / Timezone
    .col-md-12
      = f.input :timezone, collection: [@user.timezone] || [], selected: @user.timezone, label: 'Select your default timezone (For all locations in mainland China, please type: Asia Shanghai.)', required: true, input_html: { style: 'width: 100%;' }
  .row
    .form-actions.pull-right
      = f.submit 'Register', class: 'btn btn-blue', data: { disable_with: t('views.labels.loading') }