.container-fluid
  .row
    - cache('devise-extension-student-registration-heading-label') do
      .col-md-8.col-md-offset-2
        .student-info
          h1 Student Registration
          hr.header
          p.mB0 Please register as a student. Once you register, you will have a username and password.
          p.mB0 You can then log in, go to our mentors page and click to view individual mentor profiles.
          p.mB0.mT20 Services: University and career consulation starting from $5 for 30 minutes
          p.mB0 Other services include mock/practice interviews, basic and advanced essay review,
          p CV/resume review starting from $20.
    .col-md-8.col-md-offset-2.form-student-registration
      = render 'form'
