.notification
  .col-sm-12.mB-20
    .pull-right
      small.darkest-gray
        span = timeago_tag(notification.created_at, :nojs => true, :limit => 10.days.ago)
  - if notification.notifiable.present?
    - if notification.user.mentor?
      / STUDENT DETAIL
      .col-sm-12
        .row
          - if notification.notifiable.present?
            .col-sm-2
              .thumbnail
                = image_tag(notification.notifiable.student.user.primary_photo.small_grid.url)
            .col-sm-10
              label
                span.mR10 Student |
                span = link_to notification.notifiable.student.user.first_name, profile_path(notification.notifiable.student.user), class: 'blue'
              p
                strong.mR10 Notification:
                span = notification.message
              - if notification.notifiable.is_a?(Order)
                / ORDER
                p
                  strong.mR10 Order Status:
                  span.blue = notification.notifiable.status.gsub('_', ' ')
                p
                  strong.mR5 Order Price:
                  span.blue = "#{notification.notifiable.currency} #{notification.notifiable.currency_symbol}#{notification.notifiable.price}"
                p
                  strong.mR10 Request Services:
                  span.blue = notification.notifiable.services.map(&:title).join(', ')
                p.mT10 = link_to t('views.orders.view_order_label'), profile_order_path(notification.notifiable.mentor.user, notification.notifiable), class: 'btn btn-default btn-sm'
              - elsif notification.notifiable.is_a?(Task)
                / TASK
                p
                  strong.mR10 Requested Service:
                  span.blue = notification.notifiable.service.title
                p
                  strong.mR10 Service Type:
                  span.blue = notification.notifiable.service.service_type.gsub('_', ' ')
                p
                  strong.mR10 Task Status:
                  span.blue = notification.notifiable.status.gsub('_', ' ')
                p.mT10 = link_to t('views.tasks.view_task_label'), profile_task_path(notification.notifiable.mentor.user, notification.notifiable), class: 'btn btn-default btn-sm'
              - elsif notification.notifiable.is_a?(Schedule)
                / SCHEDULE
                p
                  strong.mR10 Schedule Status:
                  span.blue = notification.notifiable.status.gsub('_', ' ')
                p.mT10 = link_to t('views.tasks.view_task_label'), profile_task_path(notification.notifiable.mentor.user, notification.notifiable.task), class: 'btn btn-default btn-sm'
              - elsif notification.notifiable.is_a?(Appointment)
                / APPOINTMENT
                p
                  strong.mR10 Requested Service:
                  span.blue = notification.notifiable.task.service.title
                p
                  strong.mR10 Schedule:
                  span.blue = notification.notifiable.presenter.schedule.start_datetime(@profile)
                p
                  strong.mR10 Appointment Status:
                  span.blue = notification.notifiable.status.gsub('_', ' ')
                p.mT10 = link_to t('views.tasks.view_task_label'), profile_task_path(notification.notifiable.mentor.user, notification.notifiable.task), class: 'btn btn-default btn-sm'
    - if notification.user.student?
      / MENTOR DETAIL
      .col-sm-12
        .row
          - if notification.notifiable.present?
            .col-sm-2
              .thumbnail
                = image_tag(notification.notifiable.mentor.user.primary_photo.small_grid.url)
            .col-sm-10
              label
                span.mR10 Mentor |
                span = link_to notification.notifiable.mentor.user.first_name, profile_path(notification.notifiable.mentor.user), class: 'blue'
              p
                strong.mR10 Notification:
                span = notification.message
              - if notification.notifiable.is_a?(Order)
                / ORDER
                p
                  strong.mR10 Order Status:
                  span.blue = notification.notifiable.status.gsub('_', ' ')
                p
                  strong.mR5 Order Price:
                  span.blue = "#{notification.notifiable.currency} #{notification.notifiable.currency_symbol}#{notification.notifiable.price}"
                p.mT10 = link_to t('views.orders.view_order_label'), profile_order_path(notification.notifiable.student.user, notification.notifiable), class: 'btn btn-default btn-sm'
              - elsif notification.notifiable.is_a?(Task)
                / TASK
                p
                  strong.mR10 Requested Service:
                  span.blue = notification.notifiable.service.title
                p
                  strong.mR10 Service Type:
                  span.blue = notification.notifiable.service.service_type.gsub('_', ' ')
                p
                  strong.mR10 Task Status:
                  span.blue = notification.notifiable.status.gsub('_', ' ')
                p.mT10 = link_to t('views.tasks.view_task_label'), profile_task_path(notification.notifiable.student.user, notification.notifiable), class: 'btn btn-default btn-sm'
              - elsif notification.notifiable.is_a?(Schedule)
                / SCHEDULE
                p
                  strong.mR10 Schedule Status:
                  span.blue = notification.notifiable.status.gsub('_', ' ')
                p.mT10 = link_to t('views.tasks.view_task_label'), profile_task_path(notification.notifiable.student.user, notification.notifiable.task), class: 'btn btn-default btn-sm'
              - elsif notification.notifiable.is_a?(Appointment)
                / APPOINTMENT
                p
                  strong.mR10 Requested Service:
                  span.blue = notification.notifiable.task.service.title
                p
                  strong.mR10 Schedule:
                  span.blue = notification.notifiable.presenter.schedule.start_datetime(@profile)
                p
                  strong.mR10 Appointment Status:
                  span.blue = notification.notifiable.status.gsub('_', ' ')
                p.mT10 = link_to t('views.tasks.view_task_label'), profile_task_path(notification.notifiable.student.user, notification.notifiable.task), class: 'btn btn-default btn-sm'
  - else
    .col-sm-12
      .row
        .col-sm-2
        .col-sm-10
          p
            strong.mR10 Notification:
            span = notification.message
          p.mT10 = link_to t('views.tasks.view_task_label'), notification.url, class: 'btn btn-default btn-sm'
  .row
    .col-sm-12
      hr.blue