.container
  .profile.mT20
    .row
      = render 'profile/profile_sidebar'
      .col-sm-9
        .box-panel.box-gray
          .box-inner
            .row
              .col-sm-12
                h2.mB10
                  span.mR10.blue Pending Notifications
                  span = "(#{@profile.pending_notifications.size})"
              .col-sm-12
                hr.blue
                #notifications.row
                  - if @notifications.empty?
                    p.text-center.text-danger No Pending Notifications.
                  - else
                    = render @notifications, cache: true
                .row
                  .col-sm-12
                    .text-center
                      = paginate @notifications