.container-fluid
  .row
    .col-sm-8.col-sm-offset-2
      h1 CAREERS:
      hr.header
  .row.careers-container
    .col-sm-8.col-sm-offset-2.careers-content
      = image_tag('careers-info.png')
  .row.careers-container
    .col-sm-8.col-sm-offset-2.careers-content
      = image_tag('careers-image.png')