- cache('forgot-password-form') do
  .row
    .col-sm-6.col-sm-offset-3
      .panel.panel-theme.mT30
        .panel-heading
          h4 Forgot your password?
        .panel-body
          = simple_form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f|
            = f.error_notification

            .form-inputs
              = f.input :email, required: true, autofocus: true

            .form-actions
              = f.button :submit, "Send me reset password instructions", class: 'btn btn-danger btn-block', data: { disable_with: 'Please wait...' }

          = render "devise/shared/links"
