.modal.fade#schedule_form role='dialog'
  .modal-dialog role='document'
    .modal-content
        .modal-header
          - if @schedule.id? and @schedule.available?
            .pull-right
              = button_to profile_schedule_path(@profile, @schedule), method: 'delete', remote: true, class: 'btn btn-danger btn-sm'
                span.ion-trash-b
                span.mL10 Delete
          h5 Schedule for #{default_time_format(@schedule.start_datetime || params[:date])}
          h5 Please enter 30 minutes slots, you may enter multiple slots but each for 30 minutes only.
        = simple_form_for @schedule, url: profile_schedule_path(@profile, @schedule), method: :put, remote: true do |f|
          = render 'schedules/form_body', f: f