.modal-body
  .flashes
  .form-group
    label Timezone
    = f.select :timezone, options_for_timezone(@schedule.timezone || @profile.timezone), {}, class: 'select2 form-control'
  .form-inline.text-center
    = f.hidden_field :start_date, value: params[:date]
    = f.hidden_field :end_date, value: params[:date]
    .form-group
      label FROM
      = f.text_field :start_time, class: 'form-control time-picker mL10', value:  @schedule.formatted_start_time
    .form-group.mL10
      label TO
      = f.text_field :end_time, class: 'form-control time-picker mL10', value: @schedule.formatted_end_time
.modal-footer
  .pull-left
    = button_tag t('views.labels.cancel'), class: 'btn btn-default btn-sm', data: { dismiss: 'modal' }
  = f.submit t('views.labels.save'), class: 'btn btn-theme btn-sm', data: { disable_with: t('views.labels.processing') }