<% if @count.present? && (@count < Schedule::MAX_SCHEDULES_PER_TWO_WEEKS) %>
  if(!$('body').hasClass('schedules')) {
    Turbolinks.visit('<%= profile_schedules_path(@profile) %>')
  } else {
    _n.renderErrorPopup('<%= @error_message %>')
  }
<% end %>