<% if @schedule.errors.any? %>
$('.flashes').html('<%= escape_javascript(render 'shared/flash') %>')
_n.renderErrorPopup('<%= @schedule.errors.full_messages.first %>')
<% else %>
  $('#appointment_schedule_detail').modal('hide')
  _n.renderSuccessPopup("<%= t('views.schedules.close.success') %>")
  <% if params[:task_detail] %>
    Turbolinks.visit(window.location.pathname)
  <% else %>
    $('#schedule-calendar').fullCalendar('refetchEvents')
  <% end %>
<% end %>