<% if @schedule.errors.any? %>
$('.flashes').html('<%= escape_javascript(render 'shared/flash')%>')
<% else %>
$('#schedule_form').modal('toggle')
$('#schedule-calendar').fullCalendar('refetchEvents')
<% end %>
loader(false)