$('#modal-container').html('')
<% if @schedule.available? %>
  <% if params[:task_detail] %>
    _n.renderErrorPopup(MESSAGES.ERRORS.GENERAL)
    Turbolinks.visit(window.location.pathname)
  <% else %>
    $('#modal-container').html('<%= escape_javascript(render 'schedules/edit_form') %>')
    $('#schedule_form').modal('toggle')
    $('.time-picker').unbind()
    $('.time-picker').timepicker({
      timeFormat: 'h:i A',
      step: 1,
      businessHours: true
    })
    setTimeout(function(){
      $('select#schedule_timezone').select2()
    }, 300);
  <% end %>
<% else %>
$('#modal-container').html('<%= escape_javascript(render 'appointments/detail') %>')
$('#appointment_schedule_detail').modal('toggle')
<% end %>
loader(false)