.container
  .profile.mT20
    .row
      = render 'profile/profile_sidebar'
      / MENTORS
      .col-sm-9
        .box-panel.box-gray
          .clearfix
            .col-md-12.mT10
              .alert.alert-info
                p Click on a selected date, enter time then save, to edit/delete a pre-entered slot click once on selected available schedule
            .col-md-12.mT10
              label My current timezone:
            .col-md-12.mT10
              = select_tag :timezone, options_for_timezone(@profile.timezone), class: 'select2 form-control'
            .col-md-12.mT10.mB10
              label My Schedules
              .calendar-container
                #schedule-calendar.calendar
                #modal-container