$('#modal-container').html('')
$('#modal-container').html('<%= escape_javascript(render 'schedules/new_form') %>')
$('#schedule_form').modal('toggle')
$('.time-picker').timepicker({
  timeFormat: 'h:i A',
  step: 1,
  businessHours: true
})

loader(false)
setTimeout(function(){
  $('select#schedule_timezone').select2()
}, 300);