= simple_form_for(video, url: video.id ? profile_video_path(@profile, video) : profile_videos_path(@profile, video), remote: true) do |f|
  .row
    .col-sm-10
      = f.input :videoable_id, as: :hidden
      = f.input :videoable_type, as: :hidden
      = f.input :url, as: :string, required: false, autofocus: true, input_html: { placeholder: 'paste self introduction video URL link' }, label: false
    .col-sm-2
      = f.button :submit, t('views.labels.upload'), class: 'btn btn-theme mL5 pull-right', data: { disable_with: t('views.labels.uploading') }