.video-iframe id="video-#{v.id}"
  .row
    .col-sm-10
      iframe class="youtube-player" src="#{v.source}" title="YouTube video player" frameborder="0" height="390" width="100%" allowfullscreen=''
    .col-sm-2
      = button_to profile_video_path(@profile, v), method: :delete, remote: true, class: 'btn btn-sm btn-danger pull-right', data: { confirm: 'Are you sure you want to delete this?' } do
        span = t('views.videos.delete')