<% if @video.errors.empty? %>
  $('.videos').append('<%= escape_javascript(render partial: "videos/video_edit", locals: { v: @video }) %>')
  $('#new_video')[0].reset()
<% else %>
  $('#new_video').replaceWith('<%= escape_javascript(render partial: "videos/form", locals: { video: @video }) %>')
<% end %>