- cache('branding-heading') do
  .main-header
    .container.mT10
      .pull-right
        ul.nav.navbar-nav.mR10
            li
              = link_to 'https://www.facebook.com/afriendabroad', target: '_blank', title: 'Visit our facebook page', class: 'p5 menu-link' do
                = image_tag('facebook.png')
            li
              = link_to 'https://twitter.com/Afriendabroad', target: '_blank', title: 'Visit our twitter page', class: 'p5 menu-link mR20' do
                = image_tag('twitter.png')
            li
              = link_to '', class: 'btn btn-theme btn-nav', title: 'Login', data: { toggle: 'modal', target: '#login-modal'} do
                span.header-label LOGIN
    .container
      .navbar-custom-menu
        ul.nav.navbar-nav.logo-holder
          li
            = link_to root_path
              = image_tag('logo.png', class: 'logo')
        ul.nav.navbar-nav.main-menu
          li
            = link_to root_path, title: 'Home', class: 'menu-link' do
              span.header-label.mL5 Home
          li
            = link_to services_path, title: 'Services', class: 'menu-link' do
              span.header-label.mL5 Services
          li
            = link_to mentors_path, title: 'Mentors', class: 'menu-link' do
              span.header-label.mL5 Mentors
          li
            = link_to students_path, title: 'Students', class: 'menu-link' do
              span.header-label.mL5 Students
          li
            = link_to 'mailto:admin@afriendabroad.com', title: 'Contact', class: 'menu-link' do
              span.header-label.mL5 Contact
    hr