- cache('footer') do
  .container
    .row
      .col-sm-10.col-sm-offset-1.mT20
        = link_to root_path
          = image_tag('branding.png')
        = link_to root_path, class: 'm30'
          = image_tag('danish-logo.png')
      .col-sm-10.col-sm-offset-1.mB20
        .text-center
          = link_to 'SUPPORT', 'mailto:admin@afriendabroad.com', title: 'SUPPORT', class: 'menu-link'
          span.m5.blue •
          = link_to 'CAREERS', careers_path, title: 'CAREERS', class: 'menu-link'
          span.m5.blue •
          = link_to 'FAQ', '#', title: 'FAQ', class: 'menu-link'
          span.m5.blue •
          = link_to 'CONTACT US', contacts_path, title: 'CONTACT US', class: 'menu-link'
