
.main-header
  .container.mT10
    - if current_user.administrator?
      .pull-left.admin_panel
        .btn-group.mT20
          = link_to 'Go Back To Admin Panel', admin_root_path, class: 'btn btn-info'
          = link_to 'Login as a normal user', new_user_session_path, class: 'btn btn-primary'
    .pull-right
      ul.nav.navbar-nav.mR10
          - if current_user.administrator?
            li
              = link_to profile_orders_path(@profile), title: 'Orders', class: 'btn btn-theme btn-nav' do
                span.ion-android-document
            li
              = link_to profile_notifications_path(@profile), title: 'Notifications', class: 'btn btn-theme btn-nav', id: 'notification-count-container' do
                span.ion-person-stalker
                span#count #{pending_notification_presenter(@profile.pending_notifications.size)}
            li
              = link_to '#', title: 'Message', class: 'btn btn-theme btn-nav' do
                span.ion-ios-email
            li
              = link_to account_settings_profile_path(@profile), title: 'Setttings', class: 'btn btn-theme btn-nav' do
                span.ion-ios-gear
          - else
            li
              = link_to profile_orders_path(current_user), title: 'Orders', class: 'btn btn-theme btn-nav' do
                span.ion-android-document
            li
              = link_to profile_notifications_path(current_user), title: 'Notifications', class: 'btn btn-theme btn-nav', id: 'notification-count-container' do
                span.ion-person-stalker
                span#count #{pending_notification_presenter(current_user.pending_notifications.size)}
            li
              = link_to '#', title: 'Message', class: 'btn btn-theme btn-nav' do
                span.ion-ios-email
            li
              = link_to account_settings_profile_path(current_user), title: 'Setttings', class: 'btn btn-theme btn-nav' do
                span.ion-ios-gear
          li
            = link_to destroy_user_session_path, class: 'btn btn-theme btn-nav', title: 'Sign out' do
              span.header-label LOGOUT

  .container
    .navbar-custom-menu.application-header
      - unless current_user.administrator?
        ul.nav.navbar-nav.user-identity
          li.avatar
            .profile-avatar
              .preview
               = image_tag(current_user.primary_photo.small_grid.url)
          li.user-name
            = link_to profile_path(current_user)
              span= current_user.first_name
      - if current_user.administrator?
        ul.nav.navbar-nav.main-menu
          li
            = link_to profile_path(@profile), title: 'My Profile', class: 'menu-link' do
              span.header-label.mL10 My Profile
          - if @profile.student?
            li
              = link_to profile_schedules_path(@profile), title: 'Schedule', class: 'menu-link' do
                span.header-label.mL10 Schedule
          - if @profile.mentor?
            li
              = link_to profile_appointments_path(@profile), title: 'Appointments', class: 'menu-link' do
                span.header-label.mL10 Appointments
            li
              = link_to students_path, title: 'Students', class: 'menu-link' do
                  span.header-label.mL10 Students
          - if @profile.student?
            li
              = link_to mentors_path, title: 'Search', class: 'menu-link' do
                span.header-label.mL10 Search
      - else
        ul.nav.navbar-nav.main-menu
          li
            = link_to profile_path(current_user), title: 'My Profile', class: 'menu-link' do
              span.header-label.mL10 My Profile
          - if current_user.student?
            li
              = link_to profile_schedules_path(current_user), title: 'Schedule', class: 'menu-link' do
                span.header-label.mL10 Schedules
          - if current_user.mentor?
            li
              = link_to profile_appointments_path(current_user), title: 'Appointments', class: 'menu-link' do
                span.header-label.mL10 Appointments
            li
              = link_to students_path, title: 'Students', class: 'menu-link' do
                  span.header-label.mL10 Students
          - if current_user.student?
            li
              = link_to mentors_path, title: 'Search', class: 'menu-link' do
                span.header-label.mL10 Search
  hr