- cache('sharer') do
  .social-buttons
    ul.links
      li
        = link_to '#', class: 'social-share facebook', data: { url: root_url, type: 'facebook', description: t('views.social_media.description') } do
          span.ion-social-facebook
      li
        = link_to '#', class: 'social-share twitter', data: { url: root_url, via: 'Afriendabroad', type: 'twitter', description: t('views.social_media.description') } do
          span.ion-social-twitter
      li
        = link_to '#', class: 'social-share googleplus', data: { url: root_url, type: 'googleplus', description: t('views.social_media.description') } do
          span.ion-social-googleplus
      li
        = link_to '#', class: 'social-share linkedin', data: { url: root_url, via: 'Afriendabroad', type: 'linkedin', description: t('views.social_media.description') } do
          span.ion-social-linkedin