p Hello #{@appointment.student.user.full_name},

p You have an appointment request from your mentor #{link_to(@appointment.mentor.user.full_name, profile_url(@appointment.mentor.user))}

p Service Title: #{@appointment.task.service.title}

p Task Description: #{@appointment.task.description}

p Task: #{link_to('CLICK HERE TO SEE THE TASK DETAIL', profile_task_url(@appointment.student.user, @appointment.task))}

p Please accept or decline. Thank You.

p.mT10 Sincerely yours,

strong afriendabroad