p Hello #{@appointment.mentor.user.full_name},

p You have scheduled an appointment with #{link_to(@appointment.schedule.student.user.full_name, profile_url(@appointment.schedule.student.user))}

p Service Title: #{@appointment.task.service.title}

p Task Description: #{@appointment.task.description}

p Task: #{link_to('CLICK HERE TO SEE THE TASK DETAIL', profile_task_url(@appointment.mentor.user, @appointment.task))}

p Please wait for the approval from the student.

p.mT10 Sincerely yours,

strong afriendabroad