p Hello #{@appointment.student.user.full_name},

p Your appointment has been accepted.

p Service Title: #{@appointment.task.service.title}

p Task Description: #{@appointment.task.description}

p Task: #{link_to('CLICK HERE TO SEE THE TASK DETAIL', profile_task_url(@appointment.student.user, @appointment.task))}

p.mT10 Sincerely yours,

strong afriendabroad