p Hello #{@appointment.mentor.user.full_name},

p Your appointment has been cancelled.

p Please reschedule again.

p Service Title: #{@appointment.task.service.title}

p Task Description: #{@appointment.task.description}

p Task: #{link_to('CLICK HERE TO SEE THE TASK DETAIL', profile_task_url(@appointment.mentor.user, @appointment.task))}

p.mT10 Sincerely yours,

strong afriendabroad