p Hello #{@task.mentor.user.full_name},

p Your request appointment schedule has been declined.

p Please reschedule again.

p Service Title: #{@task.service.title}

p Task Description: #{@task.description}

p Task: #{link_to('CLICK HERE TO SEE THE TASK DETAIL', profile_task_url(@task.mentor.user, @task))}

p.mT10 Sincerely yours,

strong afriendabroad