.modal.fade#rate_your_mentor role='dialog' tabindex='-1' data-backdrop='static'
  .modal-dialog role='document'
    .modal-content
      = simple_form_for(rating, url: profile_task_ratings_path(profile, task), html: { class: 'form-horizontal form-rating' }, remote: true) do |f|
        .modal-header
          h4 Rate Your Mentor
        .modal-body
          .flashes
          .row
            .col-sm-12
              .box-panel
                .box-inner
                  .row
                    .col-sm-12
                      h5 Rate this mentor
                  .row
                    .col-sm-12
                      = f.label :speed, 'Speed', class: 'col-md-3'
                      .stars
                        = f.radio_button :speed, '1', class: 'rating_speed_1'
                        = f.label :speed, class: 'rating_speed_1', for: 'rating_speed_1'

                        = f.radio_button :speed, '2', class: 'rating_speed_2'
                        = f.label :speed, class: 'rating_speed_2', for: 'rating_speed_2'

                        = f.radio_button :speed, '3', class: 'rating_speed_3'
                        = f.label :speed, class: 'rating_speed_3', for: 'rating_speed_3'

                        = f.radio_button :speed, '4', class: 'rating_speed_4'
                        = f.label :speed, class: 'rating_speed_4', for: 'rating_speed_4'

                        = f.radio_button :speed, '5', class: 'rating_speed_5'
                        = f.label :speed, class: 'rating_speed_5', for: 'rating_speed_5'
                        span
                  .row
                    .col-sm-12
                      = f.label :knowledgeability, 'Knowledgeability', class: 'col-md-3'
                      .stars
                        = f.radio_button :knowledgeability, '1', class: 'rating_knowledgeability_1'
                        = f.label :knowledgeability, class: 'rating_knowledgeability_1', for: 'rating_knowledgeability_1'

                        = f.radio_button :knowledgeability, '2', class: 'rating_knowledgeability_2'
                        = f.label :knowledgeability, class: 'rating_knowledgeability_2', for: 'rating_knowledgeability_2'

                        = f.radio_button :knowledgeability, '3', class: 'rating_knowledgeability_3'
                        = f.label :knowledgeability, class: 'rating_knowledgeability_3', for: 'rating_knowledgeability_3'

                        = f.radio_button :knowledgeability, '4', class: 'rating_knowledgeability_4'
                        = f.label :knowledgeability, class: 'rating_knowledgeability_4', for: 'rating_knowledgeability_4'

                        = f.radio_button :knowledgeability, '5', class: 'rating_knowledgeability_5'
                        = f.label :knowledgeability, class: 'rating_knowledgeability_5', for: 'rating_knowledgeability_5'
                        span
                  .row
                    .col-sm-12
                      = f.label :overall_rating, 'Overall Rating', class: 'col-md-3'
                      .stars
                        = f.radio_button :overall_rating, '1', class: 'rating_overall_rating_1'
                        = f.label :overall_rating, class: 'rating_overall_rating_1', for: 'rating_overall_rating_1'

                        = f.radio_button :overall_rating, '2', class: 'rating_overall_rating_2'
                        = f.label :overall_rating, class: 'rating_overall_rating_2', for: 'rating_overall_rating_2'

                        = f.radio_button :overall_rating, '3', class: 'rating_overall_rating_3'
                        = f.label :overall_rating, class: 'rating_overall_rating_3', for: 'rating_overall_rating_3'

                        = f.radio_button :overall_rating, '4', class: 'rating_overall_rating_4'
                        = f.label :overall_rating, class: 'rating_overall_rating_4', for: 'rating_overall_rating_4'

                        = f.radio_button :overall_rating, '5', class: 'rating_overall_rating_5'
                        = f.label :overall_rating, class: 'rating_overall_rating_5', for: 'rating_overall_rating_5'
                        span
            .col-sm-12.mT10
              .box-panel
                .box-inner
                  .row
                    .col-sm-12
                      = f.input :feedbacks, as: :text, placeholder: 'Please provide Feedback'
        .modal-footer
          = f.submit 'submit', class: 'btn btn-theme btn-sm', data: { disable_with: t('views.labels.processing') }