<% if @rating.errors.empty? %>
  _n.renderSuccessPopup("<%= t('views.rating.create.success') %>")
  $('#rate_your_mentor').modal('toggle')
<% else %>
  _n.renderErrorPopup(@rating.errors.full_messages.first)
  $('.has-error input, .has-error select, .has-error textarea').focus()
<% end %>