= simple_form_for(@order, html: { class: 'col-md-12 order-comment-form' }, url: comment_profile_order_path(@profile, @order), remote: true, method: :put) do |f|
  = f.input :additional_comments, as: :text, input_html: { placeholder: 'Write a message...' }, label: 'Write a message of encouragement to your student in the box below and click the button to send'
  = f.submit t('views.labels.send'), class: 'btn btn-flat btn-blue pull-right', data: { disable_with: t('views.labels.sending') }