- if @profile.student?
  / NOTICE
  = link_to '#', class: 'btn btn-warning btn-sm', title: t('views.labels.notice'), role: 'button', data: { toggle: 'popover', content: t('views.orders.notice.confirmed.student'), placement: 'left', trigger: 'focus' }  do
    p
      span.ion-information-circled.mR5
      span = t('views.labels.notice')

  / IN PROGRESS
  = button_to in_progress_profile_order_path(@profile, @order), method: :put, remote: true, class: 'btn btn-success btn-sm mL10', data: { disable_with: t('views.labels.processing') }, form: { class: 'display-inline' } do
    p = t('views.orders.in_progress.button_label')
- if @profile.mentor?
  / NOTICE
  = link_to '#', class: 'btn btn-warning btn-sm',  title: t('views.labels.notice'), role: 'button', data: { toggle: 'popover', content: t('views.orders.notice.confirmed.mentor'), placement: 'left', trigger: 'focus' }  do
    p
      span.ion-information-circled.mR5
      span = t('views.labels.notice')
