- cache("order-#{@order.id}-encouragement-message-#{@order.updated_at}") do
  / MENTOR ENCOURAGEMENT COMMENT MESSAGE
  .box-panel.box-gray.mT10
    .box-inner
      .row
        .col-sm-12
          = render 'comment_form'
  / ORDER INSTRUCTIONS
  .box-panel.box-gray.mT10
    .box-inner
      .row
        .col-sm-12
          h4.text-center.blue Additional comments from Student
          - if @order.additional_instructions
            p = @order.additional_instructions
          - else
            p.text-center No comment.