= simple_form_for(@order, html: { class: 'col-md-12 order-form'}, url: profile_orders_path(@profile), remote: true) do |f|
  = f.hidden_field :mentor_id
  = f.hidden_field :student_id
  .row
    .col-sm-12
      .flashes
        = render 'shared/flash'
  = f.simple_fields_for :tasks do |task|
    .row
      .col-sm-12
        h3.text-center.blue Select Service
      / SERVICES
      - @mentor_user.services.each do |service|
        .mentor-service.mB20.mT20.clearfix
          .col-sm-9.col-sm-offset-1
            label.blue = service.title
            p = service.description
          .col-sm-1
            = task.input :service_id, collection: [[nil, service.id]], as: :check_boxes, label: false, input_html: { class: 'mentor_service_selection', data: { price: service.price, currency: service.currency, currency_symbol: service.currency_symbol } }
        hr.blue.m0
  .row
    hr.light-blue-background.p10.mT0.mB0.mL-5.mR-5
    / TOTAL PRICE COMPUTATION
    .col-sm-12
      .row
        .pull-right.col-sm-6
          h3.display-inline.mR10.blue TOTAL PRICE:
          .display-inline.mT-15.btn.btn-flat.btn-default.btn-lg.blue#total_order_price
          = f.hidden_field :price
          = f.hidden_field :actual_price
          = f.hidden_field :currency
          = f.hidden_field :currency_symbol
    / ADDITIONAL INSTRUCTIONS
    .col-sm-12.mT20
      .row.mB10.blue.text-center
        p Type any questions or instructions for your mentor regarding the service you have chosen.
        p If your mentor has to decline your service order, your credits can be used to book another mentor.
        p You may also ask for a refund.
      = f.input :additional_instructions, as: :text, label: false, input_html: { placeholder: 'Write a message' }
    .col-sm-12.mT20.text-center
      = f.submit t('views.labels.book_service'), class: 'btn btn-flat btn-default blue btn-lg', data: { disable_with: t('views.labels.booking') }