- if @profile.student?
  / NOTICE
  = link_to '#', class: 'btn btn-warning btn-sm', role: 'button', title: t('views.labels.notice'), data: { toggle: 'popover', content: t('views.orders.notice.in_progress'), placement: 'left', trigger: 'focus' } do
    p
      span.ion-information-circled.mR5
      span = t('views.labels.notice')

  / COMPLETED
  = button_to completed_profile_order_path(@profile, @order), method: :put, remote: true, class: 'btn btn-success btn-sm mL10', data: { disable_with: t('views.labels.processing') }, form: { class: 'display-inline' } do
    p = t('views.orders.completed.button_label')
- if @profile.mentor?
  / NOTICE
  = link_to '#', class: 'btn btn-warning btn-sm', role: 'button', title: t('views.labels.notice'), data: { toggle: 'popover', content: t('views.orders.notice.in_progress'), placement: 'left', trigger: 'focus' }  do
    p
      span.ion-information-circled.mR5
      span = t('views.labels.notice')