= simple_form_for(@order, html: { class: 'col-md-12 order-instruction-form' }, url: instruction_profile_order_path(@profile, @order), remote: true, method: :put) do |f|
  = f.error_notification
  = f.input :additional_instructions, as: :text, input_html: { placeholder: 'Provide instructions to your mentor...' }, label: 'Additional instructions to your mentor'
  = f.submit t('views.labels.send'), class: 'btn btn-flat btn-blue pull-right', data: { disable_with: t('views.labels.sending') }