.col-sm-12.mB10
  .row
    .col-sm-2
      .thumbnail
        = image_tag(@profile.student? ? order.mentor.user.primary_photo.small_grid.url : order.student.user.primary_photo.small_grid.url)
    .col-sm-10
      .pull-right
        small.darkest-gray
          span.mR5 Ordered
          span = timeago_tag(order.created_at, :nojs => true, :limit => 10.days.ago)
      - if @profile.student?
        label
          span.mR10 Mentor |
          span = link_to order.mentor.user.first_name, profile_path(order.mentor.user), class: 'blue'
      - if @profile.mentor?
        label
          span.mR10 Student |
          span = link_to order.student.user.first_name, profile_path(order.student.user), class: 'blue'
      p
        strong.mR10 Order Status:
        span.blue = order.status.gsub('_', ' ')
      p
        strong.mR5 Price:
        span.blue = "#{order.currency} #{order.currency_symbol}#{order.price}"
      p
        strong.mR5 Reference Number:
        span.text-danger = order.reference_number
      p
        strong.mR10 Requested Services:
        span.blue = order.services.map(&:title).join(', ')
      p.mT10 = link_to t('views.orders.view_order_label'), profile_order_path(@profile.student? ? order.student.user : order.mentor.user, order), class: 'btn btn-default btn-sm'

  .row
    .col-sm-12
      hr