/ MENTOR | STUDENT DETAIL
.box-panel.box-gray
  .box-inner
    - if @profile.student?
      h2.mB10.blue Your Mentor
      = render 'profile/mentor_profile_header', profile: @order.mentor.user
    - if @profile.mentor?
      h2.mB10.blue Your Student
      = render 'profile/student_profile_header', profile: @order.student.user
/ TASKS STATUS DETAIL
= render 'tasks_status_detail'
/ TASKS DETAILS
= render 'tasks_details'
- if @profile.student?
  / STUDENT INSTRUCITONS TO MENTOR
  = render 'student_instructions'
- if @profile.mentor?
  / MENTOR ENCOURAGEMENT MESSAGE TO STUDENT
  = render 'encouragement_message'