- if @profile.student?
  / CANCEL
  = button_to cancel_profile_order_path(@profile, @order), method: :put, remote: true, class: 'btn btn-danger btn-sm', data: { disable_with: t('views.labels.processing') }, form: { class: 'display-inline' } do
    p = t('views.orders.cancel.button_label')
- if @profile.mentor?
  / DECLINE
  = button_to decline_profile_order_path(@profile, @order), method: :put, remote: true, class: 'btn btn-danger btn-sm mL10', data: { disable_with: t('views.labels.processing') }, form: { class: 'display-inline' } do
    p = t('views.orders.decline.button_label')
  / ACCEPT
  = button_to accept_profile_order_path(@profile, @order), method: :put, remote: true, class: 'btn btn-blue btn-sm mL10', data: { disable_with: t('views.labels.processing') }, form: { class: 'display-inline' } do
    p = t('views.orders.accept.button_label')