- cache("order-#{@order.id}-student-instruction-#{@order.updated_at}") do
  / ORDER INSTRUCTIONS
  .box-panel.box-gray.mT10
    .box-inner
      .row
        .col-sm-12
          = render 'instruction_form'
          p.blue.text-center An email notification will be sent to your mentor.
  / MENTOR ENCOURAGEMENT COMMENT MESSAGE
  .box-panel.box-gray.mT10
    .box-inner
      .row
        .col-sm-12
          h4.text-center.blue Additional comments from mentor
          - if @order.additional_comments
            p = @order.additional_comments
          - else
            p.text-center No comment.
