.box-panel.box-gray.mT10
  .box-inner
    .row#tasks_detail_status
      .col-sm-12
        .clearfix
          h4.blue = @profile.student? ? 'Your Order' : 'Services ordered by the student'
        .clearfix
          .pull-left
            h4
              span.mR5 Order Status:
              span.blue = @order.status.gsub('_', ' ')
            p
              strong.mR5 Price:
              span.blue = "#{@order.currency} #{@order.currency_symbol}#{@order.price}"
            p
              strong.mR5 Reference Number:
              span.text-danger = @order.reference_number
          .col-sm-8.pull-right
            .pull-right
              = render @order.status.underscore if Order::STATUSES_WITH_ACTION.include?(@order.status)
        hr
      .col-sm-12
        h4.blue = @profile.student? ? 'Your Order:' : 'Student\'s Order:'
        .col-sm-12
          - @order.tasks.each do |task|
            .task-status
              .col-sm-6
                p = task.service.title
              .col-sm-6
                p.blue = task.status.gsub('_', ' ')