.box-panel.box-gray.mT10
  .box-inner
    .row#tasks_details
      .col-sm-12
        h4.blue Tasks
        - if @profile.mentor?
          .alert.alert-info
            p Please download and then edit the essay or resume using Microsoft Word or other word processing software depending on the student’s instructions. If the student did not specify, you may use whichever word processing software you wish. Upload the new file with the edits and comments on this page.
        - if @profile.student?
          .alert.alert-info
            p When your mentor is done, you will be able to download your edited essay with comments directly from your order page
        .alert.alert-info
          p Please click on each task to see the details.
        hr.blue
      .col-sm-12
        = render @order.tasks
      #modal-holder
