<% if @order.errors.empty? %>
  _n.renderSuccessPopup("<%= t('views.orders.comment.success') %>")
<% else %>
  $('form.order-comment-form').html('<%= escape_javascript(render "comment_form") %>')
<% end %>