<% if @order.errors.empty? %>
  _n.renderSuccessPopup("<%= t('views.orders.create.success') %>")
  Turbolinks.visit('<%= profile_order_path(@profile, @order) %>')
<% else %>
  $('#mentor_service_order_form').html('<%= escape_javascript(render "form") %>')
  setTimeout(function(){
    $('html, body').animate({
        scrollTop: $(".flashes").offset().top
    }, 300);
    orderFormMentorSelectionHandler();
  }, 100);
<% end %>