<% if @order.errors.empty? %>
  $('#order-detail').html('<%= escape_javascript(render "order_detail") %>');
  _n.renderSuccessPopup("<%= t('views.orders.in_progress.success') %>");
  initializePopOver();
<% else %>
  _n.renderErrorPopup('<%= @order.errors.full_messages.first %>');
<% end %>