.container
  .profile.mT20
    .row
      = render 'profile/profile_sidebar'
      .col-sm-9
        .box-panel.box-gray
          .box-inner
            .row
              .col-sm-12
                h2.mB10
                  span.mR10.blue = "#{@profile.student? ? 'My Orders' : 'Your Students\' Orders'}"
              .col-sm-12
                hr.blue
                #notifications.row
                  - if @orders.empty?
                    p.text-center.text-danger No Orders made.
                  - else
                    = render @orders
                .row
                  .col-sm-12
                    .text-center
                      = paginate @orders