<% if @order.errors.empty? %>
  _n.renderSuccessPopup("<%= t('views.orders.instruction.success') %>")
<% else %>
  $('form.order-instruction-form').html('<%= escape_javascript(render "instruction_form") %>')
<% end %>