.container
  .profile.mT20
    .row
      = render 'profile/profile_sidebar'
      / MENTOR
      .col-sm-9
        .box-panel.box-gray
          .box-inner
            h2.mB10.blue Your Selected Mentor
            = render 'profile/mentor_profile_header', profile: @mentor_user
        / FORM
        .box-panel.box-gray.mT10
          .box-inner
            .row#mentor_service_order_form
              = render 'form'