.container-fluid
  .row
    .col-sm-8.col-sm-offset-2
      h1 CONTACT US:
      hr.header
  .row.contacts-container
    .col-sm-8.col-sm-offset-2
      .col-sm-4
        = image_tag('contact-us-fred.png')
      .col-sm-8
        .contact-details
          p Technical support department
          p Frederik Jakobsen
          p.email Admin@afriendabroad.com
  .row.contacts-container
    .col-sm-8.col-sm-offset-2
      .col-sm-4
        = image_tag('contact-us-lindsey.png')
      .col-sm-8
        .contact-details
          p Student and Mentor department
          p Lindsey Lim
          p.email Admin@afriendabroad.com