.mB10.photo id="document-#{document.id}"
  .thumb-photo
    = link_to document.filename.url, target: '_blank', title: document.title
      = image_tag(document.filename.url)
  = button_to profile_document_path(document.documentable.id, document), form: { class: 'delete_file' }, method: :delete, remote: true, class: 'btn btn-danger btn-sm btn-block', data: { disable_with: t('views.labels.deleting')} do
    span = t('views.labels.delete')