<% if @profile.mentor.errors.empty? %>
  <% if params[:scheme] == 'true' %>
    $('.profile-documents .row').prepend('<%= escape_javascript(render @documents) %>')
  <% else %>
    $('.profile-documents').html('<%= escape_javascript(render "profile/profile_recent_documents") %>');
  <% end %>
<% else %>
  _n.renderErrorPopup('<%= @profile.mentor.errors.full_messages.first %>');
<% end %>