.container
  .profile.mT20
    .row
      = render 'profile/profile_sidebar'
      / MENTORS
      .col-sm-9
        .box-panel.box-gray
          .row
            .col-sm-12
              = link_to 'VIEW PROFILE', profile_path(@profile), class: 'btn btn-flat btn-theme pull-right mR20 btn-sm'
          .row
            .col-sm-12
              .box-inner
                h3.mT-30.blue Files
                .profile-detail
                  .row
                    .col-sm-12
                      .pull-right
                        = link_to 'UPLOAD FILES', '#', class: 'btn btn-theme btn-sm', id: 'upload-files', data: { toggle: 'modal', target: '#upload-files-modal'}
                    .col-sm-12
                      / FILES
                      .profile-documents.mT30 data-settings='1'
                        .row.mT5
                          = render @documents, cache: true
                      .row
                        .col-sm-12
                          .pull-right
                            = paginate @documents

/ Upload Files
= render 'profile/upload_files_modal'