.advanced-filter.mB20
  .box-panel.box-theme
    .box-inner
      = form_tag search_mentors_path, method: :get, id: 'advanced_filter', enforce_utf8: false, class: 'form-horizontal mB10'
        h3.white.m0 Advanced Filter
        p Search Categories
        .form-group
          .col-sm-12
            = select_tag 'degrees', [], class: 'degrees', multiple: true, style: 'width: 100%'
        .form-group
          .col-sm-12
            = select_tag 'country', options_for_country(@country), class: 'country', style: 'width: 100%'
        .form-group
          .col-sm-12
            = select_tag 'majors', options_for_majors(@majors), class: 'majors', multiple: true, style: 'width: 100%'
        .form-group
          .col-sm-12
            = select_tag 'services', [], class: 'services', multiple: true, style: 'width: 100%'

        p.m0 Other Preferences

        .form-group
          .col-sm-12
            span.white Ratings:
            span.mL10
              .stars
                = radio_button 'ratings', '', '1', class: 'ratings_1', id: 'ratings_1'
                = label 'ratings', '', class: 'ratings_1', for: 'ratings_1'

                = radio_button 'ratings', '', '2', class: 'ratings_2', id: 'ratings_2'
                = label 'ratings', '', class: 'ratings_2', for: 'ratings_2'

                = radio_button 'ratings', '', '3', class: 'ratings_3', id: 'ratings_3'
                = label 'ratings', '', class: 'ratings_3', for: 'ratings_3'

                = radio_button 'ratings', '', '4', class: 'ratings_4', id: 'ratings_4'
                = label 'ratings', '', class: 'ratings_4', for: 'ratings_4'

                = radio_button 'ratings', '', '5', class: 'ratings_5', id: 'ratings_5'
                = label 'ratings', '', class: 'ratings_5', for: 'ratings_5'
                span
        .form-group
          .col-sm-12
            = link_to t('views.labels.filter'), '#', class: 'btn btn-blue btn-block', data: { disable_with: t('views.labels.filtering') }, id: 'search-filter-button'