.col-sm-10.col-sm-offset-1
  .row
    - unless @top_suggested.empty?
      / Suggested Mentors
      .col-sm-12.mT30
        h2.blue Suggested Mentors
        p Best maches based on your profile information.
      .col-sm-12
        .grid-container.mT20
          - @top_suggested.each do |mentor|
            = render partial: 'mentor_grid', locals: { mentor: mentor,  column_size: 'col-sm-3', top: true, bookmark_button: true }
    .col-sm-12
      h2.blue Our Top Mentors
    / TOP Mentors
    .col-sm-12.mT30
      .grid-container
        - if @top_mentors.empty?
          p.text-center No Mentors Available.
        - else
          = render 'm_power'
          - @top_mentors.each do |mentor|
            = render partial: 'mentor_grid', locals: { mentor: mentor,  column_size: 'col-sm-3', top: true, bookmark_button: false }
    / Recommendation
    .col-sm-8.col-sm-offset-2.mT30
      = render 'recommendation'