.col-sm-6
  .mentor-item
    = link_to 'https://registration.mpowerfinancing.com/eligibility/00Q3900001CWzF6EAL/PRM', class: 'black item-link' do
      .grid-item.item.gray-item.grid-md
        .inner-item
          .image
            = image_tag('m_power.jpg')
          p.mT10.mB0
            strong MPOWER provides international students loans to study abroad, click here to learn more.
          p
            small Chosen by Harvard as preferred provider.
          .ratings
            = render partial: 'ratings/stars', locals: { star: 5 }