- title ||= title

div class=column_size
  .mentor-item
    = link_to profile_path(mentor.user), class: 'black item-link' do
      .grid-item.item.gray-item.grid-md
        - if top
          .top
            = image_tag('top.png')
        .inner-item
          .image
            = image_tag(mentor.user.primary_photo.medium_grid.url)
          p.mT10.mB0
            strong title=mentor.user.first_name
              = mentor.user.first_name
          - unless mentor.schools.empty?
            p title="#{mentor.schools.first.university} - #{mentor.schools.first.major}"
              small
                = "#{mentor.schools.first.university} - #{mentor.schools.first.major}"
          .ratings
            - star = mentor.ratings.average(:average) ? mentor.ratings.average(:average).ceil : 0
            = render partial: 'ratings/stars', locals: { star: star }
    - if current_user.present? && current_user.student? && bookmark_button
      .bookmarks
        = render partial: 'bookmark/buttons', locals: { mentor: mentor, bookmark: current_user.find_bookmark_by_mentor(mentor), column_size: 'col-sm-3' }