- if current_user && current_user.student?
  .box-panel.box-theme
    .box-inner.recommendation
      h3.black Can't find the right mentor?
      h4.darkest-gray Tell us what you're looking for

      = form_tag profile_recommendations_path(current_user), remote: true, id: 'recommendation_form' do
        .form-group
          = text_area 'recommendation', 'message', class: 'form-control'
          = hidden_field_tag 'recommendation[user_id]', current_user.id
        .clearfix.mT10
          = submit_tag 'Submit', class: 'btn btn-blue pull-right pL20 pR20', data: { disable_with: t('views.labels.sending') }