.search-filter
  .col-sm-10.col-sm-offset-1
    = form_tag search_mentors_path, method: :get, id: 'search_form', enforce_utf8: false, class: 'form-inline mB10' do
      .search-bar
        .search-icon
          span.ion-android-search
        = select_tag 'keyword', options_for_search_tags(@search_tags), class: 'search-keyword-filter', multiple: true, style: 'width: 85%;'
        = button_tag name: '', data: { disable_with: "..." }, class: 'mL5 btn btn-theme', id: 'filter_button' do
          span GO
