$('.mentor-account-settings-container').html('<%= escape_javascript(render "profile/mentor_account_settings") %>')
initializeMentorAccountSettingForm()
<% if @profile.errors.empty? %>
  _n.renderSuccessPopup('Successfully updated your Account Settings')
<% else %>
  _n.renderErrorPopup(MESSAGES.ERRORS.ACCOUNT_SETTINGS)
  $('.has-error input, .has-error select, .has-error textarea').focus()
<% end %>