.container-fluid
  .row
    .col-sm-8.col-sm-offset-2
      - cache('mentors-index-heading-label') do
        h2.blue Mentor Search
        p.mB0 Separate your search terms with a comma or use the advanced filter option.
        p.mB20 and we'll provide you with the best mentors.

      = render 'search_bar'
  .row
    = render 'default_result'