.container-fluid
  .row
    .col-sm-8.col-sm-offset-2
      - cache('mentors-search-heading-label') do
        h2.blue Mentor Search
        p.mB0 Separate your search terms with a comma or use the advanced filter option.
        p.mB20 and we'll provide you with the best mentors.

      = render 'search_bar'
  .row.mT30
    / Advanced Filter
    - unless @keyword.empty?
      .col-sm-3
        = render 'advanced_filter'
    / Search Results
    div class="col-sm-#{@keyword.empty? ? '10 col-sm-offset-1' : '9'}"
      .row
        .grid-container
          - if @mentors.empty?
            p.text-center No Mentors Available.
          - else
            = render 'm_power'
            - @mentors.each do |mentor|
              = render partial: 'mentor_grid', locals: { mentor: mentor,  column_size: 'col-sm-3', top: false, bookmark_button: true }
      .row
        .col-sm-12
          = paginate @mentors
  - cache('mentors-search-recomendation-form') do
    / Recommendation
    .row
      .col-sm-8.col-sm-offset-2.mT30
        = render 'recommendation'