$('.mentor-profile-edit-container').html('<%= escape_javascript(render "profile/mentor_profile_edit") %>')
initializeSchoolSelection()
<% if @profile.errors.empty? %>
  _n.renderSuccessPopup("<%= t('views.mentors.update.success') %>")
<% else %>
  _n.renderErrorPopup(MESSAGES.ERRORS.PROFILE_UPDATE)
  $('.has-error input, .has-error select, .has-error textarea').focus()
<% end %>