.container
  .profile.mT20
    .row
      = render 'profile/profile_sidebar'
      / MENTORS
      .col-sm-9
        .box-panel.box-gray
          .row
            .col-sm-12
              = link_to 'VIEW PROFILE', profile_path(@profile), class: 'btn btn-flat btn-theme pull-right mR20 btn-sm'
          .row.blue
            .col-sm-12
              .box-inner
                h3 WALLET
                .profile-detail.text-center
                  .row
                    .col-sm-12
                      .col-sm-10.col-sm-offset-1
                        p Pending Amount US$ #{@profile.wallet.pending_balance}
                        p Available Balance US$ #{@profile.wallet.current_balance}
                        = link_to '#', class: 'btn btn-blue mB20', id: 'add-money' do
                          span ADD MONEY
                  .row.add-money-container.hidden
                    .col-sm-12
                      = simple_form_for(@transaction, html: { class: 'form-horizontal col-md-12', id: 'form-add-wallet'}, remote: true, url: profile_transactions_path(@profile)) do |f|
                        .col-sm-10.col-sm-offset-1
                          / Select Amount
                          = f.input :amount, collection: [["US$ 5", 5], ["US$ 10", 10], ["US$ 50", 50], ["US$ 100", 100]], as: :radio_buttons, label: 'Select Amount', item_wrapper_class: 'checkbox-inline col-sm-2', label_html: { class: 'display-block text-left col-md-3' }
                        .col-sm-10.col-sm-offset-1
                          / Another Amount
                          .row
                            = f.label 'Another Amount', class: 'col-sm-3 text-left'
                            .col-sm-9
                              = f.input :another_amount, label: false
                        .col-sm-10.col-sm-offset-1.mT60.mB10
                          h4 Add money with
                        .col-sm-11.col-sm-offset-1.mB30
                          .row
                            .col-sm-4
                              = image_tag('wallet_paypal.png', id: 'paypal-payment')
                            .col-sm-4
                              = image_tag('wallet_credit_cards.png', id: 'cc-payment')
                            .col-sm-4
                              = image_tag('wallet_alipay.png', id: 'alipay-payment')
                        .col-sm-10.col-sm-offset-1
                          p Depositing money into your wallet account through
                          p Paypal or Alipay is free of charge but there is a
                          p service fee of $2.90% + $0.30 when using a credit or debit card.
                        .col-sm-10.col-sm-offset-1.mT80
                          .row.card_icons
                            .col-sm-2.col-sm-offset-2
                              = image_tag('wallet_visa.png', class: 'current visa')
                            .col-sm-2
                              = image_tag('wallet_mastercard.png', class: 'current mastercard')
                            .col-sm-2
                              = image_tag('wallet_cup.png', class: 'current american_express')
                            .col-sm-2
                              = image_tag('wallet_jbc.png', class: 'current discover')
                        .col-sm-10.col-sm-offset-1
                          .row
                            = f.hidden_field 'payment_gateway', value: 'CREDIT CARD', label: false
                        .col-sm-10.col-sm-offset-1.mT20
                          .row
                            p Service charge of US$ $2.90% + $0.30 when using credit or debit cards
                            p For your security, A Friend Abroad will not store your
                            p private credit card information.
