.container
  .profile.mT20
    .row
      = render 'profile/profile_sidebar'
      / MENTORS
      .col-sm-9
        .box-panel.box-gray
          .row
            .col-sm-12
              = link_to 'VIEW PROFILE', profile_path(@profile), class: 'btn btn-flat btn-theme pull-right mR20 btn-sm'
          .row.blue
            .col-sm-12
              .box-inner
                h3 WALLET
                .profile-detail.text-center
                  .row
                    .col-sm-12
                      .col-sm-10.col-sm-offset-1
                        p Pending Balance US$ #{@profile.wallet.pending_balance}
                        p Available Balance US$ #{@profile.wallet.amount}