p Dear #{@student.first_name.humanize},

p One of our mentor wants to reach out to you.
p You can review his profile from this link: #{link_to(@mentor_user.full_name, profile_url(@mentor_user))}

span{style='display: block;'} Yours,
span{style='display: block;'} Lindsey Lim, CEO
span{style='display: block;'} AfriendAbroad.com