- if bookmark
  = button_to mentor_bookmark_path(mentor, bookmark), form: { class: 'bookmark_button', id: "delete-bookmark-#{mentor.user.slug}"}, method: :delete, remote: true, class: 'btn btn-blue btn-block btn-bevel pT15 pB15 mT20 mB20' do
    h4 = t('views.bookmarks.destroy.button_label')
- else
  = button_to mentor_bookmark_index_path(mentor), form: { class: 'bookmark_button', id: "bookmark-#{mentor.user.slug}" }, remote: true, class: 'btn btn-blue btn-block btn-bevel pT15 pB15 mT20 mB20' do
    h4 = t('views.bookmarks.create.button_label')