<% if @student.errors.any? %>
  alert('error')
<% else %>
  $('form#bookmark-<%= @mentor.user.slug %>').parent().html("<%= escape_javascript(render partial: 'buttons', locals: { bookmark: @bookmark, mentor: @mentor }) %>")
<% end %>