<% if @bookmark.errors.any? %>
  alert('error')
<% else %>
  $('form#delete-bookmark-<%= @mentor.user.slug %>').parent().html("<%= escape_javascript(render partial: 'buttons', locals: { mentor: @mentor, bookmark: nil }) %>")
<% end %>