- cache('login-form') do
  .row
    .col-sm-6.col-sm-offset-3
      .panel.panel-theme.mT30
        .panel-heading
          h4 Log in
        .panel-body
          = simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f|
            = render 'shared/flash'
            .form-inputs
              = f.input :username, required: false, autofocus: true
              = f.input :password, required: false
            .row
              .col-sm-6
                = f.input :remember_me, as: :boolean, class: 'pull-left' if devise_mapping.rememberable?
              .col-sm-6
                - if devise_mapping.recoverable? && controller_name != 'passwords' && controller_name != 'registrations'
                  = link_to "Forgot your password?", new_password_path(resource_name), class: 'pull-right mT10 blue'

            .form-actions
              = f.button :submit, "Log in", class: 'btn btn-block btn-theme', data: { disable_with: 'Please wait...' }

          = render "devise/shared/links"
