p Dear #{@student.first_name.humanize}:

p Thank you very much for registering on AfriendAbroad.com. You can always return to your list of potential mentors by logging in. You can save your favorite mentors for later by bookmarking them. If your plans change and  you wish to study a different degree or at a different school or country, please update your profile so that we can match you to more suitable mentors. You can book an appointment with a mentor by visiting his mentor profile page and clicking "book appointment."

span{style='display: block;'} Yours,
span{style='display: block;'} Lindsey Lim, CEO
span{style='display: block;'} AfriendAbroad.com 
