p Dear #{@mentor.first_name.humanize}:

p Thank you very much for registering on AfriendAbroad.com. You can always return to your list of potential students by logging in. If your plans change and  you wish to study a different degree or at a different school or country, please update your profile so that we can match you to more suitable students.

span{style='display: block;'} Yours,
span{style='display: block;'} Lindsey Lim, CEO
span{style='display: block;'} AfriendAbroad.com