= simple_form_for(resource, html: { class: 'form-horizontal col-md-12'}, url: mentor_register_path) do |f|
  .row
    .col-md-12
        = f.error_notification
  .row
    .col-md-12
      .form-group.basic-info
        h3 BASIC INFORMATION
        hr.title
  .row
    .col-md-5
      / Username
      = f.input :username, required: true, autofocus: true
      / password
      = f.input :password, required: true
      / password confirmation
      = f.input :password_confirmation, required: true
      / Phone Number
      = f.input :phone_number, required: true

    .col-md-5.col-md-offset-2
      / Email
      = f.input :email, required: true, autofocus: true
      / University Email
      = f.input :university_email, required: true, autofocus: true
      / First Name
      = f.input :first_name, required: true, autofocus: true
      / Last Name
      = f.input :last_name, required: true, autofocus: true
  .row
    .col-md-5
      = f.simple_fields_for :mentor do |mentor|
        = mentor.simple_fields_for :alternative_contacts do |contact|
          / Alternative contact - Ex: Skype
          = contact.input :account_type, input_html: { name: 'user[mentor_attributes][alternative_contacts_attributes][][account_type]', class: 'account_type', style: 'width: 100%;' }, label: 'Alternative Method for Contact'
          / Alternative name - Ex: skype1
          = contact.input :account_value, input_html: { name: 'user[mentor_attributes][alternative_contacts_attributes][][account_value]', class: 'account_value', style: 'width: 100%;' }, label: 'Username for Alternative Contact'
    .col-md-5.col-md-offset-2.mT30
      .mL-10
        p.blue.mB0 Phone number and alternative contact
        p.blue.mB0 will only be used to remind you if you of your appointment
        p.blue.mB0 i.e Skype, wechat, LINE, Kakao, mobile number, etc.)
  .row
    .col-md-12
      .form-group.about-yourself-info
        h3 TELL US ABOUT YOURSELF
        hr.title
  .row
    / Home Town
    .col-md-12
      = f.input :home_town, collection: [@user.home_town] || [], selected: @user.home_town, label: 'Where do you originally came from:', required: true, input_html: { style: 'width: 100%;' }
  .row
    / Current Country
    .col-md-12
      = f.input :current_country, collection: [@user.current_country] || [], selected: @user.current_country, label: 'Where do you live now:', required: true, input_html: { style: 'width: 100%;' }
  .row
    / Degree
    .col-md-7
      = f.input :degree, collection: @degrees, required: true, input_html: { multiple: true, style: 'width: 100%;' }, label: 'Degree(s) you have completed or are currently working on:'
    / other
    .col-md-4.col-md-offset-1
      = f.input :other_degree, placeholder: 'Please specify', wrapper_html: { id: 'other-degree', class: 'hidden' }
  .row
    .universities
      = f.simple_fields_for :mentor do |mentor|
        = mentor.simple_fields_for :schools do |school|
          .university
            .col-md-5
              / Target Schools
              = school.input :university, collection: [school.object.university], selected: school.object.university, required: true, input_html: { name: 'user[mentor_attributes][schools_attributes][][university]', class: 'user_university', style: 'width: 100%;' }, label: 'School/University:', as: :select
            .col-md-5.col-md-offset-2
              / Target Subjects
              = school.input :major, collection: [school.object.major], selected: school.object.major, required: true, input_html: { name: 'user[mentor_attributes][schools_attributes][][major]', class: 'user_major', style: 'width: 100%;' }, label: 'Majors or Specializations', as: :select
  .row
    .col-md-5.col-md-offset-7.pR0
      .mL-10.mB10
        p.mB0
          span Example: Computer Science, Sociology, Math, Etc
        p.mB0
          small #{"(Choose the closest option even if it is not the exact subject)"}
      = link_to '#', class: 'btn btn-blue mB20', id: 'add-new-school' do
        span.ion-plus.mR10
        span ADD ANOTHER SCHOOL OR DEGREE
  .row
    / Undergraduate Universities
    .col-md-12
      = f.input :undergraduate_universities, collection: @user.undergraduate_universities || [], selected: @user.undergraduate_universities, required: true, input_html: { multiple: true, style: 'width: 100%;' }, label: 'List ALL Undergraduate universities that ACCEPTED your applications:'
  .row
    / Undergraduate universities early acceptance
    .col-md-12
      = f.input :undergraduate_universities_early_acceptance, as: :radio_buttons, label: 'Was your acceptance an early decision / early action acceptance?', item_wrapper_class: 'checkbox-inline', required: true, label_html: { class: 'display-block text-left' }
  .row
    / Graduate Universities
    .col-md-12
      = f.input :graduate_universities, collection: @user.graduate_universities || [], selected: @user.graduate_universities, required: true, input_html: { multiple: true, style: 'width: 100%;' }, label: 'List ALL Graduate universities that ACCEPTED your applications abroad:'
  .row
    / Graduate universities early acceptance
    .col-md-12
      = f.input :graduate_universities_early_acceptance, as: :radio_buttons, label: 'Was your acceptance an early decision / early action acceptance?', item_wrapper_class: 'checkbox-inline', required: true, label_html: { class: 'display-block text-left' }
  .row
    / Work
    .col-md-12
      = f.input :work, label: 'Company and Job Title'
  .row
    / Mentor Student
    .col-md-12
      = f.input :mentor_student, as: :radio_buttons, label: 'Have you mentored a student before?', item_wrapper_class: 'checkbox-inline', required: true, label_html: { class: 'display-block text-left' }
  .row
    / Services
    .col-md-12
      = f.input :service_ids, collection: @services, input_html: { multiple: true, style: 'width: 100%;' }, label: 'Which services do you want to offer?', required: true
  .row
    / reason
    .col-md-12
      = f.input :reason, as: :text, label: 'Why do you want to help students study abroad?', required: true
  .row
    / Free tip
    .col-md-12
      = f.input :free_tip, as: :text, label: 'Give one free tip for students planning on studying abroad that is specific to your school:', required: true
  .row
    / Essay Services
    .col-md-12
      = f.input :essay_services, collection: Mentor::ESSAY_SERVICES_WITH_INDEX, checked: @user.essay_services, as: :check_boxes, item_wrapper_class: 'mB10', required: true
  .row.mB20
    / Profile Picture
    .col-md-6
      = f.input :primary_photo, :as => :file, label_html: { class: 'pT-10' }, input_html: { class: 'file-upload-input hidden', data: { target_name: '#target-upload-name' } }, required: true, label: 'Profile Picture'
      p#target-upload-name.text-success.mT-20
    .col-md-6
      = button_tag 'Upload', class: 'btn btn-blue button-upload-toggle', type: 'button', data: { target: '#user_primary_photo' }
  .row
    / Consultation Charge
    .col-md-12
      = f.input :basic_consultation_charge, collection: [["$5", 5], ["$10", 10]], as: :radio_buttons, label: 'How much would you like to charge for basic consultation?', item_wrapper_class: 'checkbox-inline', required: true, label_html: { class: 'display-block text-left' }
  .row
    / Term of use
    .col-md-12
      = f.input :terms_of_use, as: :boolean, wrapper_html: { class: 'mB0' }, required: true
      p Once the student requests a service, you will be prompted by email to accept or decline. The student will pay the service charge once you confirm the appointment. If you are unable to accept, please decline immediately so the student gets a chance to request another mentor. For every service, you will earn 80% and 20% goes to AFriendAbroad to cover operational costs (Mentors are paid via Paypal). If the student needs to clarify your essay comments or needs additional feedback, they may contact you to upload additional revisions. You can upload the additional comments. The administrator may review your essay comments and give tips on how to improve it. If the student is not satisfied with any of your services, they may request a refund and both you and AFriendAbroad will not earn anything.
  .row
    / Reply Speed
    .col-md-12
      = f.input :reply_speed, as: :boolean, label: 'Reply Speed. You must reply to a student\'s question within 72 hours so please check your email everyday.', required: true
  .row
    / Additional Information
    .col-md-12
      = f.input :additional_information, as: :text
  .row
    / Timezone
    .col-md-12
      = f.input :timezone, collection: [@user.timezone] || [], selected: @user.timezone, label: 'Select your default timezone (For all locations in mainland China, please type: Asia Shanghai.)', required: true, input_html: { style: 'width: 100%;' }
  .row
    .form-actions.pull-right
      = f.submit 'Register', class: 'btn btn-blue', data: { disable_with: t('views.labels.loading') }