<% if resource.errors.any? %>
  $('#form-mentor-registration').html("<%= escape_javascript(render 'form') %>")
  initializeMentorRegistrationForm()
<% else %>
  Turbolinks.visit('<%= dashboard_index_url%>')
<% end %>