.container-fluid
  .row
    - cache('devise-extension-mentor-registration-heading-label') do
      .col-md-8.col-md-offset-2
        .mentor-info
          h1 Mentor Registration
          hr.header
          p.mB0 Please register as a mentor. Once you register, you will have a username and password.
          p You can then log in and edit your profile.
    .col-md-8.col-md-offset-2.form-mentor-registration
      = render 'form'
