p Hello #{@order.student.user.full_name},

p Your mentor, #{link_to(@order.mentor.user.full_name, profile_url(@order.mentor.user))} accepted your order.

p Please click #{link_to('here', profile_order_url(@order.student.user, @order))} to see the order details.

p Click the orange INSTRUCTIONS button for help on how to proceed with each step.

p.mT10 Sincerely yours,

strong afriendabroad