p Hello #{@order.mentor.user.full_name},

p Your Student #{link_to(@order.student.user.full_name, profile_url(@order.student.user))} sent you an additional instruction regarding the order.

p Additional Instruction: "#{@order.additional_instructions}"

p Please click #{link_to('here', profile_order_url(@order.mentor.user, @order))} to see the order details.

p.mT10 Sincerely yours,

strong afriendabroad