p Hello #{@order.student.user.full_name},

p You've successfully canceled your order.

p Please click #{link_to('here', profile_order_url(@order.student.user, @order))} to see the order details.

p.mT10 Sincerely yours,

strong afriendabroad