p Hello #{@order.mentor.user.full_name},

p Your student #{link_to(@order.student.user.full_name, profile_url(@order.student.user))} confirmed your order.

p Please click #{link_to('here', profile_order_url(@order.mentor.user, @order))} to see the order details.

p.mT10 Sincerely yours,

strong afriendabroad