p Hello #{@order.student.user.full_name},

p Your Mentor #{link_to(@order.mentor.user.full_name, profile_url(@order.mentor.user))} sent you an encouragement message regarding your order.

p Encouragement message: "#{@order.additional_comments}"

p Please click #{link_to('here', profile_order_url(@order.student.user, @order))} to see the order details.

p.mT10 Sincerely yours,

strong afriendabroad