p Hello #{@order.mentor.user.full_name},

p You have a pending order. Please accept or decline the order.

p Order from: #{link_to(@order.student.user.full_name, profile_url(@order.student.user))}

p Please click #{link_to('here', profile_order_url(@order.mentor.user, @order))} to see the order details.

p.mT10 Sincerely yours,

strong afriendabroad