window.MESSAGES =
  ERRORS:
    GENERAL: 'Failed to process your request, Please try again later.'
    RESOURCE_NOT_FOUND: 'Failed to process your request, resource not found.'
    PROFILE_UPDATE: 'Failed to update your Profile, Please review the problems.'
    ACCOUNT_SETTINGS: 'Failed to update your Account Settings, Please review the problems.'
    DISCONNECTED: 'Communication with the server is lost. Please try again later.'
    NO_AMOUNT: 'Please select an amount.'

window.loader = (show) ->
  loader = $('.loader')

  if(show)
    loader.show()
  else
    loader.hide()

if '<%= Rails.env.development? %>' == 'true'
  window.ws = new WebSocketRails(window.document.location.host + '/websocket/')
else
  window.ws = new WebSocketRails(window.document.location.hostname + ':3001/websocket/')

window.ws.on_open = (data) ->
    console.log('Connected: ', data)
window.ws.bind 'connection_closed', () ->
  console.log 'closed'
  console.log 'reconnecting'
  window.ws.reconnect()

$(window).bind 'beforeunload', (e) ->
  # loader(true)
  return

$(document).on 'submit', 'form', (e) ->
  # setTimeout () ->
  #   # loader(false)
  # , 0
  return

$(document).on 'page:fetch', (e) ->
  # loader(true)

$(document).on 'page:receive page:restore', (e) ->
  # loader(false)

$(document).on 'page:load ready', (e) ->
  $.ajaxSetup
    statusCode:
      500: (response) ->
        _n.renderErrorPopup(MESSAGES.ERRORS.GENERAL)
        loader(false)
      404: (response) ->
        _n.renderErrorPopup(MESSAGES.ERRORS.RESOURCE_NOT_FOUND)
        loader(false)

  pathname = window.location.pathname
  links = $('a')
  links.each (i,v) ->
    link = $(v)
    if link.attr('href') == pathname
      link.addClass('active')
