window.initializeMentorForm = (class_container) ->
  countrySelect = $(".#{class_container} #user_home_town, .#{class_container} #user_current_country")
  schoolSelect = $(".#{class_container} #user_undergraduate_universities, .#{class_container} #user_graduate_universities")
  degreeSelect = $(".#{class_container} #user_degree")
  serviceSelect = $(".#{class_container} #user_service_ids")
  timezoneSelect = $(".#{class_container} #user_timezone")

  $('span.select2-container').remove()

  if !!countrySelect.data('select2')
    countrySelect.select2('destroy')

  countrySelect.unbind().select2
    placeholder: 'Select Country'
    allowClear: true
    language:
      searching: () ->
        'Please wait...'
    ajax:
      url: '<%= Rails.application.routes.url_helpers.countries_scholastics_path(format: :json) %>'
      dataType: 'json'
      delay: 250
      data: (params) ->
        q: params.term
        page: params.page
      processResults: (data, page) ->
        results: data
      cache: true
    minimumInputLength: 3

  if !!schoolSelect.data('select')
    schoolSelect.select2('destroy')

  schoolSelect.unbind().select2
    placeholder: 'Select Universities'
    allowClear: true
    ajax:
      url: '<%= Rails.application.routes.url_helpers.universities_scholastics_path(format: :json) %>'
      dataType: 'json'
      delay: 250
      data: (params) ->
        q: params.term
        page: params.page
      processResults: (data, page) ->
        results: data
      cache: true
    minimumInputLength: 3

  if !!degreeSelect.data('select2')
    degreeSelect.select2('destroy')

  degreeSelect.unbind().select2
    placeholder: 'Select Degrees'
    allowClear: true

  initializeDropdownUniversities()
  initializeDropdownMajor()

  if !!serviceSelect.data('select2')
    serviceSelect.select2('destroy')

  serviceSelect.unbind().select2
    placeholder: 'Select Services'
    allowClear: true

  degreeSelect.change (e) ->
    targetDegree = $(@).select2('data')
    results = _.map targetDegree, (value) ->
      value.text
    toggle = results.indexOf("Other") != -1
    $(".#{class_container} #other-degree").toggleClass('hidden', !toggle)

  degreeSelect.trigger('change')

  $('button.button-upload-toggle').unbind().on 'click', (e) ->
    dis = $(@)
    $(dis.attr('data-target')).click()

  $('input.file-upload-input').unbind().on 'change', (e) ->
    filename = @files[0].name
    targetPlaceholder = $(@).attr('data-target-name')
    $(targetPlaceholder).html(filename)

  if !!timezoneSelect.data('select2')
    timezoneSelect.select2('destroy')

  timezoneSelect.unbind().select2
    placeholder: 'Select your default timezone'
    allowClear: true
    minimumInputLength: 3
    language:
      searching: () ->
        'Please wait...'
    ajax:
      url: '<%= Rails.application.routes.url_helpers.timezones_scholastics_path(format: :json) %>'
      dataType: 'json'
      delay: 250
      data: (params) ->
        q: params.term
        page: params.page
      processResults: (data, page) ->
        results: data
      cache: true

  $('.mentor #add-new-school').on 'click', (event) ->
    event.preventDefault()
    div = $('.universities .university').first()
    $('.universities').append(div.clone())
    $('.user_mentor_schools_university .select2-container').remove()
    $('.user_mentor_schools_major .select2-container').remove()
    initializeDropdownUniversities()
    initializeDropdownMajor()

  $('.account_settings #add-new-school').on 'click', (event) ->
    $form = $('.new-school-form')
    $form.toggleClass('hidden', $form.is(':visible'))
    return false

  $('.account_settings #add-new-alternative-contact').on 'click', (event) ->
    $form = $('.new-alternative-contact-form')
    $form.toggleClass('hidden', $form.is(':visible'))
    return false

window.initializeMentorAccountSettingForm = () ->
  mentorAccountSettingForm = $('form.edit-mentor-account-settings')
  if mentorAccountSettingForm.length == 1
    initializeMentorForm('edit-mentor-account-settings')

window.initializeDropdownUniversities = () ->
  schoolSelect = $('.user_university')

  if !!schoolSelect.data('select')
    schoolSelect.select2('destroy')

  schoolSelect.unbind().select2
    placeholder: 'Select Universities'
    allowClear: true
    ajax:
      url: '<%= Rails.application.routes.url_helpers.universities_scholastics_path(format: :json) %>'
      dataType: 'json'
      delay: 250
      data: (params) ->
        q: params.term
        page: params.page
      processResults: (data, page) ->
        results: data
      cache: true
    minimumInputLength: 3

window.initializeDropdownMajor = () ->
  majorSelect = $('.user_major')

  if !!majorSelect.data('select2')
    majorSelect.select2('destroy')

  majorSelect.unbind().select2
    placeholder: 'Select Majors'
    allowClear: true
    minimumInputLength: 3
    language:
      searching: () ->
        'Please wait...'
    ajax:
      url: '<%= Rails.application.routes.url_helpers.majors_scholastics_path(format: :json) %>'
      dataType: 'json'
      delay: 250
      data: (params) ->
        q: params.term
        page: params.page
      processResults: (data, page) ->
        results: data
      cache: true

$(document).on 'page:load ready', () ->
  if $('body').hasClass('account_settings')
    initializeMentorAccountSettingForm()