window.userId = () ->
  $('body').attr('data-user')
window.avatarUploader = () ->
  editPrimaryPhotoModal = $('#edit-primary-photo-modal')

  if editPrimaryPhotoModal.length == 1
    editPrimaryPhotoForm = $('#edit-primary-photo-modal form').dropzone
      paramName: 'user[primary_photo]'
      maxFilesize: 3
      acceptedFiles: 'image/*'
      addRemoveLinks: true
      maxFiles: 1
      uploadMultiple: false
      init: () ->
        @.on 'success', (file) ->
          @.removeFile(file)
          editPrimaryPhotoModal.modal('hide')
          eval(file.xhr.response)
        @.on 'error', (file) ->
          _n.renderErrorPopup(MESSAGES.ERRORS.GENERAL)

window.profileImagesUploader = () ->
  uploadImagesModal = $('#upload-images-modal')

  if uploadImagesModal.length == 1
    uploadImagesForm = $('#upload-images-modal form').dropzone
      paramName: 'images'
      maxFilesize: 3
      acceptedFiles: 'image/*'
      addRemoveLinks: true
      parallelUploads: 1
      uploadMultiple: true
      autoProcessQueue: false
      maxFiles: 30
      init: () ->
        button = uploadImagesModal.find('a#start-upload-images-button')
        form = @
        button.on 'click', () ->
          if form.getAcceptedFiles().length > 0
            form.processQueue()
          else
            setTimeout () ->
              $.rails.enableElement(button)
            , 300

        @.on 'success', (file) ->
          @.removeFile(file)
          form.processQueue()

        @.on 'complete', (file) ->
          if !!file.xhr
            eval(file.xhr.response)
            if (this.getUploadingFiles().length == 0 && this.getQueuedFiles().length == 0)
              uploadImagesModal.modal('hide')
              $.rails.enableElement(button)

        @.on 'error', (file) ->
          _n.renderErrorPopup(MESSAGES.ERRORS.GENERAL)

        @.on 'sending', (file, xhr, data) ->
          if $('.profile-photos').attr('data-settings') == '1'
            data.append('scheme', true)

window.profileFilesUploader = () ->
  uploadFilesModal = $('#upload-files-modal')

  if uploadFilesModal.length == 1
    uploadImagesForm = uploadFilesModal.find('form').dropzone
      paramName: 'files'
      maxFilesize: 40
      addRemoveLinks: true
      parallelUploads: 1
      uploadMultiple: false
      autoProcessQueue: false
      maxFiles: 1
      init: () ->
        button = uploadFilesModal.find('a#start-upload-files-button')
        form = @
        button.on 'click', () ->
          if form.getAcceptedFiles().length > 0
            form.processQueue()
          else
            setTimeout () ->
              $.rails.enableElement(button)
            , 300

        @.on 'success', (file) ->
          @.removeFile(file)
          form.processQueue()

        @.on 'complete', (file) ->
          if !!file.xhr
            eval(file.xhr.response)
            if (this.getUploadingFiles().length == 0 && this.getQueuedFiles().length == 0)
              uploadFilesModal.modal('hide')
              $.rails.enableElement(button)

        @.on 'error', (file) ->
          _n.renderErrorPopup(MESSAGES.ERRORS.GENERAL)

        @.on 'sending', (file, xhr, data) ->
          if $('.profile-documents').attr('data-settings') == '1'
            data.append('scheme', true)

window.initializeSchoolSelection = () ->
  editMentorProfileForm = $('form.edit-mentor-profile')
  if editMentorProfileForm.length == 1
    otherSchoolAcceptances = editMentorProfileForm.find('select#user_undergraduate_universities')
    $('span.select2-container').remove()

    if !!otherSchoolAcceptances.data('select2')
      otherSchoolAcceptances.select2('destroy')

    otherSchoolAcceptances.unbind().select2
      placeholder: 'Select Other Acceptances'
      allowClear: true
      language:
        searching: () ->
          'Searching, please wait until we locate your school choice'
      ajax:
        url: '<%= Rails.application.routes.url_helpers.universities_scholastics_path(format: :json) %>'
        dataType: 'json'
        delay: 250
        data: (params) ->
          q: params.term
          page: params.page
        processResults: (data, page) ->
          results: data
        cache: true
      minimumInputLength: 3

$(document).on 'page:load ready', () ->
  if $('body').hasClass('profile')
    initializeSchoolSelection()
  if $('body').hasClass('profile') || $('body').hasClass('images') || $('body').hasClass('documents')
    avatarUploader()
    profileImagesUploader()
    profileFilesUploader()