window.submitSearchFilterForm = () ->
  urlPath = '<%= Rails.application.routes.url_helpers.search_mentors_path %>'

  if !!gon.params
    params = $.param(gon.params)

    setTimeout () ->
        Turbolinks.visit(urlPath + '?' + params)
      , 1000
  else
    setTimeout () ->
      $.rails.enableElement($('a[data-disable-with]'))
    , 1000

window.initializeSearchFilterForm = () ->
  $('span.select2-container').remove()

  # ADVACNE FILTER
  advanceFilter =  $('.advanced-filter')
  advanceFilterDegrees = advanceFilter.find('select.degrees')
  advanceFilterCountry = advanceFilter.find('select.country')
  advanceFilterMajors = advanceFilter.find('select.majors')
  advanceFilterServices = advanceFilter.find('select.services')
  advanceFilterLanguage = advanceFilter.find('select.language')
  advanceFilterRatings = advanceFilter.find("input[type='radio']")

  advanceFilterDegrees.unbind()
  advanceFilterCountry.unbind()
  advanceFilterLanguage.unbind()
  advanceFilterMajors.unbind()
  advanceFilterServices.unbind()

  advanceFilterDegrees.select2
    placeholder: 'Select Degrees'
    data: gon.degrees
    allowClear: true

  advanceFilterCountry.select2
    placeholder: 'Select Country'
    allowClear: true
    language:
      searching: () ->
        'Please wait...'
    ajax:
      url: '<%= Rails.application.routes.url_helpers.countries_scholastics_path(format: :json) %>'
      dataType: 'json'
      delay: 250
      data: (params) ->
        q: params.term
        page: params.page
      processResults: (data, page) ->
        results: data
      cache: true
    minimumInputLength: 3

  advanceFilterMajors.select2
    placeholder: 'Select Majors'
    allowClear: true
    minimumInputLength: 3
    language:
      searching: () ->
        'Please wait...'
    ajax:
      url: '<%= Rails.application.routes.url_helpers.majors_scholastics_path(format: :json) %>'
      dataType: 'json'
      delay: 250
      data: (params) ->
        q: params.term
        page: params.page
      processResults: (data, page) ->
        results: data
      cache: true

  advanceFilterServices.select2
    placeholder: 'Select Services'
    data: gon.services
    allowClear: true

  advanceFilterLanguage.select2
    placeholder: 'Select Language'
    allowClear: true
    ajax:
      url: '<%= Rails.application.routes.url_helpers.languages_scholastics_path(format: :json) %>'
      dataType: 'json'
      delay: 250
      data: (params) ->
        q: params.term
        page: params.page
      processResults: (data, page) ->
        results: data
      cache: true
    minimumInputLength: 3

  # SEARCH KEYWORD FILTER
  searchKeywordFilter = $('.search-keyword-filter')
  searchKeywordFilter.select2
    tags: true
    placeholder: 'Type any keyword...'
    language:
      searching: () ->
        ''
    ajax:
      url: '<%= Rails.application.routes.url_helpers.search_tags_scholastics_path(format: :json) %>'
      dataType: 'json'
      delay: 250
      data: (params) ->
        q: params.term
        page: params.page
      processResults: (data, page) ->
        results: data
      cache: true
    minimumInputLength: 3
  # search tags
  if !!gon.selected_search_tags
    searchKeywordFilter.select2('val', gon.selected_search_tags)

  if !!gon.params
    # search tags
    searchKeywordFilter.on 'change', (e) ->
      values = $(@).val()
      gon.params.keyword = values
    # degrees
    advanceFilterDegrees.on 'change', (e) ->
      values = $(@).val()
      gon.params.degrees = values

    if !!gon.params.degrees
      advanceFilterDegrees.select2('val', gon.params.degrees)

    # country
    advanceFilterCountry.on 'change', (e) ->
      value = $(@).val()
      gon.params.country = value

    if !!gon.params.country
      advanceFilterCountry.select2('val', gon.params.country)

    # majors
    advanceFilterMajors.on 'change', (e) ->
      values = $(@).val()
      gon.params.majors = values

    if !!gon.params.majors
      advanceFilterMajors.select2('val', gon.params.majors)

    # services
    advanceFilterServices.on 'change', (e) ->
      values = $(@).val()
      gon.params.services = values

    if !!gon.params.services
      advanceFilterServices.select2('val', gon.params.services)

    # language
    advanceFilterLanguage.on 'change', (e) ->
      value = $(@).val()

      gon.params.language = value

    if !!gon.params.language
      advanceFilterLanguage.select2('val', gon.params.language)

    #ratings
    advanceFilterRatings.on 'click', (e) ->
      gon.params.ratings = $(@).val()

  # filter button
  $('a#search-filter-button').unbind().on 'click', (e) ->
    e.preventDefault()
    submitSearchFilterForm()
    true

$(document).on 'page:load ready', () ->
  if $('body').hasClass('mentors')
    initializeSearchFilterForm()