window.initializeStudentForm = (class_container) ->
  currentCountrySelect = $(".#{class_container} #user_current_country")
  targetCountrySelect = $(".#{class_container} #user_target_countries")
  targetDegreeSelect = $(".#{class_container} #user_target_degree")
  serviceSelect = $(".#{class_container} #user_service_ids")
  timezoneSelect = $(".#{class_container} #user_timezone")

  $('span.select2-container').remove()

  if !!currentCountrySelect.data('select2')
    currentCountrySelect.select('destroy')

  currentCountrySelect.unbind().select2
    placeholder: 'Select Country'
    allowClear: true
    minimumInputLength: 3
    language:
      searching: () ->
        'Please wait...'
    ajax:
      url: '<%= Rails.application.routes.url_helpers.countries_scholastics_path(format: :json) %>'
      dataType: 'json'
      delay: 250
      data: (params) ->
        q: params.term
        page: params.page
      processResults: (data, page) ->
        results: data
      cache: true

  if !!targetCountrySelect.data('select2')
    targetCountrySelect.select2('destroy')

  targetCountrySelect.unbind().select2
    placeholder: 'Select Country'
    allowClear: true
    language:
      searching: () ->
        'Please wait...'
    ajax:
      url: '<%= Rails.application.routes.url_helpers.countries_scholastics_path(format: :json) %>'
      dataType: 'json'
      delay: 250
      data: (params) ->
        q: params.term
        page: params.page
      processResults: (data, page) ->
        results: data
      cache: true
    maximumSelectionLength: 3

  if !!targetDegreeSelect.data('select2')
    targetDegreeSelect.select2('destroy')

  targetDegreeSelect.unbind().select2
    placeholder: 'Select Degrees'
    allowClear: true
    multiple: true
    maximumSelectionLength: 3

  initializeDropdownUniversities()
  initializeDropdownMajor()

  if !!serviceSelect.data('select2')
    serviceSelect.select2('destroy')

  serviceSelect.unbind().select2
    placeholder: 'Select Services'
    allowClear: true

  targetDegreeSelect.change (e) ->
    targetDegree = $(@).select2('data')
    results = _.map targetDegree, (value) ->
      value.text
    toggle = results.indexOf("Other") != -1
    $(".#{class_container} #other-degree").toggleClass('hidden', !toggle)

  targetDegreeSelect.trigger('change')

  if !!timezoneSelect.data('select2')
    timezoneSelect.select2('destroy')

  timezoneSelect.unbind().select2
    placeholder: 'Select your default timezone'
    allowClear: true
    minimumInputLength: 3
    language:
      searching: () ->
        'Please wait...'
    ajax:
      url: '<%= Rails.application.routes.url_helpers.timezones_scholastics_path(format: :json) %>'
      dataType: 'json'
      delay: 250
      data: (params) ->
        q: params.term
        page: params.page
      processResults: (data, page) ->
        results: data
      cache: true

  $('.student #add-new-school').on 'click', (event) ->
    event.preventDefault()
    div = $('.universities .university').first()
    $('.universities').append(div.clone())
    $('.user_student_schools_university .select2-container').remove()
    $('.user_student_schools_major .select2-container').remove()
    initializeDropdownUniversities()
    initializeDropdownMajor()

  $('.account_settings #add-new-school').on 'click', (event) ->
    $form = $('.new-school-form')
    $form.toggleClass('hidden', $form.is(':visible'))
    return false

  $('.account_settings #add-new-alternative-contact').on 'click', (event) ->
    $form = $('.new-alternative-contact-form')
    $form.toggleClass('hidden', $form.is(':visible'))
    return false

window.initializeStudentAccountSettingForm = () ->
  studentAccountSettingForm = $('form.edit-student-account-settings')
  if studentAccountSettingForm.length == 1
    initializeStudentForm('edit-student-account-settings')

window.initializeDropdownUniversities = () ->
  targetUniversitySelect = $('.user_university')

  if !!targetUniversitySelect.data('select2')
    targetUniversitySelect.select2('destroy')

  targetUniversitySelect.unbind().select2
    placeholder: 'Select Universities'
    allowClear: true
    language:
      searching: () ->
        'Searching, please wait until we locate your school choice'
    ajax:
      url: '<%= Rails.application.routes.url_helpers.universities_scholastics_path(format: :json) %>'
      dataType: 'json'
      delay: 250
      data: (params) ->
        q: params.term
        page: params.page
      processResults: (data, page) ->
        results: data
      cache: true

window.initializeDropdownMajor = () ->
  targetSubjectSelect = $('.user_major')

  if !!targetSubjectSelect.data('select2')
    targetSubjectSelect.select2('destroy')
  targetSubjectSelect.unbind().select2
    placeholder: 'Select Subjects'
    allowClear: true
    minimumInputLength: 3
    language:
      searching: () ->
        'Please wait...'
    ajax:
      url: '<%= Rails.application.routes.url_helpers.majors_scholastics_path(format: :json) %>'
      dataType: 'json'
      delay: 250
      data: (params) ->
        q: params.term
        page: params.page
      processResults: (data, page) ->
        results: data
      cache: true

$(document).on 'page:load ready', () ->
  if $('body').hasClass('account_settings')
    initializeStudentAccountSettingForm()
