.university class="school-#{school.id}"
  .row
    .col-sm-12
      hr
    .col-sm-11
      = simple_form_for(school, url: school.id ? profile_school_path(@profile, school) : profile_schools_path(@profile, school), html: { class: 'form-horizontal col-md-12 edit-school-profile'}, remote: true) do |f|
        .col-sm-10.col-sm-offset-1
          / Target Schools
          = f.input :university, collection: [school.university] || [], selected: school.university, required: true, input_html: { class: 'user_university', style: 'width: 100%;' }, label: 'University/Colleges you want to attend', as: :select
        .col-sm-10.col-sm-offset-1
          / Target Subjects
          = f.input :major, collection: [school.major] || [], selected: school.major, required: true, input_html: { class: 'user_major', style: 'width: 100%;' }, label: 'Desired majors or specializations', as: :select
        .col-sm-10.col-sm-offset-1.clearfix
          = f.submit t('views.labels.save'), class: 'btn btn-sm btn-theme pull-right', data: { disable_with: t('views.labels.saving') }
    - unless school.new_record?
      .col-sm-1
        = button_to profile_school_path(@profile, school), method: :delete, remote: true, class: 'btn btn-sm btn-danger pull-right mT30', data: { confirm: 'Are you sure you want to delete this?' } do
          p = t('views.labels.delete')