$div = $('.universities .university')
if ($div.length > 0) {
  $div.last().append('<%= escape_javascript(render partial: "schools/form", locals: { school: @school} ) %>')
} else {
  $('.universities').append('<%= escape_javascript(render partial: "schools/form", locals: { school: @school} ) %>')
}

initializeMentorAccountSettingForm()
initializeStudentAccountSettingForm()

<% if @school.errors.empty? %>
  _n.renderSuccessPopup("<%= t('views.schools.create.success') %>")
  $('.new-school-form').toggleClass('hidden', true)
<% else %>
  _n.renderErrorPopup(MESSAGES.ERRORS.ACCOUNT_SETTINGS)
  $('.has-error input, .has-error select, .has-error textarea').focus()
<% end %>