initializeMentorAccountSettingForm()
initializeStudentAccountSettingForm()

<% if @school.errors.empty? %>
  _n.renderSuccessPopup("<%= t('views.schools.destroy.success') %>")
  $('.universities').find(".school-<%= @school.id %>").remove()
<% else %>
  _n.renderErrorPopup(MESSAGES.ERRORS.ACCOUNT_SETTINGS)
  $('.has-error input, .has-error select, .has-error textarea').focus()
<% end %>