initializeMentorAccountSettingForm()
initializeStudentAccountSettingForm()

<% if @school.errors.empty? %>
  _n.renderSuccessPopup("<%= t('views.schools.update.success') %>")
<% else %>
  _n.renderErrorPopup(MESSAGES.ERRORS.ACCOUNT_SETTINGS)
  $('.has-error input, .has-error select, .has-error textarea').focus()
<% end %>