<div class='modal fade' id='error_popup_notification' role='dialog'>
  <div class='modal-dialog default-position' role='document'>
    <div class='modal-content'>
      <div class='modal-header'>
        <label class='mT0 mB0 text-danger'>ERROR MESSAGE</label>
      </div>
      <div class='modal-body'>
        <div class='alert alert-danger mB0'>
          <p><%= message %></p>
        </div>
      </div>
      <div class='modal-footer'>
        <div class='pull-right'>
          <button type="button" class="btn btn-danger btn-sm" data-dismiss="modal" data-target="#error_popup_notification">Close</button>
        </div>
      </div>
    </div>
  </div>
</div>