<div class='modal fade' id='success_popup_notification' role='dialog'>
  <div class='modal-dialog default-position' role='document'>
    <div class='modal-content'>
      <div class='modal-header'>
        <label class='blue mT0 mB0'>SUCCESS MESSAGE</label>
      </div>
      <div class='modal-body'>
        <div class='alert alert-info mB0'>
          <p><%= message %></p>
        </div>
      </div>
      <div class='modal-footer'>
        <div class='pull-right'>
          <button type="button" class="btn btn-blue btn-sm" data-dismiss="modal" data-target="#success_popup_notification">Close</button>
        </div>
      </div>
    </div>
  </div>
</div>