@import "active_admin/mixins";
@import "active_admin/base";
@import "wigu/active_admin_theme";
@import 'select2';

.pagination {
  li {
    display: inline-block;
  }
}

.alert-danger {
  color: #a94442;
  background-color: #f2dede;
  border-color: #ebccd1;
  border-radius: 4px;
  padding: 15px;
  padding-right: 35px;

  .close {
    position: relative;
    top: -2px;
    right: -21px;
    color: inherit;
    padding: 0;
    cursor: pointer;
    background: 0 0;
    border: 0;
    float: right;
    font-size: 21px;
    font-weight: 700;
    line-height: 1;
  }
}