/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require select2
 *= require select2-bootstrap
 *= require dropzone/dropzone
 *= require fullcalendar
 *= require jquery.timepicker.css
 *= require_self
 */
@import 'flipclock';
@import "bootstrap-sprockets";
@import "bootstrap";
@import 'ionicons';
@import 'utils';
@import 'appointments';
@import 'box';
@import 'branding';
@import 'button';
@import 'careers';
@import 'colors';
@import 'contacts';
@import 'documents';
@import 'dropzone';
@import 'fonts';
@import 'footer';
@import 'header';
@import 'item';
@import 'layout';
@import 'loader';
@import 'mentors';
@import 'message_handler';
@import 'messenger';
@import 'modal';
@import 'notifications';
@import 'orders';
@import 'pagination';
@import 'panel';
@import 'profile';
@import 'ratings';
@import 'recommendation';
@import 'registration';
@import 'responsive_config';
@import 'schedules';
@import 'search';
@import 'services';
@import 'sharer';
@import 'star';
@import 'tasks';
@import 'transactions';
@import 'transition';
@import 'videos';
@import 'wallets';

.alert.notice, .alert-notice {
  @extend .alert-info;
}

.alert.error, .alert-alert, .alert-error {
  @extend .alert-danger;
}

abbr[title="required"] {
  @extend .text-danger;
  font-size: 20px;
  border-bottom: none;
  vertical-align: top;
}