@import 'colors';

.box-panel {
  border: 1px solid $light_gray_color;

  .box-inner {
    padding: 20px;
  }

  &.box-bordered {
    border-radius: 5px;
  }

  &.box-neon-green {
    border-color: $white_color;
    color: $white_color !important;
    background: $neon_green_color;
  }

  &.box-default {
    color: $theme_color !important;
    background: $white_color;
  }

  &.box-aqua {
    border-color: $white_color;
    color: $white_color !important;
    background: $aqua_color;
  }

  &.box-fire {
    border-color: $white_color;
    color: $white_color !important;
    background: $fire_color;
  }

  &.box-gray {
    border: 1px solid $gray_color;
    background: $lighest_gray_color;
  }

  &.box-theme {
    background: $theme_color;
  }

  &.box-blue {
    background: $blue_color;
  }

  &.box-dark-gray {
    border: 1px solid $gray_color;
    background: $lighter_gray_color;
  }
}