@import 'colors';
@import 'responsive_config';

.landing, .dashboard {
  p {
    margin: 0;
  }

  .preview-banner {
    min-height: 550px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;

    .white-overlay {
      background: $alpha_white_color;
      height: 530px;
      padding: 1em 2em;

      h3 {
        font-size: 21px;
        margin: 5px;
      }

      p {
        color: $white_color;
        font-size: 18px;
      }

      .black-box {
        background: $light_black_color;
        padding: 20px;
        font-family: sans-serif;

        small {
          font-size: 75%;
        }
      }
    }

    @media(max-width: $tablet_wide) {
      min-height: 580px;

      .white-overlay {
        height: 570px;
      }

    }

    @media(max-width: $mobile_wider) {
      min-height: 780px;

      .white-overlay {
        height: 770px;
      }

      .btn {
        float: none !important;
        display: block;
        margin-bottom: 10px;
      }
    }
  }

  .preview-mentors {
    .thumbnail {
      background-color: transparent;
      margin: 10px 0;
      border-color: transparent;

      .profile-avatar {
        border-radius: 85px;
        border: 5px solid $white_color;
      }

      .caption {
        text-align: center;
      }
    }

    @media(max-width: $tablet_wider) {
      .col-sm-4 {
        width: 50%;
        float: left;
      }
    }
  }

  .preview-branding {
    margin-top: 20px;

    img {
      width: 100%;
    }

    p {
      font-size: 18px;
    }

    .wordings {
      font-family: sans-serif;
    }

    h1, p, li {
      color: $white_color;
      margin: 0;
    }

    @media(max-width: $tablet_widest) {
      .col-sm-6 {
        width: 100%;
      }
    }

    @media(max-width: $mobile_wider) {
      h1 {
        font-size: 20px;
      }

      p {
        font-size: 14px;
      }
    }
  }

  .preview-traveler, .preview-the-mentors {
    .sky-blue-container {
      background: $sky_blue_color;
      border-radius: 5px;
      margin-bottom: 60px;

      img {
        width: 100%;
        margin-top: -95px;
        margin-left: 25px;
      }

      h2 {
        text-align: right;
        padding: 0 20px;
        font-weight: bold;
        font-weight: 28px;
        margin: 0 0 10px;
      }

      .traveler {
        margin: 0 0 0 20px;

        .number {
          display: inline-block;
          font-weight: bold;
          font-family: sans-serif;
        }

        .label-text {
          display: inline-block;
          font-size: 17px;
          margin-left: 10px;
          font-family: sans-serif;
        }
      }
    }

    @media(max-width: $mobile_wider) {
      margin-top: 20px;

      h2 {
        font-size: 25px;
      }

      .number {
        font-size: 25px;
      }

      .label-text {
        font-size: 12px !important;
      }
    }

    @media(max-width: $tablet_widest) {
      .col-sm-5 {
        width: 100%;
      }
    }
  }

  .preview-map {
    color: $white_color;

    img {
      margin: 55px 0 -15px;
    }

    h2 {
      margin-top: 0;
    }

    p {
      font-size: 16px;
    }

    @media(max-width: $mobile_wider) {
      h2 {
        font-size: 20px;
      }

      p {
        font-size: 14px;
      }
    }
  }

  .preview-the-mentors {
    margin-top: 80px;

    .sky-blue-container {
      img {
        margin-top: -190px;
        margin-left: 65px;
        width: 95%;
      }

      h2 {
        margin: -55px 15px 65px 0;
        font-size: 26px;
      }
    }

    @media(max-width: $mobile_wider) {
      margin-top: 20px;

      h2 {
        font-size: 25px;
      }
    }
  }

  .preview-mobile {
    color: $white_color;

    img {
      width: 100%;
    }

    @media(max-width: $mobile_wider) {
      h1 {
        font-size: 20px;
      }
    }
  }

  .preview-quick-link {
    text-align: center;
    color: $white_color;

    .black-background {
      padding: 40px 0 20px;

      h2 {
        margin: 0 0 5px;
      }
    }

    @media(max-width: $mobile_wider) {
      h2 {
        font-size: 20px;
      }
    }
  }
}

.top-mentor-thumb {
  height: 300px;
  overflow: hidden;
}