@import 'colors';
@import 'responsive_config';

.btn-theme {
  color: $white_color !important;
  background: $theme_color !important;

  &:hover, &:focus, &:active, &.active {
    color: $white_color !important;
    background: $dark_light_blue_color !important;

    &.btn-bevel {
      box-shadow: 0px 5px 0px $theme_color;
    }
  }

  &.btn-bevel {
    box-shadow: 0px 5px 0px $dark_light_blue_color;
  }

  &.btn-nav {
    padding: 2px 10px;
    margin: 5px 1px;
    font-family: sans-serif;
  }
}

.btn-blue {
  color: $white_color;
  background: $blue_color;

  &.btn-bevel {
    box-shadow: 0px 5px 0px $dark_blue_color;
  }

  &:hover, &:focus, &:active, &.active {
    color: $white_color !important;
    background: $dark_blue_color !important;

    &.btn-bevel {
      box-shadow: 0px 5px 0px $blue_color;
    }
  }

  &.btn-nav {
    padding: 2px 10px;
    margin: 5px 1px;
  }
}

.btn {
  font-family: sans-serif;
  overflow: hidden;
  text-overflow: ellipsis;

  &.btn-bevel {
    border-radius: 3px;
  }

  &.btn-shadow {
    box-shadow: 3px 3px 7px $black_color !important;
  }
}

.btn-flat {
  border-radius: 0px !important;
}

.btn-gray {
  background: $dark_gray_color;
  color: $darker_gray_color;
  border: 1px solid $darker_gray_color;

  &:hover, &:active, &:focus, &:active, &.active {
    color: $white_color !important;
  }
}

.btn-light-gray {
  background: $gray_color;
  color: $darker_gray_color;border: 1px solid $darker_gray_color;
  border: 1px solid $darker_gray_color;

  &:hover, &:active, &:focus, &:active, &.active {
    color: $white_color !important;
  }
}