// Place all the styles related to the careers controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.careers {
  .careers-container {
    img {
      margin-bottom: 25px;
    }
  }

  .careers-content {
    text-align: center;
  }
}