$theme_color: #6fb8c6;
$theme_glow_color: #3f6470;
$white_color: #ffffff;
// white overlay
$alpha_white_color: rgba(255, 255, 255, 0.5);
$black_color: #000000;
$light_black_color: #262728;
$lighter_black: #565656;
// button
$lighter_blue_color: #61b5cd;
$dark_light_blue_color: #336973;
$blue_color: #1086ad;
$dark_blue_color: #00567b;
$gray_color: #cdcdcd;
$dark_gray_color: #b2b2b2;
// background
$sky_blue_color: #cadddd;
$light_blue_color: #6eb7cf;
$blue_ocean_color: #41a3c5;
$darker_gray_color: #9a9a9a;
$lighest_gray_color: #f9f9f9;
$lighter_gray_color: #f6f6f6;
$fire_color: #dd4b39;
$aqua_color: #00c0ef;
$neon_green_color: #00a65a;
// text
$light_gray_color: #dadada;
$darkest_gray_color: #555555;
// header label
$dark_green_color: #184243;
