@import 'responsive_config';

.contacts {
  .contacts-container {
    margin: 50px;
  }

  .contact-details {
    background: #6fb8c6;
    border-radius: 15px;
    color: white;
    font-size: 18px;
    text-align: center;
    padding: 20px 20px 35px;

    .email {
      background: #a3aeb0;
      box-shadow: 1px 1px 1px 1px #4f828c;
      display: inline;
      padding: 10px;
    }

    @media(max-width: $tablet_wider) {
      .email {
        display: block;
        word-wrap: break-word;
      }
    }
  }
}