@import 'colors';

.dropzone {
  border: 3px dashed $blue_color;
  padding: 5%;
  color: $blue_color;
  cursor: pointer;
  width: 100%;

  &#edit-primary-photo-form {
    text-align: center;
  }

  .dz-remove {
    color: $black_color;
    text-decoration: none;
    font-size: 10px;
    margin-top: 5px;
  }

  .dz-progress {
    top: 70% !important;
  }

  .dz-error-message {
    top: 150px !important;
  }
}