@import 'colors';
@import 'responsive_config';

.main-header {
  hr {
    border: solid 15px $theme_color;
    margin: 0;
  }

  .logo-holder {
    a {

      &:hover, &:focus {
        background: transparent;
      }

      .logo {
        margin-top: -10px;
      }
    }

    @media(max-width: 767px) {
      text-align: center;
    }
  }

  .main-menu {
    margin: 20px 0px;
    li {
      a {
        margin: 0 3.5em 0 5px;
      }
    }

    &.pull-right {
      margin-right: 30px;
    }

    @media(max-width: $mobile_widist) {
      li {
        a {
          padding: 10px 0px !important;
          font-size: 15px;
        }
      }
    }

    @media(max-width: 1100px) {
      text-align: center;

      li {
        a {
          margin: 0 1em 0 5px;
        }
      }
    }
  }

  .application-header {
    .user-identity {
      .avatar {
        float: left;
        height: 130px;
        width: 130px;
        border: 2px solid $white_color;
        border-radius: 70px;
        margin: -15px -35px -40px 0;
        position: relative;
        background: $white_color;
        overflow: hidden;

        img {
          width: 100%;
          height: 100%;
        }
      }

      .preview {
        display: inline-block;
        position: relative;
      }

      .user-name {
        float: left;
        bottom: -20px;
        font-family: sans-serif;
        font-size: 40px;
        font-weight: bold;

        a {
          color: $theme_color;

          &:hover, &:focus, &:active {
            background: transparent;
          }

          span {
            margin-left: 20px;
          }
        }
      }
    }

    .main-menu {
      li {
        a {
          margin: 0 2.5em 0 5px;
        }
      }
    }

    @media(min-width: $tablet_widest) {
      .main-menu {
        float: right;
      }
    }

    @media(max-width: $tablet_widest) {
      .main-menu {
        margin-top: 35px;
      }
    }
  }

  @media(max-width: 767px) {
    ul {
      li {
        display: inline-block;

        a {
          margin: 0px !important;
          padding: 10px 5px;
        }
      }
    }
  }

}

.menu-link {
  color: $theme_color !important;
  font-size: 16px;
  font-weight: 200;

  &:hover, &:focus, &.active {
    background: $white_color !important;
    color: $theme_glow_color;
    text-decoration: none;
  }
}