@import 'colors';
@import 'responsive_config';

.grid-container {
  .item-link {
    color: $black_color;
    text-decoration: none;
  }

  .mentor-item {
    .bookmark_button {
      button {
        padding: 0px !important;
        margin-top: 5px !important;

        h4 {
          font-size: 14px;
          margin: 5px;
        }
      }
    }
  }

  .item {
    margin-bottom: 15px;

    &.grid-item {
      margin: 0 auto 10px;
      padding: 10px;
      position: relative;

      .top {
        display: inline-block;
        position: absolute;
        top: -19px;
        right: 20px;
        z-index: 1;
      }

      .inner-item {
        position: relative;
        overflow: hidden;

        .image {
          max-height: 180px;
          min-height: 180px;
          overflow: hidden;

          img {
            width: 80%;
            margin: auto;
          }
        }

        p {
          height: 20px;
          overflow: hidden;
          text-overflow: ellipsis;
          width: 100%;
          white-space: nowrap;
        }
      }

      &.gray-item {
        background: $lighest_gray_color;
        border: 1px solid $gray_color;
      }

      &.grid-md {
        .image {
          img {
            width: 100%;
          }
        }
      }
    }
  }

  @media(max-width: $tablet_wider) {
    .col-sm-3, .col-sm-4 {
      width: 33%;
      display: inline-block;
    }
  }

  @media(max-width: $tablet_wide) {
    .col-sm-3, .col-sm-4 {
      width: 49%;
      display: inline-block;
    }
  }

  @media(max-width: $mobile_wider) {
    .col-sm-3, .col-sm-4 {
      width: 100%;
      display: inline-block;
    }
  }
}