@import 'fonts';
@import 'colors';
@import 'responsive_config';

.admin_panel {
  position: fixed;
  z-index: 999999;
}

.message-notice {
  background: $fire_color;
  color: $white_color;
  text-align: center;
  position: fixed;
  width: 100%;
  bottom: 0;
  z-index: 100000;
}

* {
  -webkit-font-smoothing: antialiased;
  text-rendering: omptimizeLegibility !important;
}

a {
  text-decoration: none !important;
}

body {
  font-family: arvo !important;

  hr {
    &.black {
      border: 10px solid $light_black_color;
      margin: 0;
    }

    &.sky-blue {
      border: 10px solid $sky_blue_color;
      margin: 0;
    }
  }
}

.underline {
  text-decoration: underline;
}

.left-divider {
  border-left: 2px solid $light_gray_color;
}

.theme {
  color: $theme_color;
}

.blue {
  color: $lighter_blue_color !important;
}

.white {
  color: $white_color;
}

.black {
  color: $black_color !important;
}

.light-gray {
  color: $light_gray_color !important;
}

.darkest-gray {
  color: $darkest_gray_color !important;
}

.lighter-black {
  color: $lighter_black !important;
}

.dark-green {
  color: $dark_green_color;
}

.italic {
  font-style: italic;
}

.ellipsis {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.sky-blue-background {
  background: $sky_blue_color;
}

.light-blue-background {
  background: $light_blue_color;
}

.theme-background {
  background: $theme_color;
}

.ocean-blue-background {
  background: $blue_ocean_color;
}

.black-background {
  background: $black_color;
}

.collapsable {
  @media(max-width: $tablet_widest) {
    display: none;
  }
}

.display-block {
  display: block;
}

.display-inline {
  display: inline-block;
}

.text-left {
  text-align: left !important;
}

textarea {
  resize: none;
  min-height: 150px;
}

.has-error {
  .select2-selection {
    border-color: #a94442 !important;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  }
}

.select2-container--default {
  .select2-results__option--highlighted[aria-selected] {
    background: $theme_color;
  }
}

.control-label {
  text-align: left !important;
}

.select2-container--default {
  .select2-selection--multiple {
    .select2-selection__choice {
      display: inline-block;
      text-overflow: ellipsis;
      max-width: 100% !important;
      overflow: hidden;
      margin-top: 3px;
    }

    .select2-selection__clear {
      margin-right: 2px;
    }
  }
}

form {
  .form-group {
    .control-label {
      height: 35px;
    }
  }
}

.form-group {
  input,
  textarea,
  .select2-selection {
    border: solid 2px $theme_color;
    color: $theme_color;
    background: $lighest_gray_color;

    &:focus {
      -webkit-box-shadow: none;
      box-shadow: none;
    }
  }

  .select2-selection__rendered {
    color: $theme_color;
  }

  label { font-weight: normal; }
}

html.turbolinks-progress-bar::before {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: $blue_ocean_color !important;
  height: 10px !important;
  z-index: 100000000;
}