.loader {
  display: none;
  position: fixed;
  background: rgba(255,255,255, 0.5);
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  z-index: 100000;
  .inner-loader {
    position: fixed;
    right: 45%;
    text-align: center;
    top: 40%;

    .spinner {
      font-size: 30px;
    }
  }
}