@import 'colors';
@import 'responsive_config';

.messenger {
  .messages-scroll {
    height: 500px;
    overflow: auto;
    margin-bottom: 10px;

    .message-main-container {
      display: table;
      width: 95%;
      margin-left: 10px;

      @media(max-width: $tablet_wide) {
        width: 93%;
      }

      @media(max-width: $mobile_wider) {
        width: 87%;
      }

      .messages-container {
        display: table-cell;
        vertical-align: bottom;
        width: 100%;

        .message {
          margin-bottom: 10px;

          .message-info {
            display: block;
            margin-bottom:  10px;
            font-size: 12px;

            .name {
              font-weight: 600;
              font-size: 16px;
            }

            .timestamp {
              color: #999;
              float: right;
            }
          }

          .message-avatar {
            img {
              float: left;
              width: 50px;
              height: 50px;
            }
          }

          .text-message {
            border-radius: 5px;
            position: relative;
            padding: 5px 10px;
            background: $blue_ocean_color;
            margin: 5px 0 40px 90px;
            color: $white_color;
          }
        }
      }
    }
  }

  &.video_call {
    .messages-scroll {
      height: 200px;
    }

    .video-holder {
      position: relative;

      .big_video {
        margin: 10px auto;
        display: block;
        border: 1px solid $sky_blue_color;
        min-height: 410px;
        width: 540px;
        padding: 5px;
        background: $white_color;

        video {
          height: 400px;
          width: 100%;
        }


        @media(max-width: $tablet_widest) {
          width: 480px;
          min-height:370px;
          margin: 10px 0 10px auto;

          video {
            height: 360px;
          }
        }

        @media(max-width: $tablet_wide) {
          width: 325px;
          min-height: 245px;

          video {
            height: 235px;
          }
        }

        @media(max-width: $mobile_wider) {
          width: 225px;
          min-height: 180px;
          margin: 10px auto;

          video {
            height: 160px;
          }
        }
      }

      .small_video {
        height: 150px;
        width: 200px;
        display: block;
        border: 1px solid $sky_blue_color;
        background: $white_color;

        @media(max-width: $tablet_widest) {
          height: 100px;
          width: 130px;
        }

        @media(max-width: $mobile_wider) {
          height: 40px;
          width: 50px;
        }
      }

      .video-requester-holder {
        position: absolute;
        bottom: 5px;
        left: 10px;

        meter {
          width: 100%;
          display: none;
        }
      }
    }
  }

  .messenger-message-form {
    textarea {
      min-height: 50px;
    }
  }

  .flip-clock-wrapper {
    width: 460px;
    margin: 20px auto;

    .inn {
      background: $blue_ocean_color;
      color: $black_color;
    }

    .up:after {
      background-color: rgba(0,0,0,0);
    }
  }
}