@import 'colors';

.modal {
  &.modal-default {
    background: $alpha_white_color;

    .modal-dialog {
      margin-top: 165px;

      .modal-content {
        .close {
          background: $lighter_blue_color;
          padding: 0 2.5px;
        }

        border-radius: 0px;
        border: 5px solid $dark_light_blue_color;
      }
    }
  }
}