@import 'colors';

#notification-count-container {
  position: initial;
  #count {
    background: $theme_glow_color;
    padding: 0px 5px;
    border-radius: 5px;
    position: absolute;
    z-index: 1;
    bottom: -5px;
    font-weight: bold;
  }
}