@import 'colors';

.pagination {
  margin: 0px 0 10px;

  a {
    color: $black_color;
  }

  .current {
    font-weight: bold;
  }

  li {
    &.active {
      a, &:hover, &:active, &:focus {
        background-color: $theme_color;
        border-color: $theme_color;
      }
    }
  }
}