@import 'colors';

.panel {
  &.panel-theme {
    border: 1px solid $theme_color;

    .panel-heading {
      background: $theme_color;
      border: 1px solid $theme_color;
      color: $white_color;
    }
  }
}