@import 'colors';
@import 'responsive_config';

.profile {
  p {
    margin: 0px;
  }

  .btn {
    font-weight: bold;
  }

  h2, h1 {
    margin: 0;
  }

  .profile-detail {
    .profile-avatar {
      margin: 0 10px 10px;
      text-align: center;
      box-shadow: 5px 5px 6px $black_color;
      border: 5px solid $white_color;
      background: $darker_gray_color;
      position: relative;
      outline: 1px solid $darker_gray_color;
      overflow: hidden;

      .edit-picture {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        display: none;
      }

      .preview {
        min-height: 150px;
      }

      &:hover {
        .edit-picture {
          display: block;
        }
      }

      img {
        width: 100%;
      }
    }

    @media(max-width: $tablet_wider) {
      .profile-avatar {
        margin-top: 30px;
      }

      .col-sm-3 {
        width: 30%;
        float: left;
      }

      .col-sm-9 {
        width: 70%;
        float: left;
      }

      .profile-ratings {
        small {
          display: block;
        }
      }
    }

    @media(max-width: $mobile_widist) {
      .col-sm-3 {
        width: 100%;
        float: left;
        .profile-avatar {
          margin: 30px auto;
          width: 40%;
        }
      }

      .col-sm-9 {
        width: 100%;
        float: left;
      }
    }
  }

  .favorite-mentors {
    @media(max-width: $tablet_wider) {
      .col-sm-3 {
        width: 50%;
        float: left;
        text-align: center;

        img {
          width: 70%;
        }
      }
    }
  }

  .profile-reviews {
    padding: 0;

    li {
      list-style-type: none;
      margin-top: 10px;

      .review-avatar {
        width: 100px;
        text-align: center;
        float: left;

        .image {
          width: 50px;
          height: 50px;
          overflow: hidden;
          display: inline-block;

          img {
            width: 100%;
          }
        }
      }

      .comment {
        width: 78%;
        float: left;
        margin-top: 10px;

        p {
          line-height: 16px;

          strong {
            font-size: 16px;
          }
        }
      }

      &.right {
        .review-avatar {
          float: right;
        }
      }

      @media(max-width: 990px) {
        .comment {
          width: 75%;
        }
      }

      @media(max-width: $mobile_widist) {
        .comment {
          width: 60%;
        }
      }

      @media(max-width: $mobile_wider) {
        .comment {
          width: 100%;
        }

        .review-avatar {
          float: none !important;
          margin: auto;
        }
      }
    }
  }

  .profile-basic {
    textarea {
      min-height: 100px;
    }
  }

  .list-items {
    @media(max-width: $tablet_wider) {
      .col-sm-3 {
        .profile-avatar {
          margin-top: 0px;
        }
      }

      .col-sm-9 {
        width: 70%;
        float: left;
      }
    }

    @media(max-width: $mobile_widist) {
      .col-sm-9 {
        width: 100%;
        float: none;
        text-align: center;
      }
    }
  }

  .profile-sidebar, .list-items {
    .btn {
      padding: 5px 0px !important;

      @media(max-width: $tablet_widest) {
        font-size: 10px !important;
      }
    }
  }
}

.thumb-photo {
  border: 3px solid $light_gray_color;
  background-color: $white_color;
  text-align: center;
  position: relative;
  overflow: hidden;
  padding: 3px;

  img {
    width: 100%;
  }
}

.profile {
  .thumb-photo {
    min-height: 100px;
    max-height: 100px;
  }
}

.images,
.documents {
  .photo {
    width: 180px;
    float: left;
    margin: 5px 10px;
    .thumb-photo {
      min-height: 180px;
      max-height: 180px;
    }
  }
}

.list-items {
  form {
    display: inline;
  }
}

.grid-item {
  padding: 10px;

  img {
    width: 80%;
    margin: auto;
  }
}

#new_transaction {
  label { font-weight: normal; }
  .mastercard, .visa, .american_express, .discover {
    opacity: .50;

    &.current {
      opacity: 1;
    }
  }
}