// Place all the styles related to the ratings controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

form.form-rating label {
  font-weight: normal;
}

form .stars {
  background: image-url('stars.png') repeat-x 0 0;
  width: 150px;
  margin: 0 auto;
}

form .stars input[type='radio'] {
  position: absolute;
  opacity: 0;
  filter: alpha(opacity=0);
}

@for $j from 1 through 5 {
  form .stars input[type='radio'].rating_speed_#{$j}:checked ~ span {
    width: $j * 20%;
  }

  form .stars input[type='radio'].rating_knowledgeability_#{$j}:checked ~ span {
    width: $j * 20%;
  }

  form .stars input[type='radio'].rating_overall_rating_#{$j}:checked ~ span {
    width: $j * 20%;
  }

  form .stars input[type='radio'].ratings_#{$j}:checked ~ span {
    width: $j * 20%;
  }

  form .stars label.rating_speed_#{$j}:hover ~ span {
    width: $j * 20% !important;
  }

  form .stars label.rating_knowledgeability_#{$j}:hover ~ span {
    width: $j * 20% !important;
  }

  form .stars label.rating_overall_rating_#{$j}:hover ~ span {
    width: $j * 20% !important;
  }

  form .stars label.ratings_#{$j}:hover ~ span {
    width: $j * 20% !important;
  }
}

form .stars label {
  display: block;
  width: 30px;
  height: 30px;
  margin: 0!important;
  padding: 0!important;
  text-indent: -999em;
  float: left;
  position: relative;
  z-index: 10;
  background: transparent!important;
  cursor: pointer;
}

form .stars label:hover ~ span {
  background-position: 0 -30px;
}

form .stars span {
  display: block;
  width: 0;
  position: relative;
  top: 0;
  left: 0;
  height: 30px;
  background: image-url('stars.png') repeat-x 0 -60px;
  -webkit-transition: -webkit-width 0.5s;
  -moz-transition: -moz-width 0.5s;
  -ms-transition: -ms-width 0.5s;
  -o-transition: -o-width 0.5s;
  transition: width 0.5s;
}