@import 'colors';
@import 'responsive_config';

.branding {
  color: $theme_color !important;

  hr {
    &.header {
      border: solid 3px $theme_color;
    }
    &.title {
      border: solid 1px $theme_color;
      display: inline-block;
      vertical-align: middle;
    }
  }

  .basic-info h3,
  .about-yourself-info h3 {
    display: inline-block;
  }

  .basic-info h3 { width: 36%; }
  .basic-info hr.title { width: 63%; }
  .about-yourself-info h3 { width: 44%; }
  .about-yourself-info hr.title { width: 55%; }

  @media(max-width: $mobile_widist) {
    .basic-info h3 { width: 100%; }
    .basic-info hr.title { width: 100%; }
    .about-yourself-info h3 { width: 100%; }
    .about-yourself-info hr.title { width: 100%; }
  }

  #form-mentor-registration, #form-student-registration {
    .select2-container {
      width: 100% !important;
    }
  }
}