@import 'colors';

.calendar-container {
  padding: 15px;
  background: #6099a4;
  margin-top: 10px;

  .calendar {
    background: #fff;

    .fc-toolbar {
      background: #6099a4;
      padding-bottom: 10px;
    }

    .fc-left {
      h2 {
        font-weight: 200;
      }
    }

    .fc-time {
      display: block;
    }

    .fc-state-default {
      background: $lighter_black;
      border: 2px solid $lighter_black;
      color: $theme_color;
      text-shadow: none;
      box-shadow: none;

      &.fc-state-active, &.fc-state-hover {
        background: $theme_glow_color;
        border: 2px solid $theme_color;
      }
    }
  }
}