@import 'colors';

#advanced_filter {
  .select2-selection__choice {
    width: 85%;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}

.search-filter {

  .search-bar {
    border: 3px solid $theme_color;
    border-radius: 5px;
    box-shadow: inset 0px 0px 15px #dcdcdc;

    .search-icon {
      -moz-transform: scaleX(-1);    /* Gecko */
      -o-transform: scaleX(-1);      /* Opera */
      -webkit-transform: scaleX(-1); /* Webkit */
      transform: scaleX(-1);         /* Standard */
      filter: FlipH;
      font-size: 30px;
      display: inline-block;
      margin: 0 0 0 10px;
      color: $theme_color;
    }

    .select2-container {
      .select2-selection {
        border-color: transparent;
        height: 47px;
        font-size: 16px;
        background: transparent;
        overflow: auto;
        margin-top: -10px;

        .select2-selection__choice {
          background: $theme_color;
          color: $black_color;
          border-color: $theme_color;
          margin-top: 5px;
          .select2-selection__choice__remove {
            color: $white_color;
          }
        }

        .select2-search__field {
          height: 35px;
          margin-top: 0px;
        }
      }

      @media(max-width: 1210px) {
        width: 80% !important;
      }

      @media(max-width: 940px) {
        width: 70% !important;
      }

      @media(max-width: 718px) {
        width: 80% !important;
      }

      @media(max-width: 670px) {
        width: 77% !important;
      }

      @media(max-width: 530px) {
        width: 75% !important;
      }

      @media(max-width: 450px) {
        width: 68% !important;
      }

      @media(max-width: 350px) {
        width: 60% !important;
      }
    }

    .btn {
      float: right;
      padding: 13px 15px;
      border-radius: 0px;

      &:hover, &:active, &:focus {
        background: $theme_color !important;
      }
    }
  }
}
