// Place all the styles related to the services controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.services {
  .services-container {
    margin: 50px;
  }

  .services-content {
    text-align: center;
  }
}