@import 'colors';

.social-buttons {
  position: fixed;
  z-index: 1100;
  top: 20%;
  font-size: 28px;

  &.inline-horizontal {
    position: relative;

    li {
      display: inline-block;
    }
  }

  ul.links {
    list-style-type: none;
    padding: 0;

    li {
      cursor: pointer;
      a {
        padding: 5px 0;
        width: 50px;
        display: inline-block;
        text-align: center;
        color: $white_color;
        transition: width 0.5s ease;
        -webkit-transition: width 0.5s ease;

        &.facebook {
          background: #4e7db9;
        }

        &.twitter {
          background: #5aceee;
        }

        &.googleplus {
          background: #4d4f54;
        }

        &.linkedin {
          background: #8ccbdb;
        }

        &:hover {
          width: 100px;
        }
      }
    }
  }
}

@media(max-width: 980px) {
  .social-buttons {
    top: 0px;

    ul.links {
      li {
        float: left;
      }
    }
  }

  .application-header {
    margin-top: 30px !important;
  }
}