
.transition {
   -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

@mixin bounceInUp {
  from, 60%, 75%, 90%, to {
    -webkit-animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
    animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
  }

  from {
    opacity: 0;
    -webkit-transform: translate3d(0, 3000px, 0);
    transform: translate3d(0, 3000px, 0);
  }

  60% {
    opacity: 1;
    -webkit-transform: translate3d(0, -20px, 0);
    transform: translate3d(0, -20px, 0);
  }

  75% {
    -webkit-transform: translate3d(0, 10px, 0);
    transform: translate3d(0, 10px, 0);
  }

  90% {
    -webkit-transform: translate3d(0, -5px, 0);
    transform: translate3d(0, -5px, 0);
  }

  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

@-webkit-keyframes bounceInUp {
  @include bounceInUp;
}

@keyframes bounceInUp {
  @include bounceInUp;
}

.bounceInUp {
  @extend .transition;
  -webkit-animation-name: bounceInUp;
  animation-name: bounceInUp;
}

@mixin bounceInDown {
  0%, 60%, 75%, 90%, 100% {
    -webkit-transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
    transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
  }

  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, -3000px, 0);
    transform: translate3d(0, -3000px, 0);
  }

  60% {
    opacity: 1;
    -webkit-transform: translate3d(0, 25px, 0);
    transform: translate3d(0, 25px, 0);
  }

  75% {
    -webkit-transform: translate3d(0, -10px, 0);
    transform: translate3d(0, -10px, 0);
  }

  90% {
    -webkit-transform: translate3d(0, 5px, 0);
    transform: translate3d(0, 5px, 0);
  }

  100% {
    -webkit-transform: none;
    transform: none;
  }
}

@-webkit-keyframes bounceInDown {
  @include bounceInDown;
}

@keyframes bounceInDown {
  @include bounceInDown;
}

.bounceInDown {
  @extend .transition;
  -webkit-animation-name: bounceInDown;
  animation-name: bounceInDown;
}

@mixin slide {
   0% {
    opacity: 0;
    right: 100%;
  }

  100% {
    opacity: 1;
    right: 0%;
  }
}

@mixin rotate {
   0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }

  25% {
    -webkit-transform: rotate(90deg);
            transform: rotate(90deg);
  }

  50% {
    -webkit-transform: rotate(180deg);
            transform: rotate(180deg);
  }

  75% {
    -webkit-transform: rotate(270deg);
            transform: rotate(270deg);
  }

  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@-webkit-keyframes slide {
  @include slide;
}

@keyframes slide {
  @include slide;
}

@mixin swing {
  0%{
    -webkit-transform:rotate(-3deg);
    transform: rotate3d(-3deg);
  }

  50%{
    -webkit-transform:rotate(3deg);
    transform: rotate3d(3deg);
  }

  100%{
    -webkit-transform:rotate(-3deg);
    transform: rotate3d(-3deg);
  }
}

@-webkit-keyframes swing {
  @include swing;
}

@keyframes swing {
  @include swing;
}

.swing {
  -moz-animation: 1s ease 0s normal none infinite swing;
  -moz-transform-origin: center top;
  -webkit-animation:swing 1s infinite ease-in-out;
  -webkit-transform-origin:top;
  animation:swing 1s infinite ease-in-out;
  transform-origin:top;
}

@mixin bounceOutUp {
  20% {
    -webkit-transform: translate3d(0, -10px, 0);
    transform: translate3d(0, -10px, 0);
  }

  40%, 45% {
    opacity: 1;
    -webkit-transform: translate3d(0, 20px, 0);
    transform: translate3d(0, 20px, 0);
  }

  100% {
    opacity: 0;
    -webkit-transform: translate3d(0, -2000px, 0);
    transform: translate3d(0, -2000px, 0);
  }
}

@-webkit-keyframes bounceOutUp {
  @include bounceOutUp;
}

@keyframes bounceOutUp {
  @include bounceOutUp;
}

.bounceOutUp {
  @extend .transition;
  -webkit-animation-name: bounceOutUp;
  animation-name: bounceOutUp;
}

@mixin bounceInLeft {
  0%, 60%, 75%, 90%, 100% {
    -webkit-transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
    transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
  }

  0% {
    opacity: 0;
    -webkit-transform: translate3d(-3000px, 0, 0);
    transform: translate3d(-3000px, 0, 0);
  }

  60% {
    opacity: 1;
    -webkit-transform: translate3d(25px, 0, 0);
    transform: translate3d(25px, 0, 0);
  }

  75% {
    -webkit-transform: translate3d(-10px, 0, 0);
    transform: translate3d(-10px, 0, 0);
  }

  90% {
    -webkit-transform: translate3d(5px, 0, 0);
    transform: translate3d(5px, 0, 0);
  }

  100% {
    -webkit-transform: none;
    transform: none;
  }
}

@-webkit-keyframes bounceInLeft {
  @include bounceInLeft;
}

@keyframes bounceInLeft {
  @include bounceInLeft;
}

.bounceInLeft {
  -webkit-animation-name: bounceInLeft;
  animation-name: bounceInLeft;
}

@mixin bounceOutRight {
  20% {
    opacity: 1;
    -webkit-transform: translate3d(-20px, 0, 0);
    transform: translate3d(-20px, 0, 0);
  }

  100% {
    opacity: 0;
    -webkit-transform: translate3d(2000px, 0, 0);
    transform: translate3d(2000px, 0, 0);
  }
}

@keyframes bounceOutRight {
  20% {
    opacity: 1;
    -webkit-transform: translate3d(-20px, 0, 0);
    transform: translate3d(-20px, 0, 0);
  }

  100% {
    opacity: 0;
    -webkit-transform: translate3d(2000px, 0, 0);
    transform: translate3d(2000px, 0, 0);
  }
}

@-webkit-keyframes bounceOutRight {
  @include bounceOutRight;
}

@keyframes bounceOutRight {
  @include bounceOutRight;
}

.bounceOutRight {
  @extend .transition;
  position: relative;
  -webkit-animation-name: bounceOutRight;
  animation-name: bounceOutRight;
}

.wrapper {
  .content-wrapper {
    .slide-in {
      @extend .transition;
      position: relative;
      -webkit-animation-name: bounceInLeft;
      animation-name: bounceInLeft;
    }
  }
}

@-webkit-keyframes rotate {
 @include rotate;
}

@keyframes rotate {
 @include rotate;
}

.rotate {
  -webkit-transform-origin: center;
      -ms-transform-origin: center;
          transform-origin: center;
  -webkit-animation: rotate 0.5s infinite;
          animation: rotate 0.5s infinite;
}