.row
  .col-sm-12
    h4.blue Appointment:
  .col-sm-12
    .row.mT10
      .col-sm-3
        strong.mR5 Schedule Status:
      .col-sm-9
        p.blue = appointment.schedule.status.gsub('_', ' ')
    .row.mT10
      .col-sm-3
        strong.mR5 Appointment Status:
      .col-sm-9
        p.blue = appointment.status.gsub('_', ' ')
    .row.mT10
      .col-sm-3
        strong.mR5 Start:
      .col-sm-9
        p.blue = appointment.presenter.schedule.start_datetime(current_user)
    .row.mT10
      .col-sm-3
        strong.mR5 End:
      .col-sm-9
        p.blue = appointment.presenter.schedule.end_datetime(current_user)