.modal.fade#appointment_schedule_detail role='dialog' tabindex='-1'
  .modal-dialog role='document'
    .modal-content
        .modal-header
          h5 Schedule for #{default_time_format(DateTimeHelper.new(@schedule.start_datetime, @schedule.timezone, current_user.timezone).convert_with_timezone.datetime.to_s)}
        .modal-body
          .flashes
          .row
            .col-sm-12
              .box-panel
                .box-inner
                  .row
                    - if current_user.mentor? || @profile.mentor?
                      .col-sm-12
                        .col-sm-3
                          = image_tag(@schedule.student.user.primary_photo.small_grid.url, class: 'img-thumbnail')
                        .col-sm-9
                          h4.m0
                            span = "#{@schedule.student.user.role} | "
                            span.blue = link_to @schedule.student.user.first_name, profile_path(@schedule.student.user)
                          p
                            strong.mR5 Majors:
                            span = @schedule.student.schools.map(&:major).join(', ')
                          p
                            strong.mR5 From:
                            span = @schedule.student.user.current_country
                          p
                            strong.mR5 Looking for:
                            span = @schedule.student.user.services.pluck(:title).join(', ')
                    - if current_user.student? || @profile.student?
                      .col-sm-12
                        .col-sm-3
                          = image_tag(@appointment.mentor.user.primary_photo.small_grid.url, class: 'img-thumbnail')
                        .col-sm-9
                          h4.m0
                            span = "#{@appointment.mentor.user.role} | "
                            span.blue = link_to @appointment.mentor.user.first_name, profile_path(@appointment.mentor.user)
                          p
                            strong.mR5 Majors:
                            span = @appointment.mentor.schools.map(&:major).join(', ')
                          p
                            strong.mR5 From:
                            span = @appointment.mentor.user.current_country
                          p
                            strong.mR5 Services Offered:
                            span = @appointment.mentor.user.services.pluck(:title).join(', ')
            .col-sm-12.mT10
              .box-panel
                .box-inner
                  = render 'appointments/appointment_time_schedule', appointment: @schedule.appointment
              .box-panel.mT10
                  .box-inner
                    .row
                      .col-sm-12
                        h4.blue Task:
                      .col-sm-12
                        = render 'tasks/task_detail_only', task: @schedule.appointment.task
        .modal-footer
          .pull-left
            = button_tag t('views.labels.close'), class: 'btn btn-default btn-sm', data: { dismiss: 'modal' }
          - if @schedule.allow_cancellation?
            = button_to t('views.appointments.cancel.button_label'), cancel_profile_appointment_path(@profile, @appointment, task_detail: params[:task_detail]), method: 'put', remote: true, class: 'btn btn-danger btn-sm', data: { disable_with: t('views.labels.processing') }
          - if (@schedule.status == Schedule.waiting_for_confirmation || @schedule.status == Schedule.request_schedule) && (@schedule.student.user == current_user || current_user.administrator?)
            .pull-right.mL20
              = button_to confirm_profile_appointment_path(@profile, @appointment, task_detail: params[:task_detail]), method: 'put', remote: true, class: 'btn btn-theme btn-sm', data: { disable_with: t('views.labels.processing') }
                span.ion-arrow-graph-up-right
                span.mL10 = t('views.appointments.confirm.button_label')
            .pull-right
              = button_to decline_profile_appointment_path(@profile, @appointment, task_detail: params[:task_detail]), method: 'put', remote: true, class: 'btn btn-danger btn-sm', data: { disable_with: t('views.labels.processing') }
                span.ion-arrow-graph-down-left
                span.mL10 = t('views.appointments.decline.button_label')
          - if @schedule.status == Schedule.occupied && @schedule.start_appointment? && (@schedule.student.user == current_user || @schedule.appointment.mentor.user == current_user || current_user.administrator?)
            .pull-right
              = link_to t('views.messages.chat_room'), profile_messenger_path(@profile, @appointment.messenger), class: 'btn btn-default btn-sm'
          - if @schedule.appointment.status == Appointment.approved && (@schedule.student.user == current_user || current_user.administrator?) && @schedule.start_appointment?(0)
            .pull-right
              = button_to close_profile_schedule_path(@profile, @schedule, task_detail: params[:task_detail]), method: 'put', remote: true, class: 'btn btn-success mR5 btn-sm', data: { disable_with: t('views.labels.processing') }
                p = t('views.appointments.close.button_label')
