.modal.fade#new_task_appointment_modal role='dialog'
  .modal-dialog role='document'
    .modal-content
        .modal-header
          h5 Set appointment for task: #{@task.service.title}
        = simple_form_for @appointment, url: profile_appointments_path(@profile), method: :post, remote: true do |f|
          .modal-body
            .flashes
            = f.hidden_field :schedule_id
            = f.hidden_field :mentor_id
            = f.hidden_field :task_id
            = f.hidden_field :timezone
            .row
              .col-sm-12
                .box-panel
                  .box-inner
                    = render 'appointment_time_schedule', appointment: @appointment
              .col-sm-12.mT10
                .box-panel
                  .box-inner
                    .row
                      .col-sm-12
                        h4.blue Task:
                      .col-sm-12
                        = render 'tasks/task_detail_only', task: @task
          .modal-footer
            .pull-left
              = button_tag t('views.labels.cancel'), class: 'btn btn-default btn-sm', data: { dismiss: 'modal' }
            = f.submit t('views.appointments.new.submit'), class: 'btn btn-theme btn-sm', data: { disable_with: t('views.labels.processing') }