.modal.fade#new_task_request_schedule_appointment_modal role='dialog'
  .modal-dialog role='document'
    .modal-content
        .modal-header
          h5 Request appointment slot for task: #{@task.service.title}
        = simple_form_for @appointment, url: request_schedule_profile_appointments_path(@profile), method: :post, remote: true do |f|
          .modal-body
            .flashes
            = f.hidden_field :mentor_id
            = f.hidden_field :task_id
            = f.hidden_field :timezone
            .row
              .col-sm-12
                .box-panel
                  .box-inner
                    label.blue Task and Schedule details:
                    p
                      strong.mR10 Task:
                      span = @task.service.title
                    p
                      strong.mR10 Timezone:
                      span = @schedule.timezone
                    p
                      strong.mR10 Start Date:
                      span = DateTimeHelper.presentable_date(@schedule.start_date)
                    p
                      strong.mR10 End Date:
                      span = DateTimeHelper.presentable_date(@schedule.end_date)
              .col-sm-12.mT10
                .box-panel
                  .box-inner
                    = simple_fields_for :schedule do |schedule|
                      label.blue Select start time and end time:
                      .form-inline.text-center
                        = schedule.hidden_field :start_date
                        = schedule.hidden_field :end_date
                        = schedule.hidden_field :student_id
                        = schedule.hidden_field :timezone
                        = schedule.hidden_field :status

                        .form-group
                          label FROM
                          = schedule.text_field :start_time, class: 'form-control time-picker mL10'
                        .form-group.mL10
                          label TO
                          = schedule.text_field :end_time, class: 'form-control time-picker mL10'
          .modal-footer
            .pull-left
              = button_tag t('views.labels.cancel'), class: 'btn btn-default btn-sm', data: { dismiss: 'modal' }
            = f.submit t('views.appointments.request_schedule.submit'), class: 'btn btn-theme btn-sm', data: { disable_with: t('views.labels.processing') }