<% if @appointment.errors.any? %>
$('.flashes').html('<%= escape_javascript(render 'shared/flash')%>')
<% else %>
$('#appointment_schedule_detail').modal('toggle')
_n.renderSuccessPopup("<%= t('views.appointments.cancel.success') %>");
  <% if params[:task_detail] %>
    Turbolinks.visit(window.location.pathname)
  <% else %>
    $('#appointment-schedules-calendar').fullCalendar('refetchEvents')
    $('#schedule-calendar').fullCalendar('refetchEvents')
  <% end %>
<% end %>
loader(false)