.container
  .profile.mT20
    .row
      = render 'profile/profile_sidebar'
      / MENTORS
      .col-sm-9
        .box-panel.box-gray
          .clearfix
            .col-md-12.mT10
              label My current timezone:
            .col-md-12.mT10
              = select_tag :timezone, options_for_timezone(@profile.timezone), class: 'select2 form-control'
            - cache('appointment-calendar') do
              .col-md-12.mT10.mB10
                label My Appointment Schedules
                .alert.alert-info
                  p Dear Mentor,
                  p Your appointments page will not show appointment slots until a student books your service and chooses times he/she is available. You will then receive an email notification.
                  p Please log in and choose one (1) time slot from the options the student has provided. This will be your confirmed appointment time. Thank you.
                  p.mT10 Yours,
                  p A Friend Abroad
                .calendar-container
                  #appointment-schedules-calendar.calendar
                  #modal-container