$('#modal-container').html('')
loader(false)
<% if params[:status] == Schedule.available %>
  $('#modal-container').html('<%= escape_javascript(render 'appointments/new_modal') %>')
  $('#new_task_appointment_modal').modal('show')
<% elsif @schedule.request_schedule? %>
  $('#modal-container').html('<%= escape_javascript(render 'appointments/new_request_modal') %>')
  $('#new_task_request_schedule_appointment_modal').modal('show')
  $('.time-picker').timepicker({
    timeFormat: 'h:i A',
    step: 1,
    businessHours: true
  })
<% else %>
  $('#modal-container').html('<%= escape_javascript(render 'appointments/detail') %>')
  $('#appointment_schedule_detail').modal('show')
<% end %>