<% if @appointment.errors.any? %>
$('.flashes').html('<%= escape_javascript(render 'shared/flash')%>')
<% else %>
$('#new_task_request_schedule_appointment_modal').modal('hide')
$('#task-appointment-calendar').remove()
_n.renderSuccessPopup("<%= t('views.appointments.request_schedule.success') %>");
Turbolinks.visit('<%= appointment_profile_task_path(@profile, @appointment.task) %>')
<% end %>
loader(false)