.container
  .profile.mT20
    .row
      = render 'profile/profile_sidebar'
      .col-sm-9
        .box-panel.box-gray
          .row
            .col-sm-12
              = link_to 'VIEW PROFILE', profile_path(@profile), class: 'btn btn-flat btn-theme pull-right mR20 btn-sm'
          .row.blue
            .col-sm-12
              .box-inner
                h3.mT-30.blue Payment History
                .profile-detail.text-center
                  .row
                    .col-sm-12
                      table.table.table-striped
                        thead
                          tr
                            th= @profile.student ? 'Student' : 'Mentor'
                            th Transaction Date
                            th Order
                            th Service
                            th Amount
                            th Status
                        tbody
                          - if @presenter_transactions.present?
                            - @presenter_transactions.each do |trans|
                              tr
                                td= trans[:user_name]
                                td= trans[:transaction_date]
                                td= link_to trans[:order][:id], profile_order_path(@profile, trans[:order])
                                td= trans[:services]
                                td= trans[:amount]
                                td= trans[:status]
                          - else
                            tr
                              td col-span=4 No Transactions Available.
                  .row
                    .col-sm-12
                      = paginate @transactions