- if profile == current_user || current_user.administrator?
  .edit-picture
    = link_to t('views.profile.labels.edit_picture'), '#', class: 'btn btn-flat btn-theme btn-sm', id: 'edit-primary-photo', data: { toggle: 'modal', target: '#edit-primary-photo-modal'}