.modal.fade.modal-default#edit-primary-photo-modal role='dialog' tabindex='-1'
  .modal-dialog.default-position role='document'
    .modal-content
      .modal-header
        p
          strong Change Primary Photo
      .modal-body
        = simple_form_for @profile, url: primary_photo_profile_path(@profile, format: :js), method: :put, html: { id: 'edit-primary-photo-form', class: 'dropzone' } do |f|
      .modal-footer
        p.text-center.mB20
          span OR
        = link_to t('views.profile.labels.browse_from_existing_photos'), profile_images_path(@profile), class: 'btn btn-blue btn-block'