= simple_form_for(@profile, html: { class: 'col-md-12 edit-mentor-profile'}, url: profile_mentor_path(@profile, @profile.mentor), remote: true, method: :put) do |f|
  .row
    .col-md-12
        = f.error_notification
  .row
    .col-sm-12
      = f.input :about_me, as: :text, class: 'form-control', input_html: { placeholder: 'Tell us about yourself...' }
    .col-sm-12
      = f.input :experience, as: :text, class: 'form-control', input_html: { placeholder: 'Tell us about your work or leadership experiences...' }
    .col-sm-12
      = f.input :awards_and_honors, as: :text, class: 'form-control', input_html: { placeholder: 'Tell us about the awards and honors you earned...' }
    .col-sm-12
      = f.input :undergraduate_universities, collection: @profile.mentor.undergraduate_universities, selected: @profile.mentor.undergraduate_universities, required: true, input_html: { multiple: true, style: 'width: 100%;' }, label: 'Other Acceptances'
    .col-sm-12
      = f.input :additional_information, as: :text, class: 'form-control'
    .col-sm-12
      .form-group
        label.lighter-black Application Preview
        .row
          .col-sm-3
            = link_to 'UPLOAD FILES', '#', class: 'btn btn-theme btn-sm btn-block mT10', id: 'upload-files', data: { toggle: 'modal', target: '#upload-files-modal'}
          .col-sm-9
            p.lighter-black Upload application and written materials for your students to preview.
            p.lighter-black Students will only be able to preview these documents after choosing you as a mentor.
        / DOCUMENTS
        .profile-documents.mT30.mB40 data-settings='2'
          = render 'profile/profile_recent_documents'
  .row
    .col-sm-8
      / Aggreements
      = f.input :display_reviews, as: :boolean, label: '<span class="lighter-black">Display</span> <span class="blue">"Student Reviews & Comments"'.html_safe
      = f.input :display_ratings, as: :boolean, label: '<span class="lighter-black">Display</span> <span class="blue">"Service Ratings<span>"'.html_safe
    .col-sm-4
      .form-group
        .clearfix
          .pull-right
            = f.submit t('views.labels.save_changes'), class: 'btn btn-sm btn-theme btn-block', data: { disable_with: t('views.labels.saving') }
            = link_to t('views.labels.cancel'), :back, class: 'btn btn-gray btn-sm white btn-block', data: { disable_with: t('views.labels.redirecting') }

/ Videos
.row.mT20
  .col-sm-12
    .col-sm-12
      label.lighter-black Video Upload
      = render partial: 'videos/form', locals: { video: Video.new(videoable: @profile.mentor) }
    .col-sm-12.videos.mT30
      - unless @profile.mentor.videos.empty?
        - @profile.mentor.videos.each do |v|
          = render partial: 'videos/video_edit', locals: { v: v }

/ Upload Files
= render 'profile/upload_files_modal'