= simple_form_for(@profile, html: { class: 'form-horizontal col-md-12 edit-mentor-account-settings'}, url: account_settings_profile_mentor_path(@profile, @profile.mentor), remote: true, method: :put) do |f|
  .row
    .col-md-12
        = f.error_notification
    .col-sm-10.col-sm-offset-1
      / Username
      = f.input :username, required: true, autofocus: true
    .col-sm-10.col-sm-offset-1
      / First Name
      = f.input :first_name, required: true, autofocus: true
    .col-sm-10.col-sm-offset-1
      / Last Name
      = f.input :last_name, required: true, autofocus: true
    .col-sm-10.col-sm-offset-1
      / Email
      = f.input :email, required: true, autofocus: true
    .col-sm-10.col-sm-offset-1
      / University Email
      = f.input :university_email
    .col-sm-10.col-sm-offset-1
      / Phone Number
      = f.input :phone_number, required: true
    .col-sm-10.col-sm-offset-1
      / Home Town
      = f.input :home_town, collection: [@profile.home_town] || [], label: 'Country where you are from', required: true, input_html: { style: 'width: 100%;' }
    .col-sm-10.col-sm-offset-1
      / Current Country
      = f.input :current_country, collection: [@profile.current_country] || [], label: 'Country Where you live now', required: true, input_html: { style: 'width: 100%;' }
      / Target Degree
      = f.input :degree, collection: @degrees, required: true, input_html: { multiple: true, style: 'width: 100%;' }, label: 'Degree(s) you have completed or are currently working on'
    .col-sm-10.col-sm-offset-1
      / Other Degree
      = f.input :other_degree, placeholder: 'Please specify', wrapper_html: { id: 'other-degree', class: 'hidden' }
    .col-sm-10.col-sm-offset-1
      / Services
      = f.input :service_ids, collection: @services, input_html: { multiple: true, style: 'width: 100%;' }, label: 'Which services do you want to offer?', required: true
    .col-sm-10.col-sm-offset-1
      / Timezone
      = f.input :timezone, collection: [@profile.timezone] || [], selected: @profile.timezone, label: 'Select your default timezone', required: true, input_html: { style: 'width: 100%;' }
  .form-group
    .clearfix
      .pull-right
        = f.submit t('views.labels.save_changes'), class: 'btn btn-sm btn-theme btn-block', data: { disable_with: t('views.labels.saving') }
        = link_to t('views.labels.cancel'), :back, class: 'btn btn-gray btn-sm white btn-block mR10', data: { disable_with: t('views.labels.redirecting') }