.profile.mentor-profile
  / Profile Detail
  .box-panel.box-gray.pB20.profile-detail
    - if @profile == current_user || current_user.administrator?
      .row
        .col-sm-12
          = link_to t('views.profile.labels.edit_profile'), edit_profile_path(@profile), class: 'btn btn-flat btn-theme pull-right mR20 btn-sm'
    - else
      .mT30
    = render 'mentor_profile_header', { profile: @profile }

  .row.mT15
    / Preview Panel
    .col-sm-4
      .box-panel.box-gray.mB15
        .box-inner
          .buttons
            - if current_user.mentor? || (current_user.administrator? && @profile.mentor?)
              = link_to profile_dashboard_index_path(@profile), class: 'btn btn-blue btn-block btn-bevel' do
                h4 MATCHING
                h4 STUDENTS
              = link_to students_profile_path(@profile), class: 'btn btn-blue btn-block btn-bevel mT20' do
                h4 CURRENT/PAST
                h4 STUDENTS
            - if current_user.student?
              = link_to new_profile_order_path(current_user, mentor: @profile), class: 'btn btn-blue btn-block btn-bevel pT15 pB15 mT20' do
                h4 BOOK A SERVICE
              .bookmarks
                = render partial: 'bookmark/buttons', locals: { mentor: @profile.mentor, bookmark: @bookmark, column_size: 'col-sm-3' }
            = link_to '#', class: 'btn btn-blue btn-block btn-bevel pT15 pB15 mT20', data: { toggle: 'modal', target: '#profile-sharer-modal' } do
              h4 SHARE PROFILE
          .preview-ratings.mT20
            h3.blue Service Ratings
            p
              span Consultation:
              span  5
            p.mT15
              span Essay Editing:
              span  4
            p.mT15
              span Scholarships:
              span  4
            p.mT15
              span Bookmarked by
              span.mL10
                = @profile.mentor.bookmarks.size

    / About Panel
    .col-sm-8
      / Videos
      .box-panel.box-gray
        .row
          .col-sm-12
            .box-inner
              h2.blue Mentor Videos
              .row.mT15
                .col-sm-12
                  = render @profile.mentor.videos

      / About me
      .box-panel.box-gray.mT15
        .row
          .col-sm-12
            .box-inner
              h2.blue About Me
              p.mT10
                = @profile.about_me

      / Acceptances
      .box-panel.box-gray.mT15
        .row
          .col-sm-12
            .box-inner
              h2.blue Other Acceptances
              p.mT10
                = @profile.mentor.undergraduate_universities.join(', ')

      / Additional Information
      .box-panel.box-gray.mT15
        .row
          .col-sm-12
            .box-inner
              h2.blue Additional Information
              p.mT10
                = @profile.additional_information

      / Reviews / Ratings
      .box-panel.box-gray.mT15
        .row
          .col-sm-12
            .box-inner
              h2.blue Endorsements
              ul.profile-reviews
                - if @profile.mentor.ratings.present?
                  - @profile.mentor.ratings.each do |rating|
                    = render partial: 'profile_endorsement', locals: { rating: rating }
                - else
                  'No Endorsements Available.'
      / Application Preview
      .box-panel.box-gray.mT15
        .row
          .col-sm-12
            .box-inner
              h2.blue Application Preview
              .clearfix
                .pull-right
                  = link_to '#', class: 'blue' do
                    strong
                    / DOCUMENTS
                    .profile-documents.mT30.mB40 data-settings='2'
                      = render 'profile/profile_recent_documents'