.row
  / Avatar
  .col-sm-4.profile-main-avatar-with-edit
    .profile-detail
      .profile-avatar
        = render 'profile/edit_profile_avatar_button', { profile: profile }
        .preview
            = image_tag(profile.primary_photo.medium_grid.url)
  / Details
  .col-sm-8
    .box-inner.pT0
      h1
        = link_to profile.first_name, profile_path(profile), class: 'blue'
      .profile-identity.blue.mT10
        span.ion-android-person.mR10
        span
          = "#{profile.role} | "
        span
          = profile.mentor.schools.map{|s| "#{s.university} - #{s.major}"}.join(', ')
      .profile-ratings
        .ratings
          - star = profile.mentor.ratings.average(:average) ? profile.mentor.ratings.average(:average).ceil : 0
          = render partial: 'ratings/stars', locals: { star: star }
          small.blue= "Ave Rating: #{number_with_precision(star, precision: 2)}"
      .profile-countries
        p
          span Country of Origin:
          span.mL10
            = profile.mentor.home_town
        p
          span Country of Residence:
          span.mL10
            = profile.current_country
      .profile-services.mT20
        p
          span Services:
          small.blue.mL10
            = profile.services.map(&:title).join(', ')