.modal.fade.modal-default#send-private-message-modal role='dialog' tabindex='-1'
  .modal-dialog.default-position role='document'
    .modal-content
      .modal-header
        p
          strong Send Private Message
      = simple_form_for @profile, url: private_message_profile_path(@profile, format: :js), method: :post, remote: true, html: { id: 'send-private-message-form' } do |f|
        .modal-body
          = text_area_tag :private_message, nil, class: 'form-control'
          = hidden_field_tag :to, @recipient
        .modal-footer
          .pull-left
            = button_tag t('views.labels.close'), class: 'btn btn-default btn-sm', data: { dismiss: 'modal', disable_with: t('views.labels.processing') }
          .pull-right
            = f.submit t('views.labels.send'), class: 'btn btn-primary btn-sm', data: { disable_with: t('views.labels.sending') }