.row.mT5
  - @documents.each do |document|
    .col-sm-3
      .thumb-photo
        = image_tag(document.filename.url)
      .text-center
        small.lighter-black= document.title
.row.mT5
  .col-sm-12
    .clearfix
      .pull-left
        p.blue.italic
          small Showing #{@documents.size} of #{@profile.mentor.documents.size} photos...
      .pull-right
        = link_to profile_documents_path(@profile), class: 'blue' do
          small SEE MORE