.profile-sidebar
  / PROFILE
  .col-sm-3
    .box-panel.box-gray.profile-detail
      / AVATAR
      .row
        .col-sm-12
          .box-inner
            = render 'profile/profile_avatar'

    / BUTTONS
    .box-panel.box-gray.mT10.mB10
      .row
        .col-sm-12
          .box-inner
            .buttons
              = link_to edit_profile_path(@profile), class: 'btn btn-theme btn-block btn-shadow mB10' do
                p = t('views.profile.labels.edit_profile')
              = link_to account_settings_profile_path(@profile), class: 'btn btn-theme btn-block btn-shadow mB10' do
                p = t('views.profile.labels.account_settings')

              - if @profile.student?
                = link_to mentors_profile_path(@profile), class: 'btn btn-theme btn-block btn-shadow mB10' do
                  p = t('views.profile.labels.my_mentors')
                = link_to profile_wallets_path(@profile), class: 'btn btn-theme btn-block btn-shadow mB10' do
                  p = t('views.profile.labels.wallet')
              - if @profile.mentor?
                = link_to profile_wallets_path(@profile), class: 'btn btn-theme btn-block btn-shadow mB10' do
                  p = t('views.profile.labels.wallet')
                = link_to students_profile_path(@profile), class: 'btn btn-theme btn-block btn-shadow mB10' do
                  p = t('views.profile.labels.my_students')
            = link_to profile_transactions_path(@profile), class: 'btn btn-theme btn-block btn-shadow mB10' do
              p = t('views.profile.labels.transaction_history')
