- cache("profile-sharer-#{@profile.id}") do


.modal.fade#profile-sharer-modal role='dialog' tabindex='-1'
  .modal-dialog.default-position role='document'
    .modal-content
      .modal-header
        p
          strong Share Profile
      .modal-body
        .social-buttons.inline-horizontal.text-center
          ul.links
            li
              = link_to '#', class: 'social-share facebook', data: { url: profile_url(@profile), type: 'facebook' } do
                span.ion-social-facebook
            li
              = link_to '#', class: 'social-share twitter', data: { url: profile_url(@profile), via: 'Afriendabroad', type: 'twitter' } do
                span.ion-social-twitter
            li
              = link_to '#', class: 'social-share googleplus', data: { url: profile_url(@profile), type: 'googleplus' } do
                span.ion-social-googleplus
            li
              = link_to '#', class: 'social-share linkedin', data: { url: profile_url(@profile), via: 'Afriendabroad', type: 'linkedin' } do
                span.ion-social-linkedin
      .modal-footer
        = button_tag t('views.labels.close'), class: 'btn btn-default btn-sm', data: { dismiss: 'modal' }