small.lighter-black Uploaded Pictures
.row.mT5
  - @images.each do |image|
    .col-sm-3.mB10
      .thumb-photo
        = image_tag(image.source.small_grid.url)
.row.mT5
  .col-sm-12
    .clearfix
      .pull-left
        p.blue.italic
          small Showing #{@images.size} of #{@profile.images.size} photos...
      .pull-right
        = link_to profile_images_path(@profile), class: 'blue' do
          small SEE MORE