li.clearfix
  .review-avatar
    .image
      = image_tag(rating.task.student.user.primary_photo.small_grid.url)
    p.blue
      small = rating.task.student.user.first_name
  .comment
    p
      strong.blue "
      span  = rating.feedbacks
      strong.blue  "