= simple_form_for(@profile, url: profile_path(@profile), remote: true, html: { method: :put, class: 'col-sm-12 change-security-settings mB30' }) do |f|
  .row
    .col-sm-10.col-sm-offset-1
      h4 Change Password
    .col-sm-10.col-sm-offset-1
      = f.error_notification
      = f.input :reset_password_token, as: :hidden
      = f.full_error :reset_password_token
    - cache("profile-change-password") do
      .col-sm-10.col-sm-offset-1
        = f.input :current_password, required: true, autofocus: true
      .col-sm-10.col-sm-offset-1
        = f.input :password, label: "New password", required: true, autofocus: true, hint: ("#{@minimum_password_length} characters minimum" if @minimum_password_length)
      .col-sm-10.col-sm-offset-1
        = f.input :password_confirmation, label: "Confirm your new password", required: true
      .col-sm-10.col-sm-offset-1
        = f.submit t('views.profile.labels.change_password'), class: 'btn btn-danger btn-block', data: { disable_with: t('views.labels.please_wait') }