= simple_form_for(@profile, html: { class: 'form-horizontal col-md-12 edit-student-profile'}, url: profile_student_path(@profile, @profile.student), remote: true, method: :put) do |f|
  .row
    .col-md-12
        = f.error_notification
  .row
    .col-sm-12
      = f.input :about_me, as: :text, class: 'form-control', input_html: { placeholder: 'Tell us about yourself...' }
    .col-sm-12
      = f.input :looking_for, as: :text, class: 'form-control', input_html: { placeholder: 'What You\'re Looking For...' }
    .col-sm-12
        = f.input :additional_information, as: :text, class: 'form-control'
  .form-group
    .clearfix
      .pull-right
        = f.submit t('views.labels.save_changes'), class: 'btn btn-sm btn-theme btn-block', data: { disable_with: t('views.labels.saving') }
        = link_to t('views.labels.cancel'), :back, class: 'btn btn-gray btn-sm white btn-block mR10', data: { disable_with: t('views.labels.redirecting') }