.row
  / Avatar
  .col-sm-4.profile-main-avatar-with-edit
    .profile-detail
      .profile-avatar
        .edit-picture
          = render 'profile/edit_profile_avatar_button', { profile: profile }
        .preview
            = image_tag(profile.primary_photo.medium_grid.url)
  / Details
  .col-sm-8
    .box-inner.pT0
      h1
        = link_to profile.first_name, profile_path(profile), class: 'blue'
      .profile-identity.blue.mT10
        span.ion-android-person.mR10
        span
          = "#{profile.role} | "
        span
          = profile.student.schools.map(&:major).join(', ')
      .profile-countries.mT20
        p
          span Country of Origin:
          span.mL10
            = profile.current_country
        p
          span Country of Interest:
          span.mL10
            = profile.student.target_countries.join(', ')
      .profile-services.mT20
        p
          span Looking for:
          small.blue.mL10
            = profile.services.pluck(:title).join(', ')