.profile.student-profile
  / Profile Detail
  .box-panel.box-gray.pB20.profile-detail
    - if @profile == current_user || current_user.administrator?
      .row
        .col-sm-12
          = link_to t('views.profile.edit_profile'), edit_profile_path(@profile), class: 'btn btn-flat btn-theme pull-right mR20 btn-sm'
    - else
      .mT30
    = render 'student_profile_header', { profile: @profile }

  .row.mT15
    / Preview Panel
    .col-sm-4
      .box-panel.box-gray.mB15
        .box-inner
          .buttons
            - if current_user == @profile || current_user.administrator?
              = link_to profile_dashboard_index_path(@profile), class: 'btn btn-blue btn-block btn-bevel' do
                h4 MATCHING
                h4 MENTORS
              = link_to mentors_profile_path(@profile), class: 'btn btn-blue btn-block btn-bevel mT20' do
                h4 CURRENT/PAST
                h4 MENTORS
              = link_to '#', class: 'btn btn-blue btn-block btn-bevel mT20' do
                h4 BOOKMARKED
                h4 MENTORS
            = link_to '#', class: 'btn btn-blue btn-block btn-bevel pT15 pB15 mT20', data: { toggle: 'modal', target: '#profile-sharer-modal' } do
              h4 SHARE PROFILE

    / About Panel
    .col-sm-8
      / About me
      .box-panel.box-gray
        .row
          .col-sm-12
            .box-inner
              h2.blue About Me
              p.mT10
                = @profile.about_me
      / Favorite Mentors
      .box-panel.mT15.box-gray.favorite-mentors
        .row
          .col-sm-12
            .box-inner
              h2.blue Favorite Mentors
              .row
                .grid-container.mT20
                  - if @favorites.empty?
                    p.text-center No Mentors Available.
                  - else
                    - @favorites.each do |mentor|
                      = render partial: 'mentors/mentor_grid', locals: { mentor: mentor,  column_size: 'col-sm-4', top: false, bookmark_button: true }
              - if !@favorites.empty? && @favorites.total_pages > 1
                .row
                  .col-sm-12
                    .clearfix
                      .pull-right.black
                        span page
                        span
                          = paginate @favorites
      / Notify the student
      - unless (@profile == current_user) || current_user.administrator?
        .box-panel.box-gray.mB15.mT10
          .box-inner
            .buttons
              = button_to notify_student_mentor_path(@profile), remote: true, class: 'btn btn-blue btn-block btn-bevel pT15 pB15 mT20', data: { disable_with: t('views.labels.processing') } do
                h4 Invite student to book your service