.modal.fade.modal-default#upload-images-modal role='dialog' tabindex='-1'
  .modal-dialog.default-position.modal-lg role='document'
    .modal-content
      .modal-header
        p
          strong Upload Images
      .modal-body
        = simple_form_for @profile, url: profile_images_path(@profile, format: :js), method: :post, html: { id: 'upload-images-form', class: 'dropzone' } do |f|
      .modal-footer
        = link_to t('views.labels.upload'), '#', class: 'btn btn-blue', id: 'start-upload-images-button', data: { disable_with: t('views.labels.uploading') }