.modal.fade.modal-default#upload-files-modal role='dialog' tabindex='-1'
  .modal-dialog.default-position role='document'
    .modal-content
      .modal-header
        p
          strong Upload Files
      .modal-body
        = simple_form_for @profile.mentor.documents.new, url: profile_documents_path(@profile, format: :js), method: :post, html: { id: 'upload-files-form', class: 'dropzone form-horizontal' } do |f|
          = f.input :title, required: true
          = f.input :description, required: true, as: :text
      .modal-footer
        = link_to t('views.labels.upload'), '#', class: 'btn btn-blue', id: 'start-upload-files-button', data: { disable_with: t('views.labels.uploading') }