.container
  .account-settings.mT20
    .row
      = render 'profile_sidebar'
      / MENTORS
      .col-sm-9
        .box-panel.box-gray
          .row
            .col-sm-12
              = link_to 'VIEW PROFILE', profile_path(@profile), class: 'btn btn-flat btn-theme pull-right mR20 btn-sm'
          .row
            .col-sm-12
              .box-inner
                h3.mT-30.blue ACCOUNT SETTINGS
                .profile-security.mT30
                  = render 'security_settings'
                .profile-basic.mT30
                  - if @profile.mentor?
                    .mentor-account-settings-container.clearfix
                      = render 'mentor_account_settings'
                  - if @profile.student?
                    .student-account-settings-container.clearfix
                      = render 'student_account_settings'
                  / School
                  .universities.mT20
                    - if @profile.mentor?
                      - @profile.mentor.schools.each do |school|
                        = render partial: 'schools/form', locals: { school: school }
                    - if @profile.student?
                      - @profile.student.schools.each do |school|
                        = render partial: 'schools/form', locals: { school: school }
                  / add new school button
                  .mT20.mB20.clearfix
                    = link_to 'ADD ANOTHER SCHOOL OR DEGREE', '#', class: 'btn btn-blue pull-right', id: 'add-new-school'
                    .new-school-form.hidden.mT30
                      = render partial: 'schools/form', locals: { school: School.new }
                  / Alternative Contact
                  .alternative-contacts.mT20
                      - if @profile.mentor?
                        - @profile.mentor.alternative_contacts.each do |contact|
                          = render partial: 'alternative_contacts/form', locals: { contact: contact }
                      - if @profile.student?
                        - @profile.student.alternative_contacts.each do |contact|
                          = render partial: 'alternative_contacts/form', locals: { contact: contact }
                  / Add new alternative contact button
                  .mT20.mB20.clearfix
                    = link_to 'ADD ANOTHER ALTERNATIVE CONTACT', '#', class: 'btn btn-blue pull-right', id: 'add-new-alternative-contact'
                    .new-alternative-contact-form.hidden.mT20
                      = render partial: 'alternative_contacts/form', locals: { contact: AlternativeContact.new }