.container
  .profile-edit.mT20
    .row
      = render 'profile_sidebar'
      / MENTORS
      .col-sm-9
        .box-panel.box-gray
          .row
            .col-sm-12
              = link_to t('views.profile.labels.view_profile'), profile_path(@profile), class: 'btn btn-flat btn-theme pull-right mR20 btn-sm'
          .row
            .col-sm-12
              .box-inner
                h3.mT-30.blue PROFILE EDIT
                .profile-detail
                  .row
                    / PROFILE PICTURE
                    .col-sm-3
                      .lighter-black.mL10 Profile Picture
                      .mT10
                        = render 'profile_avatar'
                      .p5
                        = link_to t('views.profile.labels.change_profile'), '#', class: 'btn btn-theme btn-sm btn-block', id: 'edit-primary-photo', data: { toggle: 'modal', target: '#edit-primary-photo-modal'}
                        = link_to t('views.profile.labels.upload_picture'), '#', class: 'btn btn-theme btn-sm btn-block', id: 'upload-images', data: { toggle: 'modal', target: '#upload-images-modal'}
                    .col-sm-9
                      / PICTURES
                      .profile-photos.mT30
                        = render 'profile_recent_photos'
                .profile-basic.mT30
                  - if @profile.mentor?
                    .mentor-profile-edit-container
                      = render 'mentor_profile_edit'
                  - if @profile.student?
                    .student-profile-edit-container
                      = render 'student_profile_edit'

/ edit primary photo modal
= render 'edit_primary_photo_modal'
/ Upload Images
= render 'upload_images_modal'