<% if @profile.errors.empty? %>
  $('.profile-avatar').replaceWith('<%= escape_javascript(render "profile/profile_avatar") %>');
  $('.profile-photos').html('<%= escape_javascript(render "profile/profile_recent_photos") %>');
  $('.profile-main-avatar-with-edit .profile-avatar').prepend('<%= escape_javascript(render "profile/edit_profile_avatar_button", { profile: @profile }) %>');
<% else %>
  _n.renderErrorPopup('<%= @profile.errors.full_messages.first %>');
<% end %>