<% if @recipient %>
  $('div.modal-container').html('<%= escape_javascript(render "profile/private_message_form") %>')
  $('#send-private-message-modal').modal('show')
<% else %>
  <% if params[:private_message].present? %>
    $('#send-private-message-modal').modal('hide')
    _n.renderSuccessPopup('Private Message sent.')
  <% else %>
    _n.renderErrorPopup('Message must not be empty.')
  <% end %>
<% end %>