.container
  .p10.mT10
    - if @profile.student?
      = render 'student'
    - elsif @profile.mentor?
      = render 'mentor'
/ edit primary photo modal
= render 'edit_primary_photo_modal'
/ profile sharer
= render 'profile_sharer'