.container
  .modal-container
  .profile-my-students.mT20
    .row
      = render 'profile_sidebar'
      / MENTORS
      .col-sm-9
        .box-panel.box-gray
          .row
            .col-sm-12
              = link_to 'VIEW PROFILE', profile_path(@profile), class: 'btn btn-flat btn-theme pull-right mR20 btn-sm'
          .row
            .col-sm-12
              .box-inner
                h3.mT-30.blue MY STUDENTS
                h5.blue CURRENT & PAST STUDENTS
                .list-items
                  - @students.each do |user|
                    .box-panel.box-dark-gray.mB10
                      .box-inner
                        .row
                          .profile-detail
                            .col-sm-3
                              .thumbnail
                                  = image_tag(user.primary_photo.small_grid.url)
                          .col-sm-9
                            .clearfix.blue
                              h4.mT0.mB5 = user.first_name
                              p
                                span.ion-android-person
                                span  STUDENT
                              p.mT10 = user.current_country
                            .buttons.mT20
                              .row
                                .col-sm-4.text-center
                                  = link_to t('views.profile.labels.view_profile'), profile_path(user), class: 'btn btn-blue btn-block btn-sm mB10', data: { disable_with: t('views.labels.loading') }
                                .col-sm-4.text-center
                                  = button_to t('views.profile.labels.message'), private_message_profile_path(@profile, recipient: user.id), method: :get, remote: true, class: 'btn btn-blue btn-block btn-sm mB10', data: { disable_with: t('views.labels.loading')}

                .text-center
                  = paginate @students