$('.profile-security').html('<%= escape_javascript(render "profile/security_settings") %>')
<% if @profile.errors.empty? %>
  _n.renderSuccessPopup("<%= t('views.profile.update.success') %>")
<% else %>
  _n.renderErrorPopup('<%= @profile.errors.full_messages.first %>')
  $('.has-error input, .has-error select, .has-error textarea').focus()
<% end %>