.mB10.photo id="image-#{image.id}"
  .thumb-photo
    = image_tag(image.source.medium_grid.url)
  = button_to set_as_primary_photo_profile_image_path(image.imageable.id, image), form: { class: 'set_as_primary_photo' }, method: :put, remote: true, class: 'btn btn-blue mB5 mT5 btn-sm btn-block', data: { disable_with: t('views.labels.processing') } do
    span Set as Primary Photo
  = button_to profile_image_path(image.imageable.id, image), form: { class: 'delete_photo' }, method: :delete, remote: true, class: 'btn btn-danger btn-sm btn-block', data: { disable_with: t('views.labels.deleting') } do
    span = t('views.labels.delete')