<% if @profile.errors.empty? %>
  <% if params[:scheme] == 'true' %>
    $('.profile-photos .row').prepend('<%= escape_javascript(render @images) %>')
  <% else %>
    $('.profile-photos').html('<%= escape_javascript(render "profile/profile_recent_photos") %>');
  <% end %>
<% else %>
  _n.renderErrorPopup('<%= @profile.errors.full_messages.first %>');
<% end %>