.container
  .profile.mT20
    .row
      = render 'profile/profile_sidebar'
      / MENTORS
      .col-sm-9
        .box-panel.box-gray
          .row
            .col-sm-12
              = link_to t('views.profile.labels.view_profile'), profile_path(@profile), class: 'btn btn-flat btn-theme pull-right mR20 btn-sm'
          .row
            .col-sm-12
              .box-inner
                h3.mT-30.blue Photos
                .profile-detail
                  .row
                    .col-sm-12
                      .pull-right
                        = link_to 'UPLOAD PICTURES', '#', class: 'btn btn-theme btn-sm', id: 'upload-images', data: { toggle: 'modal', target: '#upload-images-modal'}
                    .col-sm-12
                      / PICTURES
                      .profile-photos.mT30 data-settings='1'
                        .row.mT5
                          = render @images, cache: true
                      .row
                        .col-sm-12
                          .pull-right
                            = paginate @images

/ edit primary photo modal
= render 'profile/edit_primary_photo_modal'
/ Upload Images
= render 'profile/upload_images_modal'