<% if @profile.errors.empty? %>
  Turbolinks.visit('<%= profile_images_path(@profile) %>')
  _n.renderSuccessPopup("<%= t('views.images.set_as_primary_photo.success') %>")
<% else %>
  _n.renderErrorPopup('<%= @profile.errors.full_messages.first %>');
<% end %>