doctype html
html
  head
    meta name='viewport' content='initial-scale=1.0, width=device-width'
    meta name='description' content=t('views.social_media.description')
    meta name='og:image' content=image_url('branding.png')
    title = site_title(yield(:title))
    = favicon_link_tag 'favicon.png'
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = Gon::Base.render_data
    = javascript_include_tag 'application', 'data-turbolinks-track' => true, 'data-turbolinks-eval' => false
    = csrf_meta_tags
body class="#{controller_name} #{action_name}" data-user=(@profile.try(:id) || current_user.try(:id)) data-student=current_user.student?.to_s data-timezone=current_user.timezone
  = query_diet_widget(:bad_count => 20, :bad_time => 1000) if Rails.env.development?
  header
    .message-notice
      = @notice
    = render 'shared/header'
  .wrapper
    .container-fluid#main-content
      .container
        .flash-messages
          = render 'shared/flash'
      = yield
  footer
    = render 'shared/footer'
  = render 'shared/sharer'
  = render 'shared/loader'
  .modal-holder